.THIS .display-inline{
	display:inline-block;
}
.THIS .slds-section_title{
    font-weight: 400 !important;
    font-size: 1.75rem;
}
.THIS .slds-section_no_title{
	visibility: hidden;
}
.THIS .slds-section_title_less_margin{
	margin-bottom: -10px
}
.THIS .texttitle {
    font-family: Nexa;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}
.THIS .slds-accordion .slds-accordion__list-item .slds-accordion__summary .slds-truncate {
	white-space: normal;
}
.THIS .description {
    white-space: pre-wrap; 
    font-family: inherit; 
    font-style: italic;
}