.THIS .customRequired{
 font-weight: 400; } 

.THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } 

.THIS .none{
 display:none; 
}

.THIS .slds-theme_error{
	min-width: auto;
}