.THIS .cpd-links {
  /* background: #efefef; */
  min-width: 300px;
  /* min-height: 356px; */
}

.THIS img {
  width: 33px;
  min-width: 33px;
  height: auto;
}

.THIS ul {
  list-style-type: disc;
  padding-left: 27px;
}