.THIS .contentPanel {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.THIS .contentPanel:before,
.THIS .contentPanel:after {
    content: " ";
    display: table;
}
.THIS .contentPanel:after {
    clear: both;
}

.THIS .innerSection {
	max-width: 1400px;
	margin: auto;
}
.THIS .sectionOne {
	border-bottom: 1px solid #cccccc;
}
.THIS .leftContentPanel {
	border-right: 1px solid #cccccc;
	padding: 1.5rem;
}
.THIS .rightContentPanel {
	padding: 1.5rem;
}

@media (max-width: 1023px) {
	.THIS .leftContentPanel {
		border-right: none;
		border-bottom: 1px solid #cccccc;
	}
}

@media (max-width: 767px) {
	.THIS .leftContentPanel {
		padding: 0.5rem;
	}
	.THIS .rightContentPanel {
		padding: 0.5rem;
	}
}

/* Required for truncate to work responsively */
.THIS .home-links {
	min-width: 0;
	width: 100%;
}

.THIS .reco-card:nth-child(n+6) {
  display: none;
}

@media (max-width: 767px) {
	.THIS .home-chart {
		padding-bottom: 1.5rem;
	}
}

.THIS .cuf-showMoreContainer{
	display: none;
}