.THIS .key {
  margin-top: -224px;
} 
.THIS .container {
  position: relative;
  text-align: center;
 align:right;
}
.THIS .a{
    float:right;
}
.THIS .al{
color: white;
background-color: rgb(194, 57, 52);
font-size: 10px;
position: absolute;
line-height: 20px;
border-radius:50%;
border: rgb(194, 57, 52);
left: 10px;
bottom: 12px;
    width:20px;
}

.THIS .label {
  font-size: 14px;
  margin-bottom: 35px;
  line-height: 1;
}	

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.THIS .fade-in {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration: 1s;
  animation-delay: 1.5s
}

.THIS {
  width: 238px;
  margin: auto;
}

.THIS .donut-container {
  transform: scaleX(-1);
}