.THIS .date-boxes {
  display: flex;
  justify-content: space-around;
}

.THIS .date-box {
  padding: 14px;
  flex-grow: 1;
}

.THIS .triennium {
  /* color: white; */
  /* background: #143672; */
  background: #efefef;
}

.THIS .annual {
  /* color: white; */
  /* background: #58595B; */
  background: #efefef;
}

.THIS p.dates {
  font-family: 'Nexa', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
}

.THIS ui.outputDate {
  font-family: 'Nexa', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
}