.THIS {
  color: white;
  line-height: 60px;
  display: block;
  cursor: pointer;
}

.THIS:hover {
	background-color: #0D244C;
}

@media (max-width: 424px) {
  .THIS {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.THIS.linkedInbackground {
     background: #0b1e63 !important;
}