.THIS .faca-checkboxes {
    overflow: hidden;
}
.THIS .faca-align-horizonatlly {
    float: left;
}
.THIS .modalspinner .slds-box {
    background-color: #b7bf10;
}
.THIS .modalspinner {
    position:absolute;
    height:100%;
    width:100%;
    z-index: 500;
}

.THIS .modalspinner .slds-box {
    background-color: #b7bf10;
}

.THIS .modalspinner h2.slds-text-heading--small {
    padding-bottom: 100px;
    color: white;
}
.THIS .centered {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
.THIS .bold-separator {
    border-bottom: 2px solid grey;
}
.THIS .slds-text-heading--small.alert-message {
    color: white !important;
}
.THIS .inline-spinner {
    width: 19px;
}
.THIS .slds-table th {
    white-space: normal;
}