<template>
    <lightning-card title="Related Pathway" icon-name="custom:custom63">
        <lightning-button label="Refresh" onclick={handleRefreshView} slot="actions"></lightning-button>                
        <div class="slds-m-around_medium">            
            <template if:true={pathways.data}>                

                <table id="table" class="slds-table slds-table_bordered slds-border_left slds-border_right">
                    <thead>
                        <tr class="slds-line-height_reset">
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Name">Name</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Pathway">Pathway</div>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={pathways.data} for:item="pathway">
                            <tr key={pathway.Id}>                                
                                <td><lightning-button variant="base" label={pathway.Name} title="View Pathway" onclick={handlePathwayView} value={pathway.Id}></lightning-button></td>
                                <td>{pathway.FT_Pathway__c}</td>
                            </tr>                                
                        </template>
                    </tbody>
                </table>

            </template>            
        </div>        
    </lightning-card>
</template>