.THIS .slds-wizard__progress{
    z-index: 0;
}
.THIS .slds-wizard .slds-is-active .slds-wizard__marker, .THIS .slds-wizard__progress .slds-wizard__progress-bar {
    background: rgb(0, 163, 221);
}
.THIS .slds-wizard__item a:hover .slds-wizard__marker, .THIS .slds-wizard__item a:focus .slds-wizard__marker {
    background: #007daa;
}
.THIS .slds-wizard__item:last-child .slds-wizard__label{
	margin-left: -50px;
}