.THIS .slds-table_header-fixed_container,
.THIS .slds-table--header-fixed_container {
	padding-top: 3rem;
}

.THIS .slds-table thead th .slds-truncate {
	white-space: normal;
}

.THIS .slds-table thead th .slds-cell-fixed a {
	height: 3rem;
}

.THIS .filters .slds-button + .slds-button {
    margin-left: 0;
}

.THIS .filters .date-input {
	max-width: 50%;
}