.THIS.large {
    display:none !important;
}

.THIS.default {
    display:block !important;
}


@media only screen and (min-width: 600px){
    .THIS.large {
        display:block !important;
    }
    .THIS.default {
        display:none !important;
    }
}