/* Colors */

/* Sizing */

/* Profile menu */

.THIS .selfServiceUserProfileMenu .menuList.popupTargetContainer.uiPopupTarget.uiMenuList.uiMenuList--default {
  background: #00A3DD;
  margin-top: 16px;
  z-index: 5001;
}

.THIS .selfServiceUserProfileMenu li.uiMenuItem {
  border-bottom: 1px solid white;
}

.THIS .selfServiceUserProfileMenu li.uiMenuItem:last-child {
  border-bottom: 1px solid transparent;
}

.THIS .selfServiceUserProfileMenu a {
  color: white;
}

@media only screen and (min-width: 481px) {
  .THIS .slds-button {
    max-width: 300px;
  }
}

.THIS .cuf-feedElementIterationItem.slds-feed__item {
  display: none;
}

.THIS .cuf-feedElementIterationItem.slds-feed__item:nth-child(-n+4) {
  display: block;
}

/* Profile menu background color */

/* Profile menu link text color */

/* Colors */

/* Sizing */

/* Colors */

/* Sizing */

/* Override search */

@media only screen and (max-width: 767px) {
  .THIS .forceCommunitySearchBox .search-input-group {
    position: relative;
    display: inline-block;
    width: auto;
  }
  .THIS button.slds-button.slds-button--neutral.mobile-search-icon.uiButton {
    background: #00629E;
    color: white;
    width: 75px;
    border-radius: 61%;
    height: 75px;
    margin: 0 auto;
  }
  .THIS .search-container {
    border: 1px solid transparent;
  }
}

.THIS .body-search {
  max-width: 740px !important;
}

.THIS .search-field-wrapper {
  border: 3px solid #EFEFEF;
}

@media only screen and (max-width: 47.9375em) {
  .THIS .forceCommunitySearchBox .search-container {
    border-radius: 0;
  }
  .THIS .search-container {
    border: 1px solid #EFEFEF;
  }
  .THIS .big-search-container.forceCommunitySearchBox {
    padding: 0 10px;
  }
}

/* Colors */

/* Sizing */

@media only screen and (min-width: 768px) {
  .THIS nav {
    padding: 16px 0;
  }
  .THIS nav ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
  }
  .THIS nav a {
    border: 3px solid transparent;
  }
  .THIS nav .slds-is-active, .THIS nav a:active {
    background-color: transparent !important;
    border-bottom: 3px solid #00629E;
  }
}

.THIS .hundred-high {
  height: 100%;
}

/* heading font */

@font-face {
  font-family: 'NexaBold';
  src: url("/sfsites/c/resource/CAANZ_Public_FontImg/fonts/NexaBold.woff") format("woff");
}

@font-face {
  font-family: 'Nexa';
  src: url("/sfsites/c/resource/CAANZ_Public_FontImg/fonts/Nexa.woff") format("woff");
}

@font-face {
  font-family: 'Berling-Reg';
  src: url("/sfsites/c/resource/CAANZ_Public_FontImg/fonts/Berling-Reg.woff") format("woff");
}

.THIS .cCaanzccMySubscription a#mySub span, .THIS .forceCommunitySearchBox button span.label.bBody.truncate, .THIS h1, .THIS h2, .THIS h3, .THIS nav a span {
  font-family: 'NexaBold', Arial, Helvetica, sans-serif;
}

.THIS p, .THIS p span, .THIS span p {
  font-family: 'Berling-Reg', Georgia, serif;
}

.THIS {
  position: relative;
  z-index: 1;
}

.THIS *, .THIS *:after, .THIS *:before {
  box-sizing: border-box;
}

.THIS .main {
  max-width: 1400px;
  margin: 0 auto;
}

.THIS a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.THIS button.uiButton.forceCommunityCustomButton:hover {
  opacity: 0.6;
}

.THIS .header-top {
  height: 60px;
}

.THIS .header-top use {
  color: white;
}

.THIS .header-top svg {
  color: white;
}

.THIS .outer {
  background: #143672;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.THIS .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}