.THIS .slds-p-horizontal_small{
    padding: 0!important;
}
.THIS .slds-card__body{
    padding: .75rem 1rem 0;
}
.THIS .customErrorBox{
    border-color: #f2a199;
    background-color: #fdedea;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px
}