.THIS .row {
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px double rgb(204, 204, 204)!important;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.THIS h1.texttitle {
    margin-bottom: 10px;
    float: left;
    text-align: left;
    border-color: rgb(204, 204, 204);
    margin-left: 0%;
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 16px;
    font-family: 'Nexa', Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

.THIS h1.texttitle_small {
    margin-bottom: 5px;
    float: left;
    text-align: left;
    border-color: rgb(204, 204, 204);
    margin-left: 0%;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 5px;
    font-family: 'Nexa',Arial,Helvetica,sans-serif;
}

.THIS .help-text svg {
    vertical-align: top;
}