.THIS {
  color: white;
  line-height: 60px;
  display: block;
}

.THIS:hover,
.THIS:focus,
.THIS:active {
  color: white;
}

.THIS .gone {
  display: none;
}


@media (max-width: 424px) {
  .THIS {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}