.THIS span.slds-checkbox {
	margin-bottom: 12px;
	display: inline-block;
	width: 100%;
}
.THIS .one-column-checks span.slds-checkbox {
	width: 100%;
}
.THIS .two-column-checks span.slds-checkbox {
	width: 50%;
}
.THIS .slds-form-element__label{
    line-height: 1.25;
}
.THIS .optout-options span.slds-checkbox:last-child{
	width: 100%;
}