.THIS .slds-accordion__summary{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.THIS input[type="checkbox"] {
   	min-width: 16px;
}