.THIS .footercss{
    background-color : #505050;
    color: #ffffff;
}

.THIS .divcss{
    display: flex;
}

@media screen and (max-width: 330px) and (min-width: 300px) {
    .THIS .slds-small-size--1-of-12 {
        width: 100%;
        float: none;
    }
    
}

@media screen and (max-width: 800px) and (min-width: 760px) {
    .THIS .slds-small-size--1-of-2 {
        width: 100%;
        float: none;
    }
    .THIS .divcss{
        width:100%;
        display: block;
    }    
}

.THIS .customgrid{
    margin-top: 0px;
}