<!-- 
@changehistory   #FIX002 - WDCi-LKoh - 04/09/2019 - Fixed the issue with Subject Paper selection
@changehistory   #FIX005 - WDCi-LKoh - 04/09/2019 - Change Request to hide the Subject Paper panel if there is no valid Subject Paper
-->
<template>
    <template if:true={isPanelVisible}> <!-- #FIX005 -->
        <!--
        <lightning-accordion aura:id="lwcEduHistAccordion" allow-multiple-sections-open="true" active-section-name="SH">
            <lightning-accordion-section name="SH" label="Subject History">
                -->
                
                <div class="slds-text-heading_small slds-m-top_medium">Subject History</div>

                <!--Top Instruction -->
                <div class="slds-grid slds-align_absolute-center slds-grow slds-cell-wrap">
                    <div class="slds-col" style="font-size:13px;">
                        <lightning-formatted-rich-text value={topInstruction}></lightning-formatted-rich-text>
                    </div>
                </div>

                <div class="slds-float--right slds-m-bottom_medium">
                    <button class="slds-button slds-button--brand cFf_ButtonControl" title="Save" onclick={saveStudentPaper} aria-label="Save">Save</button>
                </div>
                <table>
                    <tr>
                        <th><lightning-formatted-rich-text value="&lt;b&gt;Subject Code&lt;/b&gt;"></lightning-formatted-rich-text></th>
                        <th><lightning-formatted-rich-text value="&lt;b&gt;Subject Name&lt;/b&gt;"></lightning-formatted-rich-text></th>
                        <th class="slds-align_absolute-center"><lightning-formatted-rich-text value="&lt;b&gt;Passed/Credited&lt;/b&gt;"></lightning-formatted-rich-text></th>
                    </tr>

                    <template for:each={wrapperMapList} for:item="wrapperMap">
                        <tr key={wrapperMap}>
                            <td data-label="Code" class="slds-cell-wrap">                            
                                <p class="field-title" title="Code">{wrapperMap.uniSubjectCode}</p>
                            </td>
                            <td data-label="Name" class="slds-cell-wrap">
                                <p class="field-title" title="Name">{wrapperMap.uniSubjectName}</p>
                            </td>
                            <td data-label="Completed" class="slds-cell-wrap slds-align_absolute-center">                            
                                <lightning-input type="checkbox" checked={wrapperMap.selected} value={wrapperMap.selected} data-item={wrapperMap.uniSubjectId} onchange={handleChange}></lightning-input> <!-- #FIX002 - changed the data-item to use uniSubjectId -->
                            </td>
                        </tr>
                    </template>                
                </table>
                                
                <div class="slds-text-heading_small slds-m-top_large">Additional transcript information</div>

                <!-- Bottom Instruction -->
                <div class="slds-grid slds-align_absolute-center slds-grow slds-cell-wrap">
                    <div class="slds-col" style="font-size:12px;">
                        <lightning-formatted-rich-text value={bottomInstruction}></lightning-formatted-rich-text>
                    </div>
                </div>
                
                <lightning-input value={remarkValue} onchange={handleNoteChange}></lightning-input>
                
                <div class="slds-float--right slds-m-top_medium">
                    <button class="slds-button slds-button--brand cFf_ButtonControl slds-align_absolute-center" title="Save" onclick={saveStudentPaper} aria-label="Save">Save</button>
                </div>
                <!--
            </lightning-accordion-section>
        </lightning-accordion>
        -->
    </template>
</template>