.THIS #header {
    margin: 20px 0 20px 0;
}

.THIS #professional-development {
    margin: 0 0 20px 0;
}

.THIS div.slds-grid .slds-col--padded .ui-widget {
    margin: 10px 0 !important;
}

.THIS li.sectionContainer {
    margin: 0 0 30px 0;
	border: 1px solid #58595b !important;
    padding: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}