/****************************************************************************************
	[FORMS]
*****************************************************************************************/

/* [GLOBAL RULES]
-------------------------------------------------------*/
textarea
{
	overflow: auto;
}
button, input[type="submit"], input[type="image"]
{
	cursor: pointer;
}
button
{
	overflow: visible;
	width: auto;
	cursor: pointer;
}

/* [NARROW FORM]
-------------------------------------------------------*/
/* Wrappers */
.two-col .form-wrapper-narrow
{
	background: url("../images/template/form-narrow-bg.gif") no-repeat 0 0;
	padding-top: 8px;
	width: 390px;
}
.form-wrapper-narrow.margin-top
{
	margin-top: 1.7em;
}
.two-col .form-wrapper-inner-narrow
{
	background: url("../images/template/form-bg2-380.png") no-repeat 0 100%;
	padding: 16px 26px 45px;
	float: left;
	width: 328px;
}

/* [STANDARD FORM]
-------------------------------------------------------*/
/* Wrappers */
.form-wrapper
{
	padding-top: 8px;
	background: url("../images/template/reg-form-bg.gif") no-repeat 0 0;
}

#reg-main .form-wrapper {
    padding-top: 0px;
	background: url("../images/template/reg-form-bg.gif") no-repeat 0 0;
}

.two-col .form-wrapper
{
	background-image: url("../images/template/reg-form-wide-bg.gif");
}
.thickbox .form-wrapper
{
	background-image: url("../images/template/reg-form-bg-tbox.gif");
	margin-left: 25px;
}
.form-wrapper.margin-top
{
	margin-top: 1.7em;
}

.form-wrapper-inner,
.form-wrapper-footer
{
	background: url("../images/template/reg-form-bg2.png") no-repeat 0 100%;
	float: left;
}

.form-wrapper-inner
{
	padding: 16px 26px 45px;
	width: 651px;
}

.form-wrapper-header {
    background: url('../images/template/reg-form-bg.gif') no-repeat 0 0;
    padding-top: 8px;
}

.form-wrapper-footer
{
    height: 23px;
    padding: 0;
    width: 703px;
}

#reg-usertype {
    
}

.two-col .form-wrapper-inner
{
	background-image: url("../images/template/reg-form-wide-bg2.png");
	width: 729px;
}
.thickbox .form-wrapper-inner
{
	background-image: url("../images/template/reg-form-bg2-tbox.gif");
	width: 517px;
	padding: 14px 26px 20px;
}
/* Nested */
.form-nested
{
	background-color: #fff;
	border: 1px solid #C9C9C9;
	padding: 16px;
	float: left;
	width: 617px;
}
#update-details .form-nested
{
	width: 707px;
	margin-bottom: 1.5em;
}
/* Visible Legend */
.form-hdr
{
	font-size: 1.5em; /* 18px */
	font-weight: bold;
	padding: 0 0 1.2em 0;
	color: #000;
	line-height: 1.3;
}
.form-nested .form-hdr
{
	font-size: 1.08em;
}
/* 18px */
#reg-aside .form-hdr
{
	font-size: 100%;
	padding-bottom: .8em;
}
/* Row */
.form-row
{
	float: left;
	padding-bottom: 1.5em;
	width: 100%;
}
.form-row.padding-off
{
	padding: 0;
}
/* Labels */
.form-row label, .form-row .form-lbl
{
	width: 14em;
	float: left;
	margin: 0 1.5em 0 0;
	display: block;
}
.form-row label em, .form-row .form-lbl em, .form-row span em
{
	display: block;
	font-size: .91em; /* 11px */
}
#reg-main .form-row label em, #reg-main .form-row .form-lbl em, #reg-main .form-row span em 
{
    display: inline;   
}
.form-row span ul
{
 padding-left: 20px;
}
/* Inputs */
.txt-input, textarea
{
	font: inherit;
	width: 20em;
	padding: .15em .25em;
	background: #fff url("../images/template/txt-input-bg.gif") repeat-x 0 0;
	border: 1px solid #C3C3C3;
	color: #666;
}
.form-wrapper .txt-input, .form-wrapper textarea
{
	border-color: #A5ACB2;
	line-height: 1.4;
	padding: .25em .25em;
}
.txt-input.sml
{
	width: 5.5em;
}
.txt-input.sml2
{
	width: 2.5em;
}
.txt-input.med
{
	width: 10em;
}
.txt-input.lrge
{
	width: 23.45em;
}
textarea
{
	font-family: Arial, Helvetica, sans-serif;
	height: 8.3em;
}
textarea.lrge
{
	width: 720px;
	height: 10em;
}
select
{
	font: inherit;
	color: #666;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
	border-color: #ccc; /* CSS3 */
	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
}
/* Column [used for multiple inputs] */
.form-column
{
	margin-left: 15.5em;
}
/* Global Rules */
.form-column label, #login-logout .form-row .form-column label
{
	width: auto;
	float: none;
	margin: 0;
	display: inline;
}
.form-column ul, .form-column p
{
	margin: 0;
}
.form-column p
{
	margin-top: .4em;
}
.form-column li,
#reg-main-account .form-row li
{
	margin-bottom: .5em;
	padding: 0;
	background: none;
}
.form-column li.last
{
	margin: 0;
}

.form-row li label, .form-row li input, .form-row label .tooltip, .form-row .form-lbl .tooltip
{
	vertical-align: middle;
}
/* Horizontal List */
.form-column .horizontal.margin-on
{
	margin-bottom: .4em;
}
.form-column ul li .horizontal
{
	margin: 4px 0 0 20px;
}
.form-column .horizontal li,
#reg-main-account .form-row .horizontal li
{
	display: inline;
	margin-right: 1.2em;
}
/* Misc */
.form-column select.spacing
{
	margin-right: 10px;
}
/* Indent Labels */
.form-column .lbl-indent li
{
	position: relative;
	padding-left: 24px;
}
.form-column .lbl-indent li input
{
	position: absolute;
	top: -1px;
	left: 0;
}
.form-column .lbl-indent li label
{
	display: block;
}
/* Columns */
.form-column .col
{
	float: left;
	width: 30%;
}
.form-column .col.dynamic
{
	background: #E2E2E2 url("../images/template/form-col-dynamic-bg.gif") no-repeat 0 0;
	padding: 10px 20px;
	margin-left: 10px;
}
#update-details .form-column .col.dynamic
{
	background-image: url("../images/template/form-col-dynamic-bg(update).gif");
}
.form-column .col.dynamic.uni
{
	background-image: url("../images/template/form-col-dynamic-bg2.gif");
}
#update-details .form-column .col.dynamic.uni
{
	background-image: url("../images/template/form-col-dynamic-bg2(update).gif");
}
/* Feedback Icon */
.form-column img.feedback-icon
{
	margin-left: 5px;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}

/* Submit */
.submit
{
	width: 100%;
	clear: both;
	text-align: right;
}
.form-wrapper .submit
{
	position: relative;
	padding-top: 1.5em;
}
.form-wrapper .submit.padding-off
{
	padding: 0;
}
.thickbox .form-wrapper .submit
{
	position: static;
}
#reg-main .form-wrapper .submit a,
.form-wrapper .submit a
{
	position: absolute;
	left: 0;
	top: 1.5em;
}
.form-wrapper .form-nested .submit
{
	padding-top: 0;
}

/* [OTHER FORMS]
-------------------------------------------------------*/
/* Global Site Search */
#search
{
    background: url("../images/template/search-bg.png") no-repeat scroll 0 0 transparent;
    font-size: 0.846em;
    height: 21px;
    position: absolute;
    right: 17px;
    top: 9px;
    width: 180px;
}
#search .txt-input
{
    background: none repeat scroll 1px 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #000000;
    font-size: 100%;
    width: 143px;
}
#search .btn-submit
{
    position: absolute;
    right: 10px;
    top: 4px;
}

/* My Account Login Panel (main nav) */
#nav-main #ddown-login fieldset
{
	position: relative;
}
#nav-main #ddown-login .form-hdr
{
	font-size: 1.272em; /* 14px */
	padding: 0;
	color: #fff;
}
#nav-main #ddown-login .txt-input
{
	width: 134px;
	border-color: #F1B6C0;
	margin-top: 9px;
	font-size: 100%; /* 11px */
	padding: .35em 4px;
	color: #000;
}
#nav-main #ddown-login .txt-input[type="text"]:focus, #nav-main #ddown-login .txt-input[type="password"]:focus
{
	border-color: #E47488;
}
#nav-main #ddown-login .btn-submit
{
	position: absolute;
	bottom: .2em;
	right: -26px;
}
#nav-main #ddown-login label
{
	display: block;
	margin: 4px 0 0 -3px;
}
#nav-main #ddown-login label *
{
	vertical-align: middle;
	font-style: normal;
}
#wrapper #nav-main li#nav-myact #ddown-login fieldset a
{
	display: inline;
	margin: 0 0 0 3px;
}

/*---Global Search Page---*/
/* Refine Your Search */
#search-filter .txt-input
{
	width: 145px;
	padding: 2px 2px;
	margin-bottom: 9px;
	font-size: 100%;
}
#search-filter .btn-refine
{
	margin-bottom: 20px;
}
#search-filter .feedback-sml
{
	font-size: .91em; /* 11px */
	margin-bottom: .6em;
}
/* Search Sorting */
#search-grouping
{
	border: 1px solid #D8D8D8;
	margin-bottom: 1.5em;
	padding: 12px;
	clear: both;
	width: 757px;
}
#search-grouping *
{
	vertical-align: middle;
	margin-right: 8px;
}
#search-grouping label
{
	font-weight: bold;
}

/* Filters - Article, Media and Products/Brands */
#filter-inner
{
	border: 1px solid #D8D8D8;
	float: left;
	width: 494px;
	margin-bottom: 1.5em;
	padding: 8px 12px;
}
#filter-inner.alt
{
	padding: 16px 12px;
}
.two-col #filter-inner.alt
{
	width: 755px;
}
#filter-inner .form-row
{
	padding: 0;
	margin-right: 20px;

}
#filter-inner .form-row.first
{
	width: 110px;
}
#content-main #filter-inner .form-row.datepicker
{
	width: 213px;
}
#content-main fieldset.btn-position #filter-inner .form-row.datepicker
{
	width: 300px;
}
#filter-inner .form-row.last, #filter-inner .form-row.second
{
	width: 118px;
	margin: 0;
}
#filter-inner .form-row.second
{
	margin-right: 20px;
}
#filter-inner.alt .form-row
{
	width: 160px;
}
fieldset.products-brands #filter-inner .form-row
{
	width: 225px;
	margin-right: 28px;
}
fieldset.products-brands #filter-inner .form-row.last
{
	margin: 0;
}
fieldset.standards-listing #filter-inner .form-row
{
	width: 494px;
	margin: 0 0 8px;
}
.two-col #filter-inner.alt .form-row
{
	width: 209px;
}
.two-col #content-main #filter-inner .form-row.datepicker
{
	width: 213px;
}
#filter-inner .form-row label, #filter-inner .form-row em
{
	width: auto;
	float: none;
	margin: 0 0 .4em;
	display: block;
	font-weight: bold;
	font-style: normal;
	color: #484646;
}
#filter-inner .form-row label.alt
{
	display: inline;
	margin: 0;
	padding: 0;
}
fieldset.standards-listing #filter-inner.alt label
{
	margin-bottom: .1em;
}
#filter-inner .form-row select, #filter-inner.alt .form-row select.full-width, .two-col #filter-inner.alt .form-row select
{
	width: 100%;
}
#filter-inner .form-row.middle select
{
	width: auto;
}
#filter-inner .form-row input.txt-input-alt
{
	padding: .10em;
	width: 90%;
	border: 1px solid #ABADB3;
	color: #666;
}
#filter-inner .form-row input.txt-input-alt.dp
{
	width: 5.3em;
}
fieldset.products-brands #filter-inner .form-row select
{
	width: 155px;
	margin-right: 10px;
}
fieldset.products-brands #filter-inner .form-row select, fieldset.products-brands #filter-inner .form-row input
{
	vertical-align: middle;
}
fieldset.standards-listing #filter-inner .form-row select
{
	width: 100%;
}
#filter-inner .submit
{
	border-top: 1px solid #D8D8D8;
	margin: 8px 0 0;
	float: left;
	width: 494px;
	clear: none;
	padding-top: 8px;
}
#filter-inner.alt .btn-submit
{
	margin-top: 22px;
	position: relative;
	bottom: 2px;
}
fieldset.standards-listing #filter-inner.alt .btn-submit
{
	margin: 0;
	position: static;
	clear: both;
}
fieldset.products-brands #filter-inner .btn-submit
{
	margin-top: 0;
	position: static;
}
fieldset.btn-position #filter-inner .btn-submit
{
	float: right;
	position: static;
}
/* Alternate Filter - inCA Training Pages */
.filter-alt-inca
{
    background: url("../images/template/filter-alt-bg.gif") repeat-x 0 0;
    margin-bottom: 2px;
    padding-right: 5px;
    padding-left: 16px;
    height:42px;
}
.filter-alt-inca select,
.filter-alt-inca label
{
	float:right;
    margin-top:11px;
	margin-right: 5px;
}

.filter-alt-inca label
{
    line-height: 1.75;
	font-weight: bold;
	color:Black;
}
.filter-alt-inca br
{
    clear: both;
    float: none;
}
/* Alternate Filter - Training Pages */
.filter-alt
{
	background: url("../images/template/filter-alt-bg.gif") no-repeat 0 0;
	padding: 12px 16px;
}
#workshop-detail .filter-alt {background: none; padding: 6px 0 16px}
	.js #workshop-detail .filter-alt input {display: none}
.filter-alt *
{
	vertical-align: middle;
	margin-right: 5px;
}
.filter-alt label
{
	font-weight: bold;
}
.filter-alt .indent
{
	margin-left: 168px;
}
#workshop-detail .filter-alt .indent
{
	margin-left: 0;
}

/* Various Buttons */
.btn-like-this-article, .two-col-hdr button, #panel-selections .btn-close, .panel h2 button, .btn-add-new-school, #search-filter li button, #update-details h2 button, .selections button
{
	border: 0;
	padding: 0;
	background: none;
}
.two-col-hdr button img
{
	position: relative;
	right: 3px;
}
.btn-add-new-school
{
	margin-bottom: 4px;
}

/* Login/Logout Panel */
#login-logout
{
	background: url("../images/template/login-bg.png") no-repeat 0 100%;
	width: 622px;
	margin: 20px auto 0;
	padding-bottom: 30px;
}
#login-logout-inner
{
	margin: 0 80px 0 110px;
}
/* Main Header */
#login-logout h1
{
	background: #ECECEC url("../images/template/login-hdr-bg.gif") repeat-x 0 100%;
	color: #444343;
	font-size: 1.25em; /* 15px */
	padding: 8px 12px;
	margin-bottom: 24px;
}
/* Form */
#login-logout .form-row
{
	padding-bottom: 10px;
}
#login-logout .form-row label
{
	width: 5.2em;
	margin-right: 1em;
	text-align: right;
	font-weight: bold;
	padding-top: 2px;
}
#login-logout.reset .form-row label
{
	width: 9em;
}
#login-logout .form-row .txt-input
{
	width: 18em;
}
#login-logout .form-column
{
	margin-left: 6.2em;
}
#login-logout .form-column p
{
	margin: .4em 0 0 -4px;
}
#login-logout .form-column p *
{
	vertical-align: middle;
}
#login-logout .form-column label
{
	font-weight: normal;
	text-align: left;
	padding: 0;
}
#login-logout .form-column img
{
	margin-left: 5px;
}
#login-logout .form-column p input
{
	position: relative;
	bottom: 1px;
}
/* Submit */
#login-logout .submit
{
	margin: 5px 0 0 6.2em;
	text-align: left;
}
#login-logout.reset .submit
{
	margin-left: 10em;
}
#login-logout .submit input
{
	margin-right: 16px;
}
#login-logout .submit p
{
	margin: 1em 0 0 0;
}

a.sidelink,
a:link.sidelink,
a:visited.sidelink {
    color: #666666;
    font-size: 0.8em;
    font-weight: normal;
}

/* Add Article Comment */
#add-comment
{
	background: url("../images/template/add-comment-bg.gif") no-repeat 0 100%;
	padding: 0 17px 30px;
	font-size: .91em; /* 11px */
	position: relative;
	border-top: 1px solid #E5E5E5;
	width: 486px;
}
#add-comment p
{
	margin: 0;
	width: 365px;
}
#add-comment p.feedback-sml
{
	width: auto;
	margin-bottom: 1em;
}
#add-comment label
{
	display: block;
	border-bottom: 1px solid #E5E5E5;
	color: #000;
	font-size: 1.27em; /* 14px */
	font-weight: bold;
	margin: 0 -17px 15px;
	padding: 5px 10px;
}
#add-comment textarea
{
	width: 476px;
	height: 70px;
	padding: .15em 4px;
	margin-bottom: 1em;
}
#add-comment input
{
	position: absolute;
	right: 17px;
	bottom: 18px;
}

#enquiry,
#reg-main-account
{
	font-size: .91em; /* 11px */
}

/* Enquiry Form */
#enquiry
{
	padding: 25px 30px;
	margin: .6em 0 1.5em;
	float: left;
	width: 719px;
	border: 1px solid #D9D9D9;
}
#enquiry .form-row,
#reg-main-account .form-row
{
	width: 719px;
	padding-bottom: 1em;
}
#enquiry .form-column,
#reg-main-account .form-column
{
	margin: 0;
	float: left;
	width: 280px;
}
#reg-main-account .termsofuse-agreement .form-column 
{
	width: 320px;
}

#reg-main-account .termsofuse-agreement .form-column label
{
    float:left;
}

#reg-main-account .termsofuse-agreement .form-column input
{
    margin-left: 10px;
}

#enquiry .form-column.alt,
#reg-main-account .form-column.alt
{
	margin-left: 32px;
}
#enquiry label,
#reg-main-account label
{
	margin: 0 0 .3em;
	display: block;
	color: #484646;
	width: auto;
	float: none;
}
#reg-main-account li label 
{
    display:inline;
}
#reg-main-account li input[type="radio"]
{
    margin-left:0;
}

#enquiry .txt-input,
#enquiry select,
#enquiry textarea
{
	font-size: 100%;
}
#enquiry .txt-input,
#reg-main-account .txt-input
{
	width: 274px;
}
#reg-main-account .txt-input.sml
{
    width: 5.5em;
}
#enquiry select,
#reg-main-account select
{
	width: 100%;
}
#enquiry textarea,
#reg-main-account textarea
{
	width: 710px;
	height: 6.5em;
}
#reg-main-account-legal legend a {
    background: url("../images/icons/print.gif") no-repeat scroll 0 50% transparent;
    margin-left: 400px;
    margin-top: 2px;
    padding-left: 24px;
}
#reg-main fieldset
{
    padding-bottom:20px;
}
#reg-main .col
{
    width:110px;
}
#reg-main .feedback-sml {
    background-position: 8px 6px;
}

#logindetails .form-row {
/*    width: 300px;*/
    float: none;
}

#logindetails .form-row .form-column {
    float: left;
}

#logindetails .txt-input
{
    width: 240px;
    margin-bottom: 15px;
}

#logindetails table {
    border: 0;
}

#logindetails tr {
    
}

#logindetails td {
    padding: 0;
    border: 0;
}

#logindetails td label {

}

#logindetails label.error {
    display: none;
}

#termsofuse .form-row
{
    width:auto;
}
#enquiry .submit
{
	padding-top: .4em;
}

/* Select Filters - My Page */
#mypage-panels .panel fieldset
{
	background-color: #E9E9E9;
	padding: 4px 13px;
	border-bottom: 5px solid #fff;
	width: 227px;
	min-height: 21px;
}
#mypage-panels .panel fieldset.alt
{
	padding: 4px 6px;
	width: 241px;
	margin: 0;
}
#mypage-panels .panel fieldset *
{
	vertical-align: middle;
}
#mypage-panels .panel fieldset label
{
	margin-right: 6px;
}
#mypage-panels .panel fieldset select
{
	font-size: 100%;
	width: 185px;
}
#mypage-panels .panel fieldset select.sml
{
	width: 133px;
}
#mypage-panels .panel fieldset select.state
{
	width: auto;
}

/* Panel Selections - My Page */
#panel-selections fieldset
{
	background: url("../images/template/panel-selections-bg2.png") no-repeat 0 0;
	padding: 12px 16px 9px;
}
#panel-selections fieldset *
{
	vertical-align: middle;
}
#panel-selections fieldset label
{
	color: #fff;
	font-size: 1.16em; /* 14px */
	font-weight: bold;
	margin-right: .4em;
}
#panel-selections fieldset select
{
	margin-right: 3px;
}

/* Registration Login Panel */
#reg-aside .form-row
{
	padding-bottom: .6em;
}
#reg-aside .form-row label
{
	width: 5em;
	margin-right: 1em;
	padding-top: 1px;
}
#reg-aside .form-row .txt-input
{
	width: 10.5em;
	font-size: 100%;
}
#reg-aside .submit
{
	margin-bottom: 1em;
}

/* Tax Training Search */
#tax-training-search
{
	border: none;
	background: url("../images/template/article-comments-bg.gif") no-repeat 0 100%;
	float: left;
	width: 520px;
}
.two-col #tax-training-search
{
	background-image: url("../images/template/article-comments-wide-bg.gif");
	width: 781px;
}
#tax-training-search fieldset
{
	padding: 1.5em 16px 0;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
}
#tax-training-search fieldset label, #tax-training-search fieldset p.form-lbl
{
	width: 8em;
}
#tax-training-search fieldset .form-column
{
	margin-left: 9.5em;
}
/* Keyword Search */
#tax-training-search fieldset .form-row.first label
{
	padding-top: 2px;
}
#tax-training-search fieldset .form-row.first input
{
	vertical-align: middle;
}
#tax-training-search fieldset .form-row.first input.txt-input
{
	margin-right: 10px;
}
/* Optional Search Options */
#tax-training-search fieldset .course-date .form-lbl
{
	padding-top: 4px;
}
#tax-training-search fieldset .course-date .form-column *
{
	vertical-align: middle;
}
#tax-training-search .form-column .col
{
	float: left;
	width: 31%;
	margin-right: 10px;
}
#tax-training-search .form-column .col.last
{
	margin: 0;
}
#tax-training-search .form-column .col p
{
	margin: 0 0 .5em 0;
}
#tax-training-search .form-column .col p input, #tax-training-search .form-column .col p label
{
	vertical-align: middle;
}
#tax-training-search fieldset .submit
{
	padding-bottom: 1.5em;
}

/* My Account - Topics/Industries */
.topics, #update-details .details .topics li, #update-details .details .industries li
{
	margin: 0;
	background: none;
	padding: 0;
}
.topics
{
	padding-bottom: 15px;
	float: left;
	width: 100%;
}
.topics li em
{
	float: left;
	width: 100%;
	display: block;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 6px;
}
.topics li.last em
{
	margin: 0;
}
.topics li em input, .topics li em label
{
	vertical-align: middle;
}
.topics ul, .industries
{
	float: left;
	width: 230px;
	margin: 0 10px 0 0;
	padding-bottom: 6px;
	font-size: .91em; /* 11px */
}
.industries
{
	padding-bottom: 20px;
}
.topics ul.first
{
	padding-left: 20px;
	width: 210px;
}
#update-details .details .topics ul li, #update-details .details .industries li
{
	margin-bottom: .2em;
	float: left;
	width: 100%;
}
#update-details .details .topics ul li input, #update-details .details .industries li input
{
	float: left;
}
#update-details .details .topics ul li label, #update-details .details .industries li label
{
	display: block;
	margin-left: 23px;
	padding-top: 2px;
}

/* My Account - Professional Associations Selections */
.selections
{
	position: relative;
	height: 136px;
}
.selections p
{
	margin-bottom: .5em;
}
.selections select
{
	width: 310px;
	position: absolute;
	bottom: 0;
	background: #fff url("../images/template/txt-input-bg.gif") repeat-x 0 0;
	border: 1px solid #C3C3C3;
}
.selections select.first
{
	left: 0;
}
.selections select.last
{
	right: 0;
}
.selections button
{
	text-indent: -999em;
	position: absolute;
	left: 355px;
	top: 41px;
	width: 30px;
	height: 24px;
	background: url("../images/template/btn-add.gif") no-repeat 0 0;
}
.selections button.last
{
	background-image: url("../images/template/btn-remove2.gif");
	top: 74px;
}

/* Thickbox Form */
.thickbox .form-row label
{
	width: 11em;
}

/* [VALIDATION]
-------------------------------------------------------*/
/* Mandatory Field Indicators */
.form-row label img, p.form-lbl img, img.req
{
	margin: 0 .2em .3em .2em;
}
/* Form Hint */
.form-hint
{
	text-align: right;
	font-size: .91em;
	margin: 0 14px .4em 0;
}
#reg-main-account .form-hint
{
	clear: both;
	width: 689px;
}
.thickbox .form-hint
{
	margin-right: 30px;
}


/* Ammendment - Reg Login page */
#login-logout
{
	font-size: 12px;
	overflow: hidden;
}
.log-float
{
	float: left;
	width: 311px;
}
#login-logout h1
{
	padding: 8px 20px;
}
.log-float .log-cont
{
	border-right: 1px solid #f3f3f3;
	padding: 0 20px;
}
.log-float.alt .log-cont
{
	border: none;
}
#login-logout .form-row label
{
	display: inline;
	float: none;
	margin-right: 4.7em;
}
#login-logout .form-row a
{
	font-size: 11px;
	font-weight: normal;
}
#login-logout .alt a
{
	display: inline-block;
	margin-top: 16px;
}
#login-logout .submit, #login-logout .form-row .form-column
{
	margin-left: 0;
}
#login-logout .submit
{
	margin-top: 15px;
}

