@import "layout.css";
@import "forms.css";
@import "nav.css";
@import "thickbox.css";

/* 
	---------------------------------------------
	Title:	ICAA screen styles
	Author: chris.pearce@bluearcgroup.com
	---------------------------------------------
*/ 
/*
	Pixels to ems (based on 12px):
		10px = .83em, 11px = .91em, 13px = 1.08em, 14px = 1.16em, 15px = 1.25em
		16px = 1.3em, 17px = 1.41em, 18px = 1.5em, 19px = 1.58em, 20px = 1.6em
/*

/****************************************************************************************	
	[RESET]
*****************************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
table, th, td {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
html, body, form, fieldset, a img {border: none;}
ul, ol {list-style: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/****************************************************************************************	
	[COMMON ELEMENTS - TYPE SELECTORS]
*****************************************************************************************/

html {background-color: #f5f5f5;}
body {
	color: #666;
	margin-bottom: 20px;
	font: 62.5%/1.5 Arial, Helvetica, sans-serif; /* Set to 10px */
}
a:link, a:visited {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:focus {text-decoration: underline;}
a:active {outline: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #D9D9D9;
}
th {
	text-align: left;
	background-color: #F5F5F5;
	font-weight: bold;
}
td, th {
	vertical-align: top;
	padding: 6px 10px;
	border-right: 1px solid #D9D9D9;
}
caption {
	font-weight: bold;
	font-size: 1.25em; /* 15px */
	text-align: left;
	padding-bottom: .6em;
	color: #444343;
}
abbr {
	cursor: help;
	border-bottom: 1px dotted #666;
}
strong {font-weight: bold;}
em, i {font-style: italic;}
blockquote {margin: 0 2.6em;}
/* Headers */ 
h1, h2, h3, h4, h5, h6 {
	font-size: 2em; /* 24px */
	font-weight: bold;
	margin-bottom: .375em;
	line-height: 1.3;
	color: #000;
}
h2 {
	font-size: 1.3em; /* 16px */
	margin-bottom: .5625em;
} 
h3, h4, h5, h6 {
	font-size: 1.25em; /* 15px */
	margin-bottom: .6em;
	color: #444343;
}
h4, h5, h6 {
	font-size: 1.16em; /* 14px */
	margin-bottom: .642em;
	color: #666;
} 
h5, h6 {
	font-size: 100%; /* 12px */
	margin-bottom: .75em;
} 
/* Margins */
p, ul, ol, dl, table {margin-bottom: 1.5em;} /* 18px */
table table, table p {margin: 0;}
/* Lists */
ol {
	margin-left: 3.2em;
	list-style: decimal;
}
ul li {
	background: url("../images/template/bullet.gif") no-repeat 0 6px;
	padding-left: 14px;
}
	/* Nested */
	ul ul, ul ol, ol ol, ol ul {margin: .75em 0 .75em 2em;}
	ul ol li {
		background: none;
		padding: 0;
	}
	ol ol {list-style: lower-alpha;}
	ol ol ol {list-style: lower-roman;}