@charset "utf-8";
/* CSS Document */

/* root element for scrollable */
.vertical {  
	
	/* required settings */
	position:relative;
	overflow:hidden;	

	/* vertical scrollers have typically larger height than width */	
	height: 400px;	 
	width: 705px;
	border-top:1px solid #ddd;	
	margin: 0 auto;
}

/* root element for scrollable items */
.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	margin: 0 auto;
}

/* single scrollable item */
.items div {
	border:1px solid #D2D2D2;
	background-color: #F5F5F5;
	margin: 10px auto 10px auto;
	padding: 10px;
	font-size:12px;
	height:100px;
	width: 680px;
}

.items div p {
	padding: 0 10px 0 0;
	}

/* elements inside single item */
.items img {
	float:left;
	margin-right:20px;
	width: 117px;
	height: 100px;
	border: #CCCCCC 1px solid;
}

.items h3 a, .items h3 a:link, .items h3 a:visited{
	margin:0 0 5px 0;
	font-size:14px;
	color:#456;
	font-weight:bolder;
	font-family: Arial, Helvetica, sans-serif;
}

.items h4 a, .items h4 a:link, .items h4 a:visited{
	margin:0 0 5px 0;
	font-size:10px;
	color:#456;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

.items h5, .items h5 a:link, .items h5 a:visited {
	font-size:10px;
	color:#456;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	text-decoration: underline;
}

/* the action buttons above the scrollable */
#actions {
	width:700px;
	margin:30px auto 10px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #003366;
	text-align: center;
}

#actions a {
	font-size:12px;		
	cursor: pointer;
	color:#003366;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.nextPage {

}	

