@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	font-family:sans-serif,Arial, Helvetica;
}

ul li{
	margin-left: 0em;
	padding-left: 0px;
}

a:hover {
	text-decoration: none;
	filter:alpha(opacity=50); 
	-moz-opacity: 0.5; 
	opacity: 0.5;
	font-weight: bolder;
	}
	
html, body {
	margin:0;
	padding:0;
	background:#FFF;
	height: 100%
	}

.topbar {
	height: 26px;
	width: 100%;
	background:url(images/topbar_bg.jpg) repeat-x;
	margin: 0;
	padding: 0;
	}
	
.topbar ul {
	margin: 0 auto;
	text-align: right;
	width: 984px;
	padding: 0;
	padding-top: 5px;
	}

.topbar li {
	list-style-type: none;
	display: inline;
	color: #FFFFFF;
	font-size: 12px;
	margin: 0 20px 0 0;
	padding: 0;
	}

.topbar a{
	color: #FFFFFF;
	text-decoration:none;
}

.maincontainer {
	width: 904px;
	margin: 0 auto;
	padding:0;
	}


[id*=divHeader]{
	width: 904px; 
	height:120px;
	padding:0;
	background: url(images/digi-map-bg.jpg) no-repeat center;
	float:left;
}

[id*=divHeader] img{
	border:0;
}

[id*=divHeader] input {
	margin: 0 0 3px 0;
	float: right;
	clear: both;
}

/*cust login*/
.custLoginWrapper{
	width:257px; 
	float:right;
	margin:0;
	padding:0;
}

.custLoginLeft{
	width:75px; 
	margin-top:20px;
	float:left;
}

.custLoginRight{
	width:175px; 
	float:right;
}

.custLoginRight input, .custLoginRight img{
	margin:2px;
	float:right;
}

.custLoginRight a:link, .custLoginRight a:visited{
	text-decoration:none;
	font-weight:normal;
}

/*cust login*/

input, .btn {
	background: #EEEEEE;
	border: 1px solid #006699;
	font-size:8pt;
	color:#000000;
	font-weight:normal;
	padding:2px;
	}

.submit input {
	color: #000;
	border: 2px outset #999999;
	background-color: #CCCCCC;
}


[id*=divMenuholder]{
	width:904px;
	height:43px;
	background: #ffffff url(images/chrome_bar.png);
	float:left;
	margin-bottom:5px;
}


.divCustomLinks{
	width:904px;
	margin:0;
	margin-top:10px;
}
	
.divMiddleContent{
	width:904px;
	float:left;
}

.divMiddle{
	width:95%;
	margin: 0 auto;
}

.upperCase a{
	text-transform:uppercase;
}

.capitalize a{
	/*text-transform:capitalize;*/
	text-transform:none;
}

.divLeftContent{
	float:right;
	width:650px;
	margin: 20px 10px 0 10px;
}

.divBoxWrapper{
	width:904px;
	margin: 0 auto;
}

.divBox{
	width:293px;
	height:288px;
	float:left;
	background-image: url(images/silverbox.png);
	margin:3px;
}

.boxcontainer{
	margin-top: 20px;
	padding:0px 15px 0px 25px;
}

#BoxTitle {
	margin: 8px auto 0 auto;
	width: 293px;
	font-size: 16px;
	font-weight: bold;
	color: #003366;
	text-align: center;
}

.innerbox{
	padding:2px 5px 10px 0px;
}

.innerbox2{
	padding:2px 5px 10px 0px;
	margin-bottom:10px;
	border-bottom: #CCCCCC thin dotted;
}


.title1 {
	font-size:9pt;
	font-weight:bold;
	color:#003399;
	list-style-image:url(images/bullet.gif);
}

.title1 a:link, .title1 a:visited{
	color: #003399;
	text-decoration: none;
	}
	
.title1 a:hover, .title1 a:hover{
	text-decoration: underline;
	}


.title2 {
	font-size:8pt;
	font-weight:bold;
	color:#666666;
	list-style-type:none;
}

.title2 a:link, .title2 a:visited{
	color: #666666;
	text-decoration: none;
	}
	
.title2 a:hover, .title2 a:hover{
	text-decoration: underline;
	}

.excerpt {
	font-size:8pt;
	color:#666666;
	list-style-type:none;
}

.excerpt2 {
	font-size:9pt;
	color:#666666;
	list-style-type:none;
}

.excerpt a{
	color:#003399;
	text-decoration:none;
	font-size:8pt;
}

.excerpt a:hover{
	text-decoration:underline;
	color: #235CCF;
	filter:alpha(opacity=60);
	opacity:0.6;
}

.content-title{
	font-size:10pt;
	font-weight:bold;
	color: rgb(51, 51, 51);
	width:90%;
}

.content{
	font-size:10pt;
	color:#666666;
	
}

.content p{
	margin-bottom:10px;
	text-align:justify;
}

.SubPageTitle{
	margin: 0 0 20px 20px;
}

.SolutionsServices {
	float:left;
	width: 95%;
	background-image: url(images/solutionsbg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-left: 20px;
	padding:30px 0 0 0;

}
	
.alliances {
	width: 95%;
	margin: 0 auto;
	padding:0;
}

.alliances p{
	font-size:10pt;
	color:#666666;
	text-align: justify;
}

.alliances ul {
	width: 730px;
	margin: 30px auto 0 auto;
}
	
.alliances li {
	list-style-type: disc;
	display: inline-block;
	margin: 20px 20px 0 0;
	list-style-position: inside;
	width: 138px;
	height: 93px;
}

.alliances li img {
	border:0;
}

.leftSolution{
	width:550px;
	float:left;
}

.rightSolution{
	width:284px;
	float:right;
	margin-top:40px;
}
		
.divFooter{
	margin:0px auto;
	padding:0px;
	width:815px;
	font-size:7pt;
	font-stretch: ultra-condensed;
	clear:both;
}

.footer {
	height: 30px;
	margin: 0;
	margin-top:50px;
	/*padding-top:25px;*/
	background:url(images/footer_bg.jpg) repeat-x;
}

.footer ul {
	margin: 0 auto 10px auto;
	padding:0;
	padding-top:5px;
	width: 984px;
	text-align: center;
	}

.footer li{
	font-size: 12px;
	color: #FFFFFF;
	display: inline;
	margin: 0 25px 0 0;
	padding:0;
}

.footer li a{
	text-decoration:none;
	color:#FFFFFF;
}

.left-footer{
	width:110px;
	height:51px;
	margin:10px 0 0 5px
	padding:0;
	vertical-align:middle;
	/*background: url(images/ipc-logo-footer.jpg) top;*/
	float:left;
}

.middle-footer{
	width: 480px;
	height:51px;
	float:left;
	margin:10px 0 0 5px;
}

.right-footer{
	width:215px;
	height:51px;
	margin:10px 0 0 5px
	padding:0;
	vertical-align:middle;
	/*background: url(images/ipventures.jpg) top;*/
	float:left;
}

.Products {
	width: 900px;
	}
	
.MDS {
	width: 420px;
	float:left;
	}

.MDS ul, .BS ul {
	margin: 0 0 0 40px;
	padding: 0;
	}

.BS li, .MDS li {
	list-style-type: none;
	font-size: 9pt;
	list-style-image: url(images/bullet.gif);
	text-align: justify;
	color:#666666;
	}

.MDS strong, .BS strong {
	color: #003399;
	font-size: 10pt;
	}

.MDS a:link, .MDS a:visited,.BS a:link, .BS a:visited{
	color: #003399;
	text-decoration: none;
	}
	
.MDS a:hover, .BS a:hover{
	text-decoration: underline;
	}

.BS {
	width: 420px;
	float: right;
	}


.push {
	height: 50px;
	}


.AdSection {
	/*height: 103px;*/
	width: 904px;
	margin:0 auto;
	padding:0;
	}

.AdSection img{
	border:0;
}

.AdSection ul{
	margin: 0 auto;
	padding: 0;
	text-align: center;	
	}
	
.AdSection li{
	list-style-type: none;
	display: inline;
	}

.ContactUs {
	margin: 0 auto;
	width: 100%;
	}

	
.ContactusForm {
	padding: 5px;
	margin: 0 0 0 20px;
	}
	
div.FieldWrapper {
	margin: 10px 0 0 0;
	padding: 0;
	overflow:hidden;
	width: 350px;
	}

div.FieldWrapper input, textarea {
	width: 250px;
	}
	
div.FieldWrapper label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	}

div.FieldWrapper label.styled {
	float: left;
	width: 90px;
	}
	
div.ContactusSubmit {
	float:right;
	margin-right:85px;
	padding: 5px 0 0 0;
	}

div.ContactusDetails {
	float:left;
	margin:0 0 0 70px;
	width:400px;
	}

div.ContactusDetails p{
	margin: 10px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	}

div.ContactusDetails a:link {
	margin: 20px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000FF;
	text-decoration: underline;
	}

div.ContactusRight {
	float:right;
	margin-left:30px;
}
	
.mdslinks {
	width: 600px;
	margin: 20px auto;
}

.mdslist {
	width: 499px;
	height: 172px;
	margin: 10px auto;
	background:url(images/mds_bg.png) center no-repeat;
}

.mdslist ul{
	padding: 40px 0 0 180px;
}

.mdslist li, .mdslist a:link, .mdslist a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	margin: 0 0 5px 0;
	list-style-type: circle;
}

.bspage {
	width: 901px;
	margin: 10px auto 0 auto;
	}
	
.bslinks {
	width: 600px;
	margin: 20px auto;
}

.bslist {
	width: 499px;
	height: 172px;
	margin: 10px auto;
	background:url(images/bs_bg.png) center no-repeat;
}

.bslist ul{
	padding: 40px 0 0 180px;
}

.bslist li, .bslist a:link, .bslist a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	margin: 0 0 5px 0;
	list-style-type: circle;
}

.SlideShow {
	margin: 0;
	padding: 0;
	/*background: url(images/slideshow.png) center top no-repeat;*/
	height: 300px;
	width: 904px;
	float:left;
}

button {
	background-color: #F3F3F3;
	font-size: 10px;
	border: 1px solid #999999;
	color: #666666;
}


.TheLoopcol {
	width: 901px;
	margin: 20px 0 0 40px;
	}
	
.TheLoopcol p{
	/*margin: 20px auto 0 auto;*/
	width: 730px;
	}
	
.TheLoopcol ul{
	margin-top: 20px;
	}	
	
.TheLoopcol li {
	list-style-type: none;
	margin: 0 0 10px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

.TheLoopcol a:link, .TheLoopcol a:visited {
	color:#000000;
	text-decoration: none;
	}

.TheLoopcol a:hover {
	text-decoration: underline;
	}


/* sidebar box */

.divSideBarWrap{
	float:left;
	width:230px;
	margin: 0;
	padding:0;
}

.boxcontent{
	padding:40px 5px 10px 5px;
}
	
.boxcontent ul{
	list-style-type: none;
	margin: 0 5px 0 0;
	padding: 0 10px 0 15px;
}

.boxcontent ul li{
	font-weight:bold;
	padding:0px 0 20px 0;
}

.boxcontent ul li ul{
	margin-top: 15px;
	padding-left:0;
}

.boxcontent ul li ul li{
	font-weight:normal;
	padding:10px 0 10px 0;
	/*border-bottom: 1px dotted #333333;*/
}

.boxcontent ul li a{
	font-size:9pt;
	color: #003366;
	text-decoration: none;
	/*padding-bottom:10px;*/
}

.boxcontent ul li a:active{
	color: rgb(0, 102, 153);
}

.box
	{
	position: relative;
	margin-left: 0;
	margin-right: auto;	
	margin-top: 0;
	padding: 0;
	text-align: left;
	width:80%;				/* <-- use this to tie width to viewport size */
	width: 220px;				/* <-- use this for a set width */
	background-color: #fff;;
	}
		
/* ---=== border code follows ===--- */
/*
	tlc = top left corner
	trc = top right corner
	blc = bottom left corner
	brc = bottom right corner
	lb = left border
	rb = right border
	tb = top border
	bb = bottom border 
*/

.tlc, .trc, .blc, .brc
	{
	background-color: transparent;
	background-repeat: no-repeat;
	}

.tlc
	{
	background-image:url(images/tlc.gif);
	background-position: 0% 0%;
	}

.trc
	{
	background-image:url(images/trc.gif);
	background-position: 100% 0%;
	}
	
.blc
	{
	background-image:url(images/blc.gif);
	background-position: 0% 100%;
	}

.brc
	{
	background-image:url(images/brc.gif);
	background-position: 100% 100%;
	}

.tb, .bb
	{
	background-color: transparent;
	background-repeat: repeat-x;
	}
			
.tb
	{
	background-image:url(images/tb.gif);
	background-position: 0% 0%;
	}

.bb
	{
	background-image:url(images/bb.gif);
	background-position: 50% 100%;
	}
	
.rb
	{
	background-image:url(images/r.gif);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

.lb
	{
	background-image:url(images/l.gif);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}


.sitemap {
	font-size:9pt;
	font-weight:bold;
	color:#003399;
	list-style-image:url(images/bullet.gif);
	margin-bottom:10px;
}

.sitemap a:link, .sitemap a:visited{
	text-decoration:none;
}

/* sidebar box */

/* - - - ADxMenu: BASIC styles [ MANDATORY ] - - - */

/* remove all list stylings */
.menu, .menu ul {
	margin: 0;
	padding: 0;
	border: 0;
	padding-top:5px;
	list-style-type: none;
	display: block;
	font-family:sans-serif,Arial, Helvetica;
	font-size:11pt;
	font-weight:bold;
}

.menu li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;    /* move all main list items into one row, by floating them */
	position: relative; /* position each LI, thus creating potential IE.win overlap problem */
	z-index: 5;     /* thus we need to apply explicit z-index here... */
}

.menu li:hover {
	z-index: 10000; /* ...and here. this makes sure active item is always above anything else in the menu */
	white-space: normal;/* required to resolve IE7 :hover bug (z-index above is ignored if this is not present)
							see http://www.tanfa.co.uk/css/articles/pure-css-popups-bug.asp for other stuff that work */
}

.menu li li {
	float: none;/* items of the nested menus are kept on separate lines */
}

.menu ul {
	visibility: hidden; /* initially hide all submenus. */
	position: absolute;
	z-index: 10;
	left: 0;    /* while hidden, always keep them at the top left corner, */
	top: 0;     /*      to avoid scrollbars as much as possible */
}

.menu li:hover>ul {
	visibility: visible;    /* display submenu them on hover */
	top: 100%;  /* 1st level go below their parent item */
}

.menu li li:hover>ul {  /* 2nd+ levels go on the right side of the parent item */
	top: 0;
	left: 100%;
}

/* -- float.clear --
	force containment of floated LIs inside of UL */
.menu:after, .menu ul:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.menu, .menu ul {   /* IE7 float clear: */
	min-height: 0;
}
/* -- float.clear.END --  */

/* -- sticky.submenu --
	it should not disappear when your mouse moves a bit outside the submenu
	YOU SHOULD NOT STYLE the background of the ".menu UL" or this feature may not work properly!
	if you do it, make sure you 110% know what you do */
.menu ul {
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
	/*background: #f00;*/   /* uncomment this if you want to see the "safe" area.
								you can also use to adjust the safe area to your requirement */
}
.menu ul ul {
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
	font-size:9pt;
	font-weight:normal;
}

.menu li ul li{ /* level 2 drop down */
	font-size:9pt;
	font-weight:normal;
}


/* -- sticky.submenu.END -- */

/* - - - ADxMenu: DESIGN styles [ OPTIONAL, design your heart out :) ] - - - */

.menu, .menu ul li {
	color: #003366;

	/*background: #234;*/
}

.menu ul {
	width: 11em;
}

.menu a {
	text-decoration: none;
	color: #003366;
	padding: .4em 1em;
	display: block;
	position: relative;
}

.menu a:hover, .menu li:hover>a {
	/*color: #fc3;*/
	color: #235CCF;
	filter:alpha(opacity=60);
	opacity:0.6;
}

.menu li li {   /* create borders around each item */
	/*border: 1px solid #ccc;
	background: #174662;*/
	border: 1px solid #7F7F7F;
	background: #F1F1F1;
}
.menu ul>li + li {  /* and remove the top border on all but first item in the list */
	border-top: 0;
}

.menu li li:hover>ul {  /* inset 2nd+ submenus, to show off overlapping */
	top: 5px;
	left: 90%;
}

/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
	placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a {
	/*color: #CCCCCC;*/
	color: #003366;
}