@charset "utf-8";
/* CSS Document */

/* container for slides */
.images {

	position:relative;	
	height:280px;
	margin: 0 0 0 -7px;
	border:0;
	
	/* CSS3 tweaks for modern browsers */
	
}

/* single slide */
.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	margin:7px;
	/*padding:15px 30px 15px 15px;*/
	height:280px;
	font-size:12px;
	border:0;
}

/* header */
.images h3 {
	font-size:18px;
	font-weight:bold;
	margin:0 0 20px 0;
	font-family: Arial, Helvetica, sans-serif;

}

.images p{
	color: #666666;
	margin: 0 0 10px 0;
	padding-top: 15px;
	width: 700px;
}

.images p a:link, .images p a:visited{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* tabs (those little circles below slides) */
.tabs {
	//clear:both;
	margin:5px 0 0 90px;
	}

/* single tab */
.tabs a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(images/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;		
}

/* mouseover state */
.tabs a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.tabs a.current {
	background-position:0 -16px;     
} 	


/* prev and next buttons */
.forward, .backward {
	float:left;
	margin-top:140px;
	background:#fff url(images/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	cursor:pointer;
	font-size:1px;
	text-indent:-9999em;	
}

/* next */
.forward 				{ background-position: 0 -30px; clear:right; }
.forward:hover 		{ background-position:-30px -30px; }
.forward:active 	 	{ background-position:-60px -30px; } 


/* prev */
.backward:hover  		{ background-position:-30px 0; }
.backward:active  	{ background-position:-60px 0; }

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden !important;		
}

.slides {
	width: 912px;
	margin: 0 0 0 -20px;
	padding-top:20px;
	//border:blue 1px solid;
	border:0;
}

.slides h3 {
	font-size:18px;
	font-weight:bold;
	margin:0px 0 0px 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;

}

.slides p {
	color: #FFF;
	width: 420px;
	display: block;
	margin: 0 0 0 20px;
}

.slides p a:link, .slides p a:visited{
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.slide_buttons {
	margin-top:5px;	
	float: left;
	/*clear: both;*/
}

.slide_buttons button {
	background-color: #F3F3F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #999999;
	color: #666666;
	margin-top:5px;
}