/****************************************************************************************
	[jQuery THICKBOX]
*****************************************************************************************/

/* [OVERLAY]
-------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.TB_overlayMacFFBGHack {background: url("../images/template/tbox-ffox-fix.png") repeat;}
.TB_overlayBG {
	background-color: #333;
	filter: alpha(opacity=85);
	opacity: 0.85;
}

/* [CONTENT]
-------------------------------------------------------*/
#TB_window {
	background: #fff;
	z-index: 102;	
	text-align: left;
	position: absolute;
	top: -9999em;
	left: -9999em;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 6px solid #C41230;
	/* CSS3 */
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	box-shadow: 1px 1px 5px #333;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 1px 1px 5px #333;
}
	/* --Close Window Button-- */
	a#TB_closeWindowButton {
		display: block;
		width: 32px;
		height: 32px;
		position: absolute;
		right: 15px;
		bottom: 5px;
	}
	
	/* --Image Gallery Version-- */
	/* Main Image */
	#TB_window img#TB_Image {
		display: block;
		margin: 15px 0 0 15px;
	}
	/* Caption + Prev/Next/Image Count */
	p#TB_footer {
		margin: 0 15px;
		padding: 8px 50px 8px 0;
		font-size: 1.1em; /* 12px */
		font-family: "Lucida Sans Unicode", "Lucida Grande", Lucida, Arial, Helvetica, sans-serif;
		color: #333;
	}
		p#TB_footer a {margin-right: 5px;}
		p#TB_footer img, p#TB_footer span {vertical-align: middle;}
		p#TB_footer em {
			font-weight: bold;
			font-style: normal;
			color: #000;
		}

	/* --iFrame Version-- */
	.thickbox {margin: 0;}
		/* Main Content */
		.thickbox #content-wrapper {
			float: none;
			width: auto;
			height: 412px;
			overflow: auto;
			padding: 0 10px 0 0;
		}
			.thickbox #content-wrapper h1 {margin-bottom: .8em;}

/* [LOADER]
-------------------------------------------------------*/
#TB_load {
	position: fixed;
	display: none;
	height: 13px;
	width: 208px;
	z-index: 103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px;
}

/* [MISC]
-------------------------------------------------------*/
#TB_HideSelect {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	border: none;
	filter: alpha(opacity=0);
	opacity: 0;
	height: 100%;
	width: 100%;
}
#TB_iframeContent {clear: both;}
#TB_iframeContent,
#TB_ajaxContent {overflow: auto}