/*copied from .slds-lookup__item-action:hover*/
.THIS .match-focused {
    cursor:pointer;
    background-color:rgb(244, 246, 249);
    color:rgb(22, 50, 92)
}

.THIS .slds-lookup__result-text {
    white-space: normal;
}