.THIS .read-account-fields .slds-form-element__control {
	border-bottom: 1px solid rgb(204, 204, 204);
}
.THIS .inLineSpan{
    display: inline-flex;
    padding-right: .5rem;
    padding-top: .25rem;
}

.THIS .slds-checkbox_faux_container{
    display: inline-flex;
}

.THIS .customPadding {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}
.THIS .slds-checkbox_on{
    padding-right: .5rem;
    padding-top: .25rem;
    padding-left: 0.5rem;
}
.THIS .slds-checkbox_off{
    padding-right: .5rem;
    padding-top: .25rem;
    padding-left: 0.5rem;
}
.THIS .slds-checkbox_faux{
    display: inline-flex;
}
.THIS .mytooltip{
right: 5.1rem !important;
top: 4rem !important;
}
.THIS .show-md-down{
    display: none;
}
.THIS .show-md-up{
    display: block;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}


.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;
}
.THIS .d-inline-flex{
    display: inline-flex;
    max-width: 100%;
}
.THIS .dropdown {
  position: relative;
  display: inline-block;
}

.THIS .max-Auto-Width {
  max-width: none !important;
}
.THIS .slds-feed111 {
    position: relative;
    max-width: auto;
    margin: auto;
}
.THIS .dropdown-content {
  background-color: #f9f9f9;
}

.THIS .dropdown:mouseout .dropdown-content:mouseout {
  display: none;
}
.THIS .uiMessage{
    margin: 0;
}
.THIS .slds-feed__list{
    padding: .75rem 1rem 0;
}
.THIS .slds-p-horizontal_small{
    padding: .75rem 1rem 0;
}
.THIS .customMessageBox{
    border-color: #bee6ff;
    background-color: #f5fcff;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px
        
}

/*toggleCss.css*/
.THIS.toggle {
   display: none;
}
.THIS.help-tooltip11{
   /* width: 12rem;
   top: 50%;
   left: calc(100% + 15px);
   transform: translate(0, -50%); */
   width: 12rem;
   top: -62%;
   left: calc(-28% + 0px);
   transform: translate(0, -50%);
}

.THIS .myCss{
        position: absolute;
    /* background-color: #f9f9f9; */
    width: 98%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 12px 16px;
    /* z-index: 3; */
    /* position: absolute; */
   top: -8rem;
    left: 3rem;
    display: inline-block;
}