.THIS {
}
.THIS .dropdown {
  position: relative;
  display: inline-block;
}

.THIS .dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  width: 98%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
}

.THIS .dropdown:mouseout .dropdown-content:mouseout {
  display: none;
}
.THIS .errormsg {
    color: #A72F2A ;
    font-size: .875rem;
    margin-top: .5rem;
    display: block;
}
.THIS .required{
    color: #c23934 ;
}