.THIS .selfServiceUserProfileMenu{
	  font-family: NexaBold;
}
.THIS .selfServiceUserProfileMenu li.uiMenuItem a {
    padding: 1rem 1.2rem;
    min-height: 16px;
    text-transform: none;
    box-sizing: content-box;
    width: 120px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}
.THIS .profileIcon{
	  width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}
.THIS .profileName{
	  padding: 0 2px 0 7px;
    font-weight: 600;
    font-size: .8125em;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .triggerDownArrow{
	  border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 3px;
    vertical-align: middle;
}
.THIS .trigger-link{
	  padding: 14px 10px;
}
.THIS .selfServiceUserProfileMenu .menuList.popupTargetContainer.uiPopupTarget.uiMenuList.uiMenuList--default {
   	background: #00629E;
   	margin-top: 15px;
   	z-index: 5001; /* to get the profile menu expanded on top of the search component */
   	margin-left: -20px;
}
.THIS .selfServiceUserProfileMenu .uiMenuList--default.uiMenuList {
   	padding: 0;
}
.THIS .selfServiceUserProfileMenu li.uiMenuItem {
   	border-top: transparent !important;
}
.THIS .profileHere a,
.THIS .profileHere a:hover,
.THIS .profileHere a:focus,
.THIS .profileHere a:active {
   	color: white;
}
.THIS .slds-global-header__button_icon .slds-icon,
.THIS .slds-global-header__button_icon:hover:not(:disabled) .slds-icon,
.THIS .slds-global-header__button--icon .slds-icon,
.THIS .slds-global-header__button--icon:hover:not(:disabled) .slds-icon {
   	color: white;
   	fill: white;
}
.THIS .selfServiceUserProfileMenu li.uiMenuItem {
	  border-bottom: 1px solid white;
}
.THIS .selfServiceUserProfileMenu li.uiMenuItem:last-child {
	  border-bottom: 1px solid transparent;
}
.THIS .selfServiceUserProfileMenu a {
	  color: white;
}
@media (max-width: 480px) {
    .THIS .profileName, .THIS .triggerDownArrow {
        display: none;
    }
    .THIS .selfServiceUserProfileMenu .menuList.popupTargetContainer.uiPopupTarget.uiMenuList.uiMenuList--default {
        margin-left: -110px;
    }
}