.THIS {
}
.THIS .read-account-fields .slds-form-element__control {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.THIS .slds-form-element__label {
    font-size: 0.95rem !important;
    padding: 2px 0 !important;
}

.THIS .slds-card {
    border: 3px solid rgb(223, 224, 226);
}

.THIS .slds-checkbox .slds-checkbox_faux, .THIS .slds-checkbox .slds-checkbox--faux{
    border: 3px solid rgb(30, 5, 5) !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}