.THIS .profpublicLabel,.THIS .userDetailsEditButton,.THIS .editDetailContainer {
  visibility: hidden;
}
.THIS .profpublicLabel span{
    visibility: visible;
}
.THIS .profpublicLabel::before{
    content: 'Customise who is able to see information on your profile page';
    visibility: visible;
    margin-right: -300px;
}
.THIS .forceCommunityUserSettings .settingsEmail{
 	pointer-events: none; 
    background-color: rgb(233, 234, 236);
    border-color: #a8b7c7;
    cursor: not-allowed;
}
.THIS .forceCommunityUserSettings .settingsLabel{
	pointer-events: none; 
}