.THIS .container {
  max-width: 1400px;
  margin: auto;
}

.THIS a {
  width: 245px;
  max-width: 245px;
  padding: 0 10px;
  color: inherit;
}

.THIS a:hover {
  background: #ddd;
  box-shadow: 0 0 1px 1px #ddd;
}

.THIS a:active {
  background: #ccc;
  box-shadow: 0 0 1px 1px #ccc;
}

.THIS img {
  width: 100px;
  min-width: 100px;
}