.THIS .footerDiv{
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .75rem 1rem;
    text-align: right;
}
.THIS .order-header{
    border-bottom: 3px solid grey;
    padding: .75rem 0;
    font-size: 1.1rem!important;
    font-weight: bold;
}
.THIS .order-items{
    border-bottom: 1px solid grey;
}
.THIS .order-items-total{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
.THIS .slds-card__body{
    padding: .75rem 1rem 0;
}
.THIS .changeBtn {
    color: blue;
    font-size: 16px;
    text-decoration: underline;
}
.THIS .slds-p-around_small{
    padding: .75rem 0.74rem!important;
}
.THIS .customMessageBox{
    border-color: #bee6ff;
    background-color: #f5fcff;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px
        
}