.THIS.active .slds-wizard__marker {
    background: #00629e;
}

.THIS.complete .slds-wizard__marker {
    background: #b5bf00;
}

.THIS.invalid .slds-wizard__marker {
    background: rgb(194, 57, 52);
}