﻿/******************************************************************************
* Reset CSS (see http://developer.yahoo.com/yui/reset/)
*******************************************************************************/

/* http://developer.yahoo.com/yui/reset/  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;padding:0;
}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}

/******************************************************************************
* Base-level tags
*******************************************************************************/

body {
	color:#030000;
	background-color:#ffffff;
	font-family:Verdana;
	font-size:12px;
}

a:link,
a:visited,
a:hover,
a:active { 
	color:#49a2c3; /* #3f92b8 */ 
	text-decoration:none; 
}
a:hover { 
	text-decoration:underline;
}

a.boldLink:link, 
a.boldLink:visited,
a.boldLink:hover,
a.boldLink:active
{
    font-family:Verdana;
    font-weight:bold;
    color:#4e5e5e;
}

a.boldLink:hover { text-decoration:underline; }

/******************************************************************************
* ID selectors - ordered by display in page (outside-inside, top-bottom)
*******************************************************************************/

#wrap 
{
   	width:971px; 
	margin:0 auto;
}

/******************************************************************************
* Header
*******************************************************************************/

#header { 
	background:#004767 url(/~/media/NZICA/Images/Homepage/logoNZICA.ashx) 5px 5px no-repeat scroll;
	position:relative; 
	height:122px;

}
#header a.homeLink:link,
#header a.homeLink:visited, 
#header a.homeLink:hover, 
#header a.homeLink:active 
{
	display:block;
	width:122px;
	height:122px;
}
#header .banner 
{
    color:#ffffff;
    position:absolute;
    top:5px;
    left:120px;
    width:580px;
    height:110px;
}

/******************************************************************************
* Top-right (header) navigation
*******************************************************************************/

#loginLink 
{
    color:#d9da55 !important ;
    font-weight:bold !important;
}

#headerTopRight {
	position:absolute;
	top:5px;
	right:5px;
}
#headerTopRight ul {
   display:block;
   float:left;
}
#headerTopRight li { 
	display:block;
	float:left;
	line-height:12px;
	border-right:1px solid #FFFFFF;
	padding:0 5px;	
}
#headerTopRight li.last {
	border-right:none;
}
#headerTopRight li.append {
	border-right:none;
	border-left:1px solid #FFFFFF;
}
#headerTopRight p {
   clear:left;
   text-align:right;
   margin-top:10px;
   color:#FFFFFF;
}
#headerTopRight a:link,
#headerTopRight a:visited,
#headerTopRight a:hover,
#headerTopRight a:active {
	color:#FFFFFF;
}
#headerTopRight a.selected:link,
#headerTopRight a.selected:visited,
#headerTopRight a.selected:hover,
#headerTopRight a.selected:active,
#headerTopRight a:hover {
	color:#d9da55;
}

/******************************************************************************
* Search Box
*******************************************************************************/

#headerBottomRight {
	position:absolute;
	bottom:5px;
	right:5px;
}
#headerBottomRight .inputSearchbox {
	width:190px;
	padding:3px 2px;
	margin:0 2px;
	border:1px inset #C0C0C0;
}

#headerBottomRight .btnSearch
{
    margin-top:60px;
    margin-left:5px;
    width:26px; 
    height:26px; 
    border:none; 
    padding:0;  
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Search.ashx) 0 0 no-repeat scroll; 
    text-decoration:none !important;
}


/******************************************************************************
* Login box
*******************************************************************************/

/* The div with login controls that will be displayed using jQuery from nz_Login_Roll.ascx */
#loginDialog
{
	z-index:50;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	display: none;
	width: 350px;
	position: absolute;
	text-align:left;
}

#loginDialog a,
#loginDialog a:link,
#loginDialog a:visited,
#loginDialog a:hover,
#loginDialog a:active
{
	color: #004767;
}

#closeLoginDialog
{
	position: absolute;
	right: 3px;
	top:3px;
	display: block;
}

#loginDialog td td
{
	padding:3px;
}
#loginDialog h3 
{
	background-color:#EBF4F9;
	color:#004667;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	margin:9 0 19px;
	padding:0 5px;	
}
#loginDialog p 
{
	color:Black;
	text-align:left;
	padding:0 3px 3px 3px;	
}

/******************************************************************************
* Top (dropdown) Navigation
*******************************************************************************/


#topNavigation {
	background-color:#004767;
	height:41px;
	margin-bottom:8px;
}
#topNavigation .dropdown {
	width:731px;
	float:left;
}
#topNavigation .dropdown li {
	display:block;
	float:left;
}
/* html #topNavigation .dropdown li 
{
	width:0;
	white-space:nowrap;	
}*/
#topNavigation .dropdown a:link,
#topNavigation .dropdown a:visited,
#topNavigation .dropdown a:hover,
#topNavigation .dropdown a:active {
	display:block;
	font-size:12px; /* 12pt */
	text-transform:uppercase;
	color:#FFFFFF;
	padding:15px 6px 0; /* font size needs to be smaller */
	height:26px;
	background-color:#004767; /* added in case menu wraps down and you can't see last option as it is white text on white bg. */
}
#topNavigation .dropdown a.selected:link,
#topNavigation .dropdown a.selected:visited,
#topNavigation .dropdown a.selected:hover,
#topNavigation .dropdown a.selected:active,
#topNavigation .dropdown a:hover {
	color:#d9da55;
	text-decoration:none;
}

#topNavigation .dropdown li ul { 
	position:absolute;
	top:41px;
	left:-999px;
	width:188px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:200;
}

* html #topNavigation .dropdown ul {margin-top:0;} 
*:first-child+html #topNavigation .dropdown ul {margin-top:0;}

#topNavigation .dropdown li ul li a:link,
#topNavigation .dropdown li ul li a:visited,
#topNavigation .dropdown li ul li a:hover,
#topNavigation .dropdown li ul li a:active {
	display:block;
	float:left;
	width:177px;
   height:auto;
   text-transform:none;
	background-color:#004767;
   border-top:1px solid #006081;
	margin:0 0 0 0;
	padding:9px 0 9px 11px;
}

#topNavigation .dropdown li ul li a:hover {
	color:#d9da55;
	background-color:#C0C0C0;
	text-decoration:none;
}

#topNavigation .dropdown li:hover, 
#topNavigation .dropdown li.over { position: static;}

#topNavigation .dropdown li ul { border:1px solid #006081; border-top:0; }

#topNavigation .dropdown li ul li { margin:0; }

#topNavigation .dropdown li ul ul { 
	margin:0 0 0 188px;
}
* html #topNavigation .dropdown li ul ul {margin:0;} 
*:first-child+html #topNavigation .dropdown li ul ul {margin:0;}


#topNavigation .dropdown li:hover ul ul, 
#topNavigation .dropdown li:hover ul ul ul, 
#topNavigation .dropdown li.over ul ul, 
#topNavigation .dropdown li.over ul ul ul {
	left:-999px;
}

#topNavigation .dropdown li:hover ul, 
#topNavigation .dropdown li li:hover ul, 
#topNavigation .dropdown li li li:hover ul, 
#topNavigation .dropdown li.over ul, 
#topNavigation .dropdown li li.over ul, 
#topNavigation .dropdown li li li.over ul { 
	left:auto;
	top:auto;
}

/******************************************************************************
* Tabbed (persona) Navigation
*******************************************************************************/

#topNavPersona {
	width:240px;
	float:right;
}
#topNavPersona li {
	display:block;
	float:left;
	width:80px;
}
#topNavPersona li a:link,
#topNavPersona li a:visited,
#topNavPersona li a:hover,
#topNavPersona li a:active {
	color:#000000;
	display:block;
	padding:15px 0 0 0;
	text-align:center;
	font-weight:bold;
	color:#004767;
	height:26px;
	background:transparent url(/~/media/NZICA/Images/Homepage/PersonaNavBackground.ashx) 0 0 no-repeat scroll;
}
#topNavPersona li a.selected:link,
#topNavPersona li a.selected:visited,
#topNavPersona li a.selected:hover,
#topNavPersona li a.selected:active,
#topNavPersona li a:hover {
	/* show different tab perhaps? */
	text-decoration:underline;
}

#topNavPersona li ul { 
	position:absolute;
	top:41px;
	left:-999px;
	width:150px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:200;
}
#topNavPersona li.last ul { 
	margin:0 0 0 -72px;
}

* html #topNavPersona ul {margin-top:0;} 
*:first-child+html #topNavPersona ul {margin-top:0;}

#topNavPersona li ul li a:link,
#topNavPersona li ul li a:visited,
#topNavPersona li ul li a:hover,
#topNavPersona li ul li a:active {
	text-align:left;
	display:block;
	width:139px;
   height:auto;
   text-transform:none;
	background:#f8f8ea none;
   border-top:1px solid #d9da55;
	margin:0 0 0 0;
	padding:9px 0 9px 11px;
}

#topNavPersona li ul li a:hover {
	color:#000000;
	background-color:#e6e699;
}

#topNavPersona li:hover, 
#topNavPersona li.over { position: static;}

#topNavPersona li ul { border:1px solid #d9da55; border-top:0; }

#topNavPersona li ul li { margin:0; float:none; }

#topNavPersona li ul ul { 
	margin:0 0 0 -188px;
}
* html #topNavPersona li ul ul {margin:0;} 
*:first-child+html #topNavPersona li ul ul {margin:0;}


#topNavPersona li:hover ul ul, 
#topNavPersona li:hover ul ul ul, 
#topNavPersona li.over ul ul, 
#topNavPersona li.over ul ul ul {
	left:-999px;
}

#topNavPersona li:hover ul, 
#topNavPersona li li:hover ul, 
#topNavPersona li li li:hover ul, 
#topNavPersona li.over ul, 
#topNavPersona li li.over ul, 
#topNavPersona li li li.over ul { 
	left:auto;
	top:auto;
}


/******************************************************************************
* Content - Left bar
*******************************************************************************/

#leftContent {
	width:175px;
	margin-right:16px;
	float:left;
}

/******************************************************************************
* Side Navigation
*******************************************************************************/
#sideNav 
{
	margin-bottom:10px;
}
#sideNav li {
	display:block;
}
#sideNav li a:link,
#sideNav li a:visited,
#sideNav li a:hover,
#sideNav li a:active {
	display:block;
	font-family:tahoma;
	font-size:12px; /* 12.5pt */
	font-weight:bold;
	color:#004667;
	padding:7.5px 5px; /* 7.5pt 5px */
	border:1px solid #49a2c3;
	margin-top:3px;
	text-decoration:none;	
}
#sideNav li a:hover {
	color:#49a2c3;
}
#sideNav li a.selected:link,
#sideNav li a.selected:visited,
#sideNav li a.selected:hover,
#sideNav li a.selected:active,
#sideNav li a.selected.open:link,
#sideNav li a.selected.open:visited,
#sideNav li a.selected.open:hover,
#sideNav li a.selected.open:active {
   background-color:#ebf4f9;
   color:#004667;
}

#sideNav li li a:link,
#sideNav li li a:visited,
#sideNav li li a:hover,
#sideNav li li a:active {
	padding-left:15px;
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue.ashx) 5px 10px no-repeat scroll;
	font-weight:normal;
}
#sideNav li li li a:link,
#sideNav li li li a:visited,
#sideNav li li li a:hover,
#sideNav li li li a:active {
	padding-left:30px;
	background-position:20px 10px;
}
#sideNav li li li li a:link,
#sideNav li li li li a:visited,
#sideNav li li li li a:hover,
#sideNav li li li li a:active {
	padding-left:45px;
	background-position:35px 10px;
}
#sideNav li li li li li a:link,
#sideNav li li li li li a:visited,
#sideNav li li li li li a:hover,
#sideNav li li li li li a:active {
	padding-left:60px;
	background-position:50px 10px;
}
/* selected styles */
#sideNav li li a.open:link,
#sideNav li li a.open:visited,
#sideNav li li a.open:hover,
#sideNav li li a.open:active {
	padding-left:15px;
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue-down.ashx) 2px 14px no-repeat scroll;
}
#sideNav li li li a.open:link,
#sideNav li li li a.open:visited,
#sideNav li li li a.open:hover,
#sideNav li li li a.open:active {
	padding-left:30px;
	background-position:17px 14px;
}
#sideNav li li li li a.open:link,
#sideNav li li li li a.open:visited,
#sideNav li li li li a.open:hover,
#sideNav li li li li a.open:active {
	padding-left:45px;
	background-position:32px 14px;
}
#sideNav li li li li li a.open:link,
#sideNav li li li li li a.open:visited,
#sideNav li li li li li a.open:hover,
#sideNav li li li li li a.open:active {
	padding-left:60px;
	background-position:47px 14px;
}

/******************************************************************************
* Content - Main Area
*******************************************************************************/

#content {
	width:525px;
	float:left;
	font-family:verdana;
	font-size:12px; /* 12pt */
	color:#030000;
	margin-bottom:8px;
}

#content.contentLrg 
{
    float:right;
    width:778px;
}

#content.contentFullWidth
{
    width:960px;
    padding-left: 10px;
}

/******************************************************************************
* Content - Breadcrumbs
*******************************************************************************/

#content ul#breadcrumb, 
#content ul#breadcrumb li  
{
	list-style:none; 
	display:block; 
	margin:0; 
	padding:0; 
}
#content ul#breadcrumb li  
{
	float:left; 
	padding:0 20px 0 15px; 
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue.ashx) 0 50% no-repeat scroll; 
}
#content ul#breadcrumb li:first-child  
{
	padding-left:0; 
	background:transparent ; 
} 
#content ul#breadcrumb li,
#content ul#breadcrumb a:link,
#content ul#breadcrumb a:visited,
#content ul#breadcrumb a:hover,
#content ul#breadcrumb a:active 
{
	font-style:italic;
	color:#333333;
}
#content ul#breadcrumb li.last,
#content ul#breadcrumb li.last a:link,
#content ul#breadcrumb li.last a:visited,
#content ul#breadcrumb li.last a:hover,
#content ul#breadcrumb li.last a:active 
{
	color:#49a2c3;
}

/******************************************************************************
* Content - Tag styles
*******************************************************************************/

#content h1 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:20px;
	margin:6px 0;
	color:#004667;
}
#content h2 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:16px;
	margin:4px 0 4px 0;
	color:#ffffff;
	background-color:#004667; 
	margin-left:-5px;
	padding-left:5px;
}

#content h2 a:link,
#content h2 a:visited,
#content h2 a:hover,
#content h2 a:active 
{
	color:#ffffff;
}
#content h3 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:16px;
	margin:6px 0;
	color:#004667
}
#content h4 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:14px;
	margin:6px 0;
	color:#004667;	
}
#content h5 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:12px;
	margin:6px 0;
	color:#004667;
}

#content h5 a:link,
#content h5 a:visited,
#content h5 a:hover,
#content h5 a:active 
{
	color:#004667;
}

#content h6 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:11px;
	margin:6px 0;
	color:#4e5e5e;
}

#content p { 
	margin: 16px 0; /* 16pt 0 */ 
}

#content table p { 
	margin: 0 0; /* 16pt 0 */ 
}

#content ul {
	display:block;
	list-style-type:disc;
	margin:1em 0;
	padding-left:40px;
}
#content ul ul {
	margin-bottom:0;
	margin-top:0;
	list-style-type:circle;
}
#content ul ul ul {
	list-style-type:square;
}
#content ol {
	padding-left:40px;
	display:block;
	list-style-type:decimal;
	margin:1em 0;
}
#content ol ol {
	margin-bottom:0;
	margin-top:0;
}
#content li {
	display:list-item;
}

#content blockquote {
	display:block;
	margin:1em 40px;	
}

#content .date
{
    font-family:verdana;
	font-weight:normal; 
	font-size:9px;
	color:#48a2c4;	
}

/******************************************************************************
* Content - classes
*******************************************************************************/

#content .box h3 {
	font-family:verdana;
	font-weight:bold;
	font-size:12px;
	margin:7px 0;
	color:#49a2c3;
}
#content .box a.more:link,
#content .box a.more:visited,
#content .box a.more:hover,
#content .box a.more:active {
	font-family:verdana;
	font-weight:bold;
	font-style:italic;
	font-size:10px; /* 10pt */
	color:#49a2c3;
}
#content .box .tab {
	font-family:verdana;
	font-size:14px; /* 14pt */
	line-height:30px; /* 30pt */
	color:#49a2c3;
}
#content .box .nav {
	border-top:1px solid #d3e6f0;
	padding: 4px 0;
	text-align:center;	
}
#content .box .nav a:link,
#content .box .nav a:visited,
#content .box .nav a:hover,
#content .box .nav a:active {
	display:inline;
	padding:0 3px;
	font-size:12px; /* 12pt */
	font-weight:bold;
	color:#49a2c3;
}

#content table.listing-table {
	border-collapse:collapse;
	margin:0 0 16px 0;
	width:100%;
}
#content table.listing-table tr {
	
}
#content table.listing-table th {
	font-weight:bold;
	padding:3px 0 3px 5px;
	background-color:#FFFFFF;
	color:#303030;
	border:1px solid #a1bfd3;
}
#content table.listing-table td {
	padding:3px 0 3px 5px;
	color:#3a3c3d;
	border:1px solid #cde3ee;
}
#content table.listing-table tr:nth-child(2n+1) td,
#content table.listing-table tr.odd td {
	background-color:#FFFFFF;
}
#content table.listing-table tr:nth-child(2n) td,
#content table.listing-table tr.even td {
	background-color:#e7f2f7;
}

#content table.form-table 
{
	font-size: 12px; 
	background-color: #ECF8FB; 
	text-align: left; 
	padding:3px;
}
#content table.form-table td 
{
	font-size: 12px; 
	background-color: #ECF8FB; 
	text-align: left; 
	padding:3px;
}

#content .mainImage
{
    float:left;
    padding-right:8px;
    padding-bottom:2px;
}

#content .whiteText {color:#ffffff;}
#content .whiteText a:link,
#content .whiteText a:visited,
#content .whiteText a:hover,
#content .whiteText a:active 
{
	color:#ffffff;
}

/******************************************************************************
* Content - Right bar
*******************************************************************************/

#rightContent {
	width:239px;
	float:right;
}

#rightContent .banner {
	overflow:hidden;
	height:212px;
	background-color:#98603d;
}

#rightContent .box 
{
	border:1px solid #ebf4f9;
	position:relative;
	margin-bottom:5px;
}
#rightContent .box h3 {
	font-family:Tahoma;
	font-weight:normal;
	font-size:16px;
	padding:0 5px;
	margin:7px 0 17px 0;
	color:#004667;	
	background-color:#ebf4f9;
}
#rightContent .box p {
	margin:16px 5px;
}
#rightContent .box .more 
{
	margin:5px;
	text-align:right;
	display:block;
	position:absolute; bottom:0; right:0;
	font-weight:bold;
	font-style:italic;	
}

#rightContent .box ul.relatedItems li 
{
	background:transparent url(~/media/NZICA/Images/Site%20Structure/Icons/Arrow-related-items.ashx) 5px 50% no-repeat scroll;
	padding:3px 0 3px 17px; 
}

/******************************************************************************
* Bottom area - ads
*******************************************************************************/

#bottomContent
{
    float:none; 
    width:100%; 
    /*border: 1px solid Lime; */
    padding:9px 0;
    clear:both;
}
#bottomContent .banner
{
	float:left;
	width:50%;
}

/******************************************************************************
* Footer
*******************************************************************************/

#footer { 
	clear:both; 
	background-color:#f6f7f9;
}
#footer { 
	height:95px;
}

/******************************************************************************
* Footer Navigation
*******************************************************************************/

#footerMenu {

}

#footerMenu li {
	display:block;
	float:left;
	border-right:1px solid #666666;
	line-height:12px;
	padding:0 10px;
	margin:10px 0;	
}

#footerMenu li.last {
	border-right:none;
}

#footerMenu a,
#footerMenu a:link,
#footerMenu a:visited,
#footerMenu a:hover,
#footerMenu a:active {
	font-size:10px;
	color:#333333;	
}

/******************************************************************************
* Footer Copyright
*******************************************************************************/

#footerCopyright {
	clear:left;
	font-size:10px;
	margin:10px 0 0 10px;	
	height:12px;
}

/******************************************************************************
* Footer Links (external sites)
*******************************************************************************/

#footerLinks {
	margin:10px 0 0 10px;	
}
#footerLinks a:link,
#footerLinks a:visited,
#footerLinks a:hover,
#footerLinks a:active {
	display:block;
	float:left;
}
#footerLinks img 
{
	height:30px;
	width:auto;
	margin-right:15px;	
}

/******************************************************************************
* Generic classes
*******************************************************************************/

.clear { clear:both; }
.clear-hidden { clear:both; font-size:1px; height:1px; }

.error { color:Red; }

/******************************************************************************
* Controls and box's
*******************************************************************************/

.bluebox
{
    border: 1px solid #e5f0f6;
}

.boxTabs
{
    font-family:Verdana;
    font-size:14pt;
    padding-left:16pt;
    color:#49a2c3;
 /*– Verdana Regular, 14pt, 16pt leading, #49a2c3*/
}

/******************************************************************************
* icons
*******************************************************************************/

#content h2 .h2RssIcon
{
    float:right; margin-top:5px; margin-right:5px;
}




/******************************************************************************
* CPD Log
*******************************************************************************/

/*** Can these pls be moved out into a site section css file *****/

#topNAV
{
	margin-top:10px;
	padding-left:0px;
	/*border:1px black solid;*/
	display:inline-block;
}


#topNAV ul
{
	padding-left:0px!important;
}

#topNAV ul.DECsnav li
{
	float:left;
	list-style:none;
}



#topNAV ul.DECsnav a
{
	display:block;
	float:left;
	background-color:#004667;
	list-style:none;
	height:auto;
	width:auto;
	padding-left:25px;
	_padding-left:24px;
	/*_padding-left:27px;*/
	
	padding-right:25px;
	_padding-right:24px;
	/*_padding-right:27px;*/
	padding-top:4px;
	padding-bottom:4px;
	border:0px solid #999999;
	border-bottom:0px;
	margin:1px;
	margin-right:2px;
	text-decoration:none;
	color:#FFFFFF;
}
#topNAV ul.DECsnav a:hover, #topNAV ul a.current
{
	background-color:#3F92B8;
	color:#ffffff;
}
.DECsDisplay
{
	background-color:#ECF8FB;
	padding:6px;
}

.CPDLogTable 
{
	font-size: 10pt; background-color: #E5F0F6; text-align: left; padding:3px;
}

.CPDLogTable td 
{
	font-size: 10pt; background-color: #E5F0F6; text-align: left; padding:3px;
}

.CPDButtonBar
{
	background-color: #D3E6F0;
	text-align: right;
	padding:5px;
}

.CPDButtonBar td
{
	background-color: #D3E6F0;
	text-align: right;
	height: 15px;
	padding-right:3px;
}

.CPDButtonBar INPUT IMG
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.CPDQuestions 
{
	background-color:#004667!important;
	padding:4px; 
	border:0px;
	color:#ffffff!important;
}

.CPDInnerTitle
{
	font-style:italic;
	font-weight:bold;
}

.tableheader
{
    background-color:#004667!important;
    color:#ffffff!important;
	/*    text-align:center;*/
    font-weight:bold;
}

.tableheader th
{
    text-align: left;
	background-color:#004667!important;
	color:#ffffff!important;
}

.CPDRadioButton
{

}

.CPDRadioButton td
{
	border:0!important;
}

/******************************************************************************
* Find a member
*******************************************************************************/

.MenuSelectedItem
{
	text-decoration:underline!important; 
}

.SearchCAAlternatingRow
{
	background-color:#ECF8FB;
}

/******************************************************************************
* Find an ATO
*******************************************************************************/
.SearchATOAlternatingRow
{
	background-color:#ECF8FB;
	padding:3px 3px 3px 3px;
}

.SearchATORow
{
	background-color:#ffffff;
	padding:3px 3px 3px 3px;
}

/******************************************************************************
* Important Declarations
*******************************************************************************/

#decNav ul 
{
	margin:0 !important;
	padding:3px 0 !important;
}

#decNav li 
{
	display:block;
	list-style:none;
	float:left;
	background:transparent url(~/media/NZICA/Images/Site%20Structure/Icons/Arrow-declaration.ashx) 0 50% no-repeat scroll;
	padding:0 0 0 12px;
	margin:1em 0;
}
#decNav li a:link, 
#decNav li a:visited,
#decNav li a:hover,
#decNav li a:active
{
	display:block;
	padding:4px 15px 4px 15px;
	background-color:#004667;
	color:#FFFFFF;
}
#decNav li.active a:link, 
#decNav li.active a:visited,
#decNav li.active a:hover,
#decNav li.active a:active 
{
	background-color:#49A2C3;
	color:#004667;
}
* html #decNav li a:link, 
* html #decNav li a:visited,
* html #decNav li a:hover,
* html #decNav li a:active
{
	width:1px;
}

#decTable {
	border-collapse:collapse;
	margin:0 0 16px 0;
	width:100%;
}
#decTable tr.even { background-color:#E7F2F7; }
#decTable tr, #decTable tr.odd { background-color:#FFFFFF; }
#decTable td { color:#3A3C3D; padding:5px; }
#decTable tr tr { background-color:transparent; }
#decTable td td { padding:0 5px; }
#decTable td td label { padding-left:5px; }
#decNext  
{
	background-color:#C0C0C0; 
	padding:5px;
}
#decNext a:link,
#decNext a:visited,
#decNext a:hover,
#decNext a:active 
{
	float:right;
	background:transparent url(~/media/NZICA/Images/Site%20Structure/Icons/Arrow-declaration.ashx) 0 50% no-repeat scroll;
	padding:5px 0 5px 12px;
	margin-top:-5px;
	font-weight:bold;
	color:#004667;
}

/******************************************************************************
* Preferences
*******************************************************************************/

.headerCommandButtons,
.footerCommandButtons
{
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
	border: 1px solid #B3BBBD;
	background-color: #BFCCD2;
	
}

/******************************************************************************
* Sitemap
*******************************************************************************/

ul.MenuLevel0 {margin-left:10px; list-style-type:disc;}
ul.MenuLevel1 {margin-left:40px; list-style-type:square;}
ul.MenuLevel2 {margin-left:40px; list-style-type:circle;}
ul.MenuLevel3 {margin-left:40px; list-style-type:disc;}


/******************************************************************************
* Buttons
*******************************************************************************/

.GenericButton
{
	background-color:#3F92B8;
	border:0;
	padding: 4px 10px 4px 10px;
	font-family:sans-serif;
	font-size:12px;
	color:#ffffff;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
}



a.GenericButton:link, 
a.GenericButton:visited,
a.GenericButton:hover,
a.GenericButton:active
{
	text-decoration:none!important;
	color:#ffffff!important;
}

/******************************************************************************
* Panels
*******************************************************************************/

#content .panel {
	float: left;
	width: 248px;
	margin: 0 0 18px 14px;
	font-size: 11px;
	/*border:1px solid #ebf4f9;*/
}
#content .panel.wide {
	width: 520px;
	margin: 0 0 18px 0;
}
#content .panel-inner {
	padding: 10px 0 15px;
	float: left;
}
#content .panel ul, #content .panel p, #content .panel ol {margin: 0;}
#content .panel ul {margin-bottom: -5px;}
#content .panel li {
	margin-bottom: 5px;
	background: url("/images/template/bullet-alt.gif") no-repeat 0 5px;
}
#content .panel h2 {
	font-size: 1.36em; /* 15px */
	padding: 9px 20px 9px 12px;
	/*background-color:#ECECEC;*/
}
#content .panel h2, #content .panel h4 {
	position: relative;
	/*color: #444343;*/
	margin: 0;
}
#content .panel .icon {
	position: absolute;
	top: 8px;
	right: 12px;
}
/* Footer */
#content .panel-footer {
	margin: 0;
	background: #C41230 ;
	min-height: 20px;
	clear: both;
}
#content .panel-footer a {
	display: block;
	text-align: right;
	padding: 1px 18px 2px;
}
#content .panel-footer a:link,
#content .panel-footer a:visited {
	color: #fff; 
	font-weight: bold;
}
#content .panel-footer a:hover,
#content .panel-footer a:focus {text-decoration: none;}

#content .panel-inner.article,
#content .panel-inner.slideshow {
	min-height: 19em; /* 215px */
	padding: 5px 0 0;
} 
#content .panel.wide .panel-inner.article {
	min-height: 0;
	padding-bottom: 3px;
}
#content .panel-inner.article h3 {
	font-size: 100%; /* 11px */
	margin-bottom: 3px;
}
#content .panel-inner.article .wide-article-display-manual h3 {
	font-size: 1.1em; /* 12px */
	margin-bottom: .8em;
	line-height: 1.4em;
}
/* Main Paragraph Height Rule */
#content .panel-inner.article p {min-height: 48px;}
#content .panel.wide .panel-inner.article p {
	min-height: 0; 
	line-height: 1.3em;
}
#content .panel.wide .panel-inner.article .wide-article-display-manual p {line-height: 1.5em;}
/* Banner */
#content .panel-banner {
	margin-bottom: 10px;
	display: block;
}
/* Panel Items */
#content .panel .panel-items {
	width: 248px;
	overflow: hidden;
}
#content .panel.wide .panel-items {width: 520px;} 
#content .panel .panel-items ul {
	margin: 0;
	/*float: left;*/
	list-style:none;
	padding:0;
}
#content .panel .panel-items ul li {
	width: 248px;
	float: left;
	padding: 0;
	background: none;
	margin: 0;
}
#content .panel.wide .panel-items ul li {width: 520px;}

#content .panel.wide .multiple-articles {
	/*border: 1px solid #D9D9D9;*/
	float: left;
	/*width: 486px;*/
	max-width:520px;
	min-height: 128px;
	/*padding: 12px 16px;*/
	/*background: url("/images/template/panel-multiple-articles-bg.gif") repeat-y 0 0;*/
}
#content .panel.wide .multiple-articles div {
	background: none;
	padding: 0;
	width: 165px;
	float: left;
	margin-left: 10px;
}
#content .panel.wide .multiple-articles .first {margin: 0;}
#content .panel .multiple-articles div img {
	display: block;
	margin-bottom: 10px;
}
#content .panel .multiple-articles div h3 {margin: 0;}

#content .panel-inner.article .item-wide {
	/*border: 1px solid #D9D9D9;*/
	margin: -5px 0 -3px;
	/*padding: 16px;*/
	float: left;
	width: 520px !important;
}
#content .panel-inner.article .item-wide img {float: left;}
#content .panel-inner.article .item-item-wide h3,
#content .panel-inner.article .item-wide p {margin-left: 187px;}
#content .panel-inner.article .item-wide .no-img h3,
#content .panel-inner.article .item-wide .no-img p {margin-left: 0;}

/* Panel Nav */

#content .panel .panel-nav {
	/*background: #C41230 url("/images/template/panel-nav-bg.gif") no-repeat 0 100%;*/
	/*background-color:#004667;*/
	text-align: center;
	position: relative;
	width: 248px;
	clear: both;
	padding-bottom: 2px;
	min-height: 18px;
	margin: 0;
	border:1px solid #ebf4f9;
}

#content .panel.wide .panel-nav {
	width: 520px;
	/*background-color:#004667;*/
	/* background-image: url("/images/template/panel-nav-wide-bg.gif");*/
}
/*
#content .panel .panel-nav ul {margin: 0;}
#content .panel-nav li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
}
*/
/*
#content .panel-nav li a {
	color: #fff;
	padding: 2px 6px;
}

#content .panel-nav li a:link,
#content .panel-nav li a:visited {color: #fff;}
#content .panel-nav li a:hover,
#content .panel-nav li a:focus,
#content .panel-nav li a.active {
	background-color: #fff;
	color: #c41230;
	text-decoration: none;
}
*/

/* Prev / Next */
#content .panel-nav a.prev,
#content .panel-nav a.next {
	text-indent: -9999em;
	position: absolute;
	top: 3px;
	width: 7px;
	height: 14px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 0;
}
#content .panel-nav a.prev {
	left: 12px;
	background-image: url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue-left.ashx);
}

#content .panel-nav a.next {
	right: 12px;
	background-image: url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue.ashx);
}
/*
#content .panel-inner.slideshow p {min-height: 80px;}
*/
/* Panel Rules */

#content .panel p.see-all {
	margin: 0;
	text-align: right;
	padding-top: 2px;
	clear: both;
	width: 248px;
	min-height: 0;
	
}

#content .panel.wide .panel-inner.article p.see-all {
	width: 520px;
	padding: 3px 0 3px 0;
	line-height: 1.5em;
}
/*
#content .panel.wide .panel-inner.article .wide-article-display-manual p.see-all {
	width: auto;
	padding: 6px 0 0 0;
	clear: none;
}*/

/******************************************************************************
* Vertical Tabs
*******************************************************************************/

#content .ui-tabs-vertical { width: 100%;}
#content .ui-tabs-vertical .ui-tabs-nav { padding: 0; float: left; width: 30%; }
#content .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; }
#content .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
#content .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; border:1px solid #004667 !important; border-right:0 !important; }
#content .ui-tabs-vertical .ui-tabs-panel { padding: 0 !important; float: right; width: 70%;  }
#content .ui-tabs-vertical .ui-tabs-panel div.inner { padding: 10px; border: 1px solid #004667; }

/******************************************************************************
* Override jquery-ui styles
*******************************************************************************/

#content .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
#content .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#content .ui-helper-clearfix { display: inline-block; }
* html #content .ui-helper-clearfix { height:1%; }
#content .ui-helper-clearfix { display:block; }
#content .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#content .ui-tabs  
{
	position: relative;  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em; 
	zoom: 1; 
}
#content .ui-tabs .ui-tabs-nav { margin: 0; padding: 0; }
#content .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
#content .ui-tabs .ui-tabs-nav li a { float: left; padding: 1em; text-decoration: none; }
#content .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
#content .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
#content .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#content .ui-tabs .ui-tabs-panel { display: block; border:0; padding: 1em 1.4em; background: #ffffff none; }
#content .ui-tabs .ui-tabs-hide { display: none !important; }

#content .ui-tabs.ui-widget  
{
	font-family:inherit; 
	font-size:inherit; 
	background: transparent none;
}
#content .ui-tabs .ui-widget-content, 
#content .ui-tabs.ui-widget-content  
{
	border: 0; 
	color: #030000; 
}
#content .ui-tabs .ui-widget-content a  
{
	color: #004667; 
}
#content .ui-tabs .ui-widget-header  
{
	border: 0; 
	background: transparent none; 
	color: #004667; 
	font-weight: bold; 
}
#content .ui-tabs .ui-widget-header a  
{
	color: #004667; 
}

#content .ui-tabs .ui-state-default, 
#content .ui-tabs .ui-widget-content .ui-state-default, 
#content .ui-tabs .ui-widget-header .ui-state-default  
{
	border:0; 
	background: #e6e6e6 none; 
	font-weight: normal; 
	color: #555555; 
}
#content .ui-tabs .ui-state-default a, 
#content .ui-tabs .ui-state-default a:link, 
#content .ui-tabs .ui-state-default a:visited  
{
	color: #555555; 
	text-decoration: none; 
}
#content .ui-tabs .ui-state-hover, 
#content .ui-tabs .ui-widget-content .ui-state-hover, 
#content .ui-tabs .ui-widget-header .ui-state-hover, 
#content .ui-tabs .ui-state-focus, 
#content .ui-tabs .ui-widget-content 
#content .ui-tabs .ui-state-focus, 
#content .ui-tabs .ui-widget-header .ui-state-focus  
{
	border: 0; 
	background: #dadada none; 
	font-weight: normal; 
	color: #212121; 
}
#content .ui-tabs .ui-state-hover a, 
#content .ui-tabs .ui-state-hover a:hover  
{
	color: #212121; 
	text-decoration: none; 
}
#content .ui-tabs .ui-state-active, 
#content .ui-tabs .ui-widget-content .ui-state-active, 
#content .ui-tabs .ui-widget-header .ui-state-active  
{
	border: 0; 
	background: #FFFFFF none; 
	font-weight: bold; 
	color: #000000; 
}
#content .ui-tabs .ui-state-active a, 
#content .ui-tabs .ui-state-active a:link, 
#content .ui-tabs .ui-state-active a:visited  
{
	color: #000000; 
	text-decoration: none; 
}
#content .ui-tabs .ui-widget :active  
{
	outline: none; 
}

#content .ui-tabs .ui-state-highlight, 
#content .ui-tabs .ui-widget-content .ui-state-highlight, 
#content .ui-tabs .ui-widget-header .ui-state-highlight  
{
	border:0; 
	background: #fbf9ee none; 
	color: #363636; 
}
#content .ui-tabs .ui-state-highlight a, 
#content .ui-tabs .ui-widget-content .ui-state-highlight a,
#content .ui-tabs .ui-widget-header .ui-state-highlight a  
{
	color: #363636; 
}
#content .ui-tabs .ui-state-error, 
#content .ui-tabs .ui-widget-content .ui-state-error, 
#content .ui-tabs .ui-widget-header .ui-state-error 
{
	border: 1px solid #cd0a0a; 
	background: #fef1ec none; 
	color: #cd0a0a; 
}
#content .ui-tabs .ui-state-error a, 
#content .ui-tabs .ui-widget-content .ui-state-error a, 
#content .ui-tabs .ui-widget-header .ui-state-error a  
{
	color: #cd0a0a; 
}
#content .ui-tabs .ui-state-error-text, 
#content .ui-tabs .ui-widget-content .ui-state-error-text, 
#content .ui-tabs .ui-widget-header .ui-state-error-text  
{
	color: #cd0a0a; 
}
#content .ui-tabs .ui-priority-primary, 
#content .ui-tabs .ui-widget-content .ui-priority-primary, 
#content .ui-tabs .ui-widget-header .ui-priority-primary  
{
	font-weight: bold; 
}
#content .ui-tabs .ui-priority-secondary, 
#content .ui-tabs .ui-widget-content .ui-priority-secondary,  
#content .ui-tabs .ui-widget-header .ui-priority-secondary  
{
	opacity: .7; 
	filter:Alpha(Opacity=70); 
	font-weight: normal; 
}
#content .ui-tabs .ui-state-disabled, 
#content .ui-tabs .ui-widget-content .ui-state-disabled, 
#content .ui-tabs .ui-widget-header .ui-state-disabled  
{
	opacity: .35; 
	filter:Alpha(Opacity=35); 
	background-image: none; 
}

#content .ui-tabs .ui-corner-tl { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-tr { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-bl { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-br { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-top { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-bottom { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-right { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-left { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-all, #content .ui-tabs.ui-corner-all { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
