﻿/******************************************************************************
* Content - Main Area
*******************************************************************************/

BODY {
	font-family:verdana;
	font-size:12px; /* 12pt */
	color:#030000;
	margin-bottom:8px;
}

/******************************************************************************
* Content - Tag styles
*******************************************************************************/

h1 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:20px;
	margin:6px 0;
	color:#004667;
}
h2 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:16px;
	margin:4px 0 4px 0;
	color:#ffffff;
	background-color:#004667; 
	margin-left:-5px;
	padding-left:5px;
}
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active 
{
	color:#ffffff;
}
h3 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:16px;
	margin:6px 0;
	color:#004667
}
h4 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:14px;
	margin:6px 0;
	color:#004667;	
}
h5 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:12px;
	margin:6px 0;
	color:#004667;
}
h5 a:link,
h5 a:visited,
h5 a:hover,
h5 a:active 
{
	color:#004667;
}
h6 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:11px;
	margin:6px 0;
	color:#4e5e5e;
}

p { 
	margin: 16px 0; /* 16pt 0 */ 
}

table p { 
	margin: 0 0; /* 16pt 0 */ 
}

ul {
	display:block;
	list-style-type:disc;
	margin:1em 0;
	padding-left:40px;
}
ul ul {
	margin-bottom:0;
	margin-top:0;
	list-style-type:circle;
}
ul ul ul {
	list-style-type:square;
}
ol {
	padding-left:40px;
	display:block;
	list-style-type:decimal;
	margin:1em 0;
}
ol ol {
	margin-bottom:0;
	margin-top:0;
}
li {
	display:list-item;
}

blockquote {
	display:block;
	margin:1em 40px;	
}

/******************************************************************************
* Content - classes
*******************************************************************************/

.date
{
    font-family:verdana;
	font-weight:normal; 
	font-size:9px;
	color:#48a2c4;	
}

table.listing-table {
	border-collapse:collapse;
	margin:0 0 16px 0;
	width:100%;
}
table.listing-table tr {
	
}
table.listing-table th {
	font-weight:bold;
	padding:3px 0 3px 5px;
	background-color:#FFFFFF;
	color:#303030;
	border:1px solid #a1bfd3;
}
td.header {
	font-weight:bold;
	padding:3px 0 3px 5px;
	background-color:#FFFFFF;
	color:#303030;
	border:1px solid #a1bfd3;
}
table.listing-table td {
	padding:3px 0 3px 5px;
	color:#3a3c3d;
	border:1px solid #cde3ee;
}
table.listing-table tr:nth-child(2n+1) td,
table.listing-table tr.odd td {
	background-color:#FFFFFF;
}
tr.odd {}
table.listing-table tr:nth-child(2n) td,
table.listing-table t.even td {
	background-color:#e7f2f7;
}
tr.even {}

table.form-table 
{
	font-size: 12px; 
	background-color: #ECF8FB; 
	text-align: left; 
	padding:3px;
}
table.form-table td 
{
	font-size: 12px; 
	background-color: #ECF8FB; 
	text-align: left; 
	padding:3px;
}

.whiteText {color:#ffffff;}
.whiteText a:link,
.whiteText a:visited,
.whiteText a:hover,
.whiteText a:active 
{
	color:#ffffff;
}
