﻿
/******************************************************************************
* Home page
*******************************************************************************/

#homeContent
{
    width:726px;
    float:left;
}

#homeContentAd1 { margin-top:8px; }

#homeContentBoxs {}
#homeContentBoxs ul{padding-left:2px}
#homeContentBoxs ul li{padding-left:15px}
#homeContentBoxs1 { float:left; }
#homeContentBoxs2 { float:left; margin-left:8px; }
#homeContentBoxs3 { float:right }

#homeContentBoxs1Header { background-color:#9fcadf; color:#ffffff; height:30px; width:236px; font-size:14pt; text-indent:20px; padding-top:7px; }
#homeContentBoxs2Header { background-color:#d9da55; color:#004667; height:30px; width:236px; font-size:14pt; text-indent:20px; padding-top:7px; }
#homeContentBoxs3Header { background-color:#004667; color:#ffffff; height:30px; width:236px; font-size:14pt; text-indent:20px; padding-top:7px; }

#homeContentBoxs1Content { border:1px solid #9fcadf; padding:5px; }
#homeContentBoxs2Content { border:1px solid #d9da55; padding:5px; }
#homeContentBoxs3Content { border:1px solid #004667; padding:5px; }


#homeContentBoxs1Content ul { line-height:20px;  }
#homeContentBoxs1Content ul li {background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue.ashx) 0 50% no-repeat scroll; }
#homeContentBoxs1Content ul li a, a.visited { color:#000000; }
#homeContentBoxs1Content ul li a:hover { color:#9fcadf; }
#homeContentBoxs2Content ul { line-height:20px; }
#homeContentBoxs2Content ul li {background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-green.ashx) 0 50% no-repeat scroll; }
#homeContentBoxs2Content ul li a, a.visited { color:#000000; }
#homeContentBoxs2Content ul li a:hover { color:#d9da55; }
#homeContentBoxs3Content ul { line-height:20px; }
#homeContentBoxs3Content ul li {background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-dark-blue.ashx) 0 50% no-repeat scroll; }
#homeContentBoxs3Content ul li a, a.visited { color:#000000; }
#homeContentBoxs3Content ul li a:hover { color:#004667; }


