<!-- 
    Developer: WDCi (Lean)
    Development Date: 12/04/2016
    Task #: luana_MyEducationHistory vf component for enrolment wizard
    
    Change History:
    LCA-704 01-Jul-2016 WDCi - KH, add Date Completed
-->

<apex:component controller="luana_MyRecentEducationRecordsComponent">
    <apex:attribute name="communityContactId" description="Community user's contact id." type="String" required="required" assignTo="{!contactId}"/>
    
    <h2 class="education-title">My Education Records</h2>
    <apex:pageBlock >
        <div class="table-responsive">
            <apex:pageBlockTable value="{!educations}" var="education" styleClass="luanaDataTable">
                <apex:column >
                    <apex:facet name="header">Event/Course Name</apex:facet>
                    <apex:outputField value="{!education.Event_Course_name__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Date Commenced</apex:facet>
                    <apex:outputField value="{!education.Date_Commenced__c}"/>
                </apex:column>
                <!--LCA-704 Include 'Date Completed'-->
                <apex:column >
                    <apex:facet name="header">Date Completed</apex:facet>
                    <apex:outputField value="{!education.Date_completed__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Manually Added</apex:facet>
                    <apex:outputField value="{!education.Community_User_Entry__c}"/>
                </apex:column>
                 <apex:column >
                    <apex:facet name="header">Verified</apex:facet>
                    <apex:outputField value="{!education.Verified__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">CPD/CPE Hours</apex:facet>
                    <apex:outputField value="{!education.Qualifying_hours__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Specialist Hours Type</apex:facet>
                    <apex:outputField value="{!education.Qualifying_hours_type__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">University/Institution</apex:facet>
                    <apex:outputField value="{!education.Enter_university_instituition__c}"/>
                </apex:column>
            </apex:pageBlockTable>
        </div>
    </apex:pageBlock>
</apex:component>