.THIS .footer-colour {
  background: #333333;
}

.THIS a {
  font-size: 12px !important;
  color: white;
  white-space: nowrap;
  font-family: Nexa, Arial, Helvetica, sans-serif;
}

.THIS p {
  font-family: Nexa, Arial, Helvetica, sans-serif;
  font-size: 12px !important;
  line-height: 2 !important;
  color: #dfdfdf;
  text-align: center;
  max-width: 86vw;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .THIS .footer-flex {
    flex-direction: row;
  }
}