.THIS {
}

.THIS .desktop-heading {
    width: 100%;
}

@media (min-width: 768px) {
	.THIS .slds-accordion__content {
		overflow: visible;
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .THIS .slds-accordion__section {
        background: none;
    }
    
    .THIS .slds-accordion__summary {
        display: none;
    }
}

.THIS .slds-modal {
    background: rgba(0, 0, 0, 0.4);
}

.THIS .slds-modal__header {
    background: none;
    text-align: right;
    border: none;
}

.THIS .slds-modal__header .slds-icon {
    cursor: pointer;
}