.THIS .border {
    border: solid 1px;
    border-radius: 4px;
}

.THIS .loading {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.THIS .slds-grid {
    position: inherit !important;
}

.THIS .section-rhs {
    height: 100%;
    width: 100%;
}

.THIS .section-rhs .slds-p-around_small {
	width: 100%;   
}

/** RXP - 28/08/2019 - Added after introducing 2 column layout, which resulted in big vertical margins on ui-widgets **/
.THIS .slds-col .ui-widget {
    margin: 0;
}