.THIS .optionBelow {
	margin: 0.5rem 0;
}

/* this is the medium width transition point in SLDS CSS */
@media (max-width: 48em) {
    .THIS div.option.slds-small-size--1-of-1 {
		margin: 0.5rem 0;
    }    
}