.THIS .header {
    font-size: 32px;
    clear: right;
    color: #333;
    display: inline-block;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    word-wrap: break-word;
}

.THIS .subheader {
	font-size: 0.95rem;
}

.THIS .edge {
	width: 150px;
}

.THIS .help img.faq {
    margin: -10px 1px 4px 11px;
}

.THIS .help img.contact {
    margin: 0 -3px 4px 9px;
}

.THIS #faqContainer, .THIS #helpContainer {
	display: inline-block;
}