.THIS {
}

.THIS .slds-file-selector {
    background: white;
}

.THIS .slds-required {
    margin-top: .5rem;
}

.THIS .slds-media__body .slds-text-heading_small {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-right: .5rem;
    font-size: .8125rem;
}

.THIS .slds-card__header {
    padding: 0.5rem;
    margin: 0;
}