.THIS {
}
.THIS .slds-form-element__control {
    display: inline-flex;
}
.THIS .slds-form-element__label {
    margin-right: 10px;
}
.THIS .slds-checkbox .slds-checkbox_faux, 
.THIS .slds-checkbox .slds-checkbox--faux {
    border: 1px solid #000 !important;
}