﻿/******************************************************************************
* Reset CSS (see http://developer.yahoo.com/yui/reset/)
*******************************************************************************/

/* http://developer.yahoo.com/yui/reset/  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;padding:0;
}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}

/******************************************************************************
* Base-level tags
*******************************************************************************/

body {
	color:#030000;
	background-color:#ffffff;
	font-family:Tahoma;
	font-size:11px;
	line-height : 15px;
}

a:link,
a:visited,
a:hover,
a:active { 
	color:#336b85; /* #3f92b8 */ 
	text-decoration:none; 
}
a:hover { 
	text-decoration:underline;
}

a.boldLink:link, 
a.boldLink:visited,
a.boldLink:hover,
a.boldLink:active
{
    font-family:Tahoma;
    font-weight:bold;
    color:#336b85;
}

a.boldLink:hover { text-decoration:underline; }

/* bigger font size for news slide */
a.boldLinkforNewsSlide:link, 
a.boldLinkforNewsSlide:visited,
a.boldLinkforNewsSlide:hover,
a.boldLinkforNewsSlide:active
{
    font-family:Tahoma;
    font-weight:bold;
    color:#336b85;
    font-size: larger;
}

a.boldLinkforNewsSlide:hover { text-decoration:underline; }


/******************************************************************************
* ID selectors - ordered by display in page (outside-inside, top-bottom)
*******************************************************************************/

#wrap 
{
   	width:971px; 
	margin:0 auto;
}

/******************************************************************************
* Header
*******************************************************************************/

#header { 
	background:#ffffff url(/~/media/NZICA/Images/Homepage/logoNZICA.ashx) 5px 5px no-repeat scroll;
	position:relative; 
	height:122px;

}
#header a.homeLink:link,
#header a.homeLink:visited, 
#header a.homeLink:hover, 
#header a.homeLink:active 
{
	display:block;
	width:122px;
	height:122px;
	text-decoration:none; 
}
#header .banner 
{
    color:#ffffff;
    position:absolute;
    top:5px;
    left:120px;
    width:580px;
    height:110px;
}

#heroBanner
{
    float:none;
    height:156px;
    margin-bottom:11px;
    width:970px;
    overflow:hidden;
}

#heroBanner .heroText1 
{
    position:relative;
    top: -115px;
    text-align:right;
    padding-right:50px;
    font-family:Verdana;
    font-size: 22pt;
    font-weight: bold;
    color:#004667;
}

#heroBanner .heroText2
{
    position:relative;
    top: -85px;
    text-align:right;
    padding-right:50px;
    font-family:Verdana;
    font-size: 18pt;
    font-weight: normal;
    color:#004667;
    
}
#heroBanner .heroText3
{
    position:relative;
    top: -70px;
    text-align:right;
    padding-right:50px;
    font-family:Verdana;
    font-size: 18pt;
    font-weight: normal;
    color:#004667;
}


/******************************************************************************
* HERO BANNER
*******************************************************************************/
#hero-banner {
	width: 781px;
	height: 172px;
	overflow: hidden;
	position: relative;
	margin-bottom: 11px;
	float: right;
}
.home #hero-banner,
.one-col #hero-banner {
	width: 970px;
	height: 282px;
	clear: both;
	margin-bottom: -3px;
	float: none;
}
.one-col #hero-banner {
	height: 172px;
	margin-bottom: 30px;
}
	/* General Rules */
	#hero-banner ol {
		margin: 0;
		list-style: none;
	}
	#hero-banner ul {
	    margin: 0;
	    padding: 0 !important;
	    }
		#hero-banner ul li {
			background: none;
			padding: 0;
		}
	/* Menu */
	#hero-banner-nav {
		position: absolute;
		bottom: 14px;
		left: 0;
		z-index: 10;
		background: url("/images/template/hero-banner-menubg.png") no-repeat 0 0;
		width: 781px;
		height: 33px;
		text-align: center;
		padding-top: 7px;
	}
	.home #hero-banner-nav,
	.one-col #hero-banner-nav {
		background-image: url("/images/template/hero-banner-menubg-h.png");
		width: 970px;
	}
		#hero-banner-nav ul li {
			display: inline;
			margin-right: 10px;
			position: relative;
		}
			/* Tooltip */
			#hero-banner-nav li em {
				background-color: #f4f4f4;
				color: #333;
				display: block;
				font-style: normal;
				font-weight: bold;
				position: absolute;
				padding: .1em .5em .3em;
				bottom: 40px;
				/* CSS3 */
				border-radius: 4px; 
				-moz-border-radius: 4px; 
				-webkit-border-radius: 4px;
				box-shadow: 0 0 2px #000;
				-moz-box-shadow: 0 0 2px #000;
				-webkit-box-shadow: 0 0 2px #000;
			}
				#hero-banner-nav li em span {
					background: url("/images/template/hero-tooltip.gif") no-repeat 50% 0;
					display: block;
					height: 7px;
					width: 100%;
					position: absolute;
					bottom: -7px;
					left: 0;
				}
	/* Hero's */
	#hero-banner-items {
		width: 781px;
		height: 172px; 
		overflow: hidden;
	}	
	.home #hero-banner-items,
	.one-col #hero-banner-items {
		width: 970px; 
		height: 282px;
	}
	.one-col #hero-banner-items {height: 172px;}
		#hero-banner-items ul li {
			float: left;
			width: 781px;
		}
		.home #hero-banner-items ul li,
		.one-col #hero-banner-items ul li {width: 970px;}


/******************************************************************************
* Top-right (header) navigation
*******************************************************************************/

#loginLink 
{
    color:#c7c84e !important ;
    font-weight:bold !important;
}

#headerTopRight {
	position:absolute;
	top:5px;
	right:5px;
}
#headerTopRight ul {
   display:block;
   float:left;
}
#headerTopRight li { 
	display:block;
	float:left;
	line-height:12px;
	border-right:1px solid #030000;
	padding:0px 10px 0px 10px;
	margin-top:5px;
}
#headerTopRight li.last {
	border-right:none;
}
#headerTopRight li.append {
	border-right:none;
	border-left:1px solid #030000;
}
#headerTopRight p {
   clear:left;
   text-align:right;
   margin-top:10px;
   color:#030000;
   line-height:19px;
}
#headerTopRight a:link,
#headerTopRight a:visited,
#headerTopRight a:hover,
#headerTopRight a:active {
	color:#030000;
}
#headerTopRight a.selected:link,
#headerTopRight a.selected:visited,
#headerTopRight a.selected:hover,
#headerTopRight a.selected:active,
#headerTopRight a:hover {
	color:#030000; /*change Home to black */
	text-decoration:none; 
}

/******************************************************************************
* Search Box
*******************************************************************************/

#headerBottomRight {
	position:absolute;
	bottom:5px;
	right:5px;
}
#headerBottomRight .inputSearchbox {
	width:190px;
	padding:3px 2px 3px 5px;
	margin:0 2px;
	border:1px solid Silver;
	font-style:italic;
	font-size:11px;
	height:15px;
	z-index: 50;
	color:#999999; /*change txt color in searchbox */
}

#headerBottomRight .btnSearch
{
    margin-top:60px;
    margin-left:5px;
    width:26px; 
    height:26px; 
    border:none; 
    padding:0;  
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Search.ashx) 0 3px no-repeat scroll; 
    text-decoration:none !important;
    z-index: 50;
}

/******************************************************************************
* Search Results
*******************************************************************************/

.search-keyword {
    font-weight: bold;    
}

/******************************************************************************
* Login box
*******************************************************************************/

/* The div with login controls that will be displayed using jQuery from nz_Login_Roll.ascx */
#loginDialog
{
	z-index:350;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	display: none;
	width: 350px;
	position: absolute;
	text-align:left;
	line-height:24px;
}

#loginDialog a,
#loginDialog a:link,
#loginDialog a:visited,
#loginDialog a:hover,
#loginDialog a:active
{
	color: #004767;
}

#closeLoginDialog
{
	position: absolute;
	right: 3px;
	top:3px;
	display: block;
}

#loginDialog td td
{
	padding:0 6px 3px 6px;	
}
#loginDialog h3 
{
	background-color:#EBF4F9;
	color:#004667;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	margin:9 0 19px;
	padding:0 5px;	
}
#loginDialog p 
{
	color:Black;
	text-align:left;
	padding:0 6px 3px 6px;	
}

#loginDialog .textbox
{
	width:130px;
}


/******************************************************************************
* Top (dropdown) Navigation
*******************************************************************************/


#topNavigation {
	background-color:#ffffff;
	height:36px;
	margin-bottom:8px;

}
#topNavigation .dropdown {
	width:682px;
	float:left;
    padding-top:5px;
    	    background:#ffffff url(/~/media/NZICA/Images/Homepage/TopNavBarBackground.ashx) 0 5px repeat-x scroll;
}
#topNavigation .dropdown li {
	display:block;
	float:left;
	/*padding-left:0px;*/

}
/* Workaround for IE 6 */
* html #topNavigation .dropdown li 
{
	width:1em;
	white-space:nowrap;	
}
#topNavigation .dropdown a:link,
#topNavigation .dropdown a:visited,
#topNavigation .dropdown a:hover,
#topNavigation .dropdown a:active {
	display:block;
	font-size:13px; /* 12pt */ /*set the font bigger, cause one tab has been removed from top navigation*/
	text-transform:uppercase;
	color:#ffffff;
	padding:8px 29px 0 29px; /* font size needs to be smaller */
	height:22px;
	font-family:Tahoma;
	font-weight:bold;
    border-left:1px solid #ffffff;
	letter-spacing:1px;
}

#topNavigation .dropdown a.selected:link,
#topNavigation .dropdown a.selected:visited,
#topNavigation .dropdown a.selected:hover,
#topNavigation .dropdown a.selected:active {
	color:#ffffff;
	text-decoration:none;
	
}

#topNavigation .dropdown a:hover {
	color:#c7c84e;
	/*background-color:#e5f0f6;*/
	text-decoration:none;
		
}

#topNavigation .dropdown li ul { 
	position:absolute;
	top:41px;
	left:-999px;
	width:188px;
	margin:0 0 0 0;
	padding:0 0 0 0;
z-index:8000;

}

* html #topNavigation .dropdown ul {margin-top:0;} 
*:first-child+html #topNavigation .dropdown ul {margin-top:0;}

#topNavigation .dropdown li ul li a:link,
#topNavigation .dropdown li ul li a:visited,
#topNavigation .dropdown li ul li a:hover,
#topNavigation .dropdown li ul li a:active {
	display:block;
	float:left;
	width:177px; /* Standard browser width */
	_width:277px; /* This will apply to IE6 only - workaround text wrapping issue with drop down menu */
   height:auto;
   text-transform:none;
	background-color:#00aad0;
   border-top:1px solid #ffffff;
	margin:0 0 0 0;
	padding:9px 0 9px 11px!important;
	background-image: none;
	letter-spacing:0px;
}

#topNavigation .dropdown li ul li a:hover {
	color:#004667; /* #c7c84e */
	background-color:#00aad0; /* #C0C0C0 */
	text-decoration:none;
}

#topNavigation .dropdown li:hover, 
#topNavigation .dropdown li.over { position: static;}

#topNavigation .dropdown li ul 
{ 
    border:0px solid #ffffff;
    border-top:0; 
    /*text-align:center;*/
 }

#topNavigation .dropdown li ul li { margin:0; }

#topNavigation .dropdown li ul ul { 
	margin:0 0 0 188px;
}
* html #topNavigation .dropdown li ul ul {margin:0;} 
*:first-child+html #topNavigation .dropdown li ul ul {margin:0;}


#topNavigation .dropdown li:hover ul ul, 
#topNavigation .dropdown li:hover ul ul ul, 
#topNavigation .dropdown li.over ul ul, 
#topNavigation .dropdown li.over ul ul ul {
	left:-999px;
}

#topNavigation .dropdown li:hover ul, 
#topNavigation .dropdown li li:hover ul, 
#topNavigation .dropdown li li li:hover ul, 
#topNavigation .dropdown li.over ul, 
#topNavigation .dropdown li li.over ul, 
#topNavigation .dropdown li li li.over ul { 
	left:auto;
	top:auto;
}

/******************************************************************************
* Tabbed (persona) Navigation
*******************************************************************************/

#topNavPersona {
	width:288px;
	float:right;

}
#topNavPersona li {
	display:block;
	float:left;
	width:94px;
	padding-left:2px;

}
#topNavPersona li a:link,
#topNavPersona li a:visited,
#topNavPersona li a:hover,
#topNavPersona li a:active {
	color:#000000;
	display:block;
	padding:10px 0px 0px 0px;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
	height:26px;
	background:transparent url(/~/media/NZICA/Images/Homepage/PersonaNavBackground.ashx) 0 0 no-repeat scroll;
	font-family:Tahoma;
	font-size:13px;
	text-transform:uppercase; 
}
#topNavPersona li a.selected:link,
#topNavPersona li a.selected:visited,
#topNavPersona li a.selected:hover,
#topNavPersona li a.selected:active,
#topNavPersona li a:hover {
	/* show different tab perhaps? */
	text-decoration:none;
	color: #c7c84e;
}

#topNavPersona li ul { 
	position:absolute;
	top:41px;
	left:-999px;
	width:150px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:200;
}
#topNavPersona li.last ul { 
	margin:0 0 0 -72px;
}

* html #topNavPersona ul {margin-top:0;} 
*:first-child+html #topNavPersona ul {margin-top:0;}

#topNavPersona li ul li a:link,
#topNavPersona li ul li a:visited,
#topNavPersona li ul li a:hover,
#topNavPersona li ul li a:active {
	text-align:left;
	font-weight:normal;	
	display:block;
	width:139px;
   height:auto;
   text-transform:none;
	background:#f8f8ea none;
   border-top:1px solid #c7c84e;
	margin:0 0 0 0;
	padding:6px 5px 6px 6px;
	font-size:11px;
}

#topNavPersona li ul li a:hover {
	color:#004767;
	background-color:#e6e699;
}

#topNavPersona li:hover, 
#topNavPersona li.over { position: static;}

#topNavPersona li ul { border:1px solid #c7c84e; border-top:0; }

#topNavPersona li ul li { margin:0; float:none; }

#topNavPersona li ul ul { 
	margin:0 0 0 -188px;
}
* html #topNavPersona li ul ul {margin:0;} 
*:first-child+html #topNavPersona li ul ul {margin:0;}


#topNavPersona li:hover ul ul, 
#topNavPersona li:hover ul ul ul, 
#topNavPersona li.over ul ul, 
#topNavPersona li.over ul ul ul {
	left:-999px;
}

#topNavPersona li:hover ul, 
#topNavPersona li li:hover ul, 
#topNavPersona li li li:hover ul, 
#topNavPersona li.over ul, 
#topNavPersona li li.over ul, 
#topNavPersona li li li.over ul { 
	left:auto;
	top:auto;
}


/******************************************************************************
* Content - Left bar
*******************************************************************************/

#leftContent {
	width:175px;
	margin-right:16px;
	margin-top:-3px;
	float:left;
}

/******************************************************************************
* Side Navigation
*******************************************************************************/
#sideNav 
{
	margin-bottom:10px;
}
#sideNav li {
	display:block;
}
#sideNav li a:link,
#sideNav li a:visited,
#sideNav li a:hover,
#sideNav li a:active {
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    background: #004667;
	display:block;
	font-family:tahoma;
	font-size:12px; /* 12.5pt */
	font-weight:bold;
	color:#004667;
	padding:3px 5px 3px 5px; /* 7.5pt 5px */
	border:0px solid #e5f0f6;
	margin-top:3px;
	text-decoration:none;	
}
#sideNav li a:hover {
	color:#49a2c3;
}
#sideNav li li a.selected:link,
#sideNav li li a.selected:visited,
#sideNav li li a.selected:hover,
#sideNav li li a.selected:active,
#sideNav li li a.selected.open:link,
#sideNav li li a.selected.open:visited,
#sideNav li li a.selected.open:hover,
#sideNav li li a.selected.open:active {
   /*background-color:#ebf4f9;*/
   color:#00aad0;
}

#sideNav li a.firstselected:link,
#sideNav li a.firstselected:visited,
#sideNav li a.firstselected:hover,
#sideNav li a.firstselected:active,
#sideNav li a.firstselected.open:link,
#sideNav li a.firstselected.open:visited,
#sideNav li a.firstselected.open:hover,
#sideNav li a.firstselected.open:active {
    background-color: #004667;
    /*border: 2px solid #004667;
    border-radius: 0 9px 0 0;*/
    background:url(/~/media/NZICA/Images/Site%20Structure/Icons/background.ashx) -1px  no-repeat ;
    color: white;
    font-weight: bold;
    padding: 5px 0 5px 5px;
}

#sideNav li li a:link,
#sideNav li li a:visited,
#sideNav li li a:hover,
#sideNav li li a:active {
    color:#004667;
	padding-left:15px;
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml.ashx) 3px 4px no-repeat scroll;
	font-weight:normal;
	font-size:11px;
}
#sideNav li li a:hover {
	color:#49a2c3;
}
#sideNav li li li a:link,
#sideNav li li li a:visited,
#sideNav li li li a:hover,
#sideNav li li li a:active {
	padding-left:22px;
	background-position:10px 4px;
}
#sideNav li li li li a:link,
#sideNav li li li li a:visited,
#sideNav li li li li a:hover,
#sideNav li li li li a:active {
	padding-left:30px;
	background-position:16px 4px;
}
#sideNav li li li li li a:link,
#sideNav li li li li li a:visited,
#sideNav li li li li li a:hover,
#sideNav li li li li li a:active {
	padding-left:40px;
	background-position:30px 4px;
}
/* selected styles */
#sideNav li li a.open:link,
#sideNav li li a.open:visited,
#sideNav li li a.open:hover,
#sideNav li li a.open:active {
	padding-left:15px;
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml-down.ashx) 2px 5px no-repeat scroll;
}
#sideNav li li li a.open:link,
#sideNav li li li a.open:visited,
#sideNav li li li a.open:hover,
#sideNav li li li a.open:active {
	padding-left:22px;
	background-position:10px 5px;
}
#sideNav li li li li a.open:link,
#sideNav li li li li a.open:visited,
#sideNav li li li li a.open:hover,
#sideNav li li li li a.open:active {
	padding-left:30px;
	background-position:15px 5px;
}
#sideNav li li li li li a.open:link,
#sideNav li li li li li a.open:visited,
#sideNav li li li li li a.open:hover,
#sideNav li li li li li a.open:active {
	padding-left:40px;
	background-position:34px 5px;
}

/******************************************************************************
* Content - Main Area
*******************************************************************************/

#content {
	width:525px;
	float:left;
	font-family:verdana;
	font-size:11px; /* 12pt */
	color:#030000;
	margin-bottom:6px;
	line-height : 16px;

}

#content.contentLrg 
{
    float:right;
    width:778px;
}

#content.contentFullWidth
{
    width:960px;
    padding-left: 10px;
}

/******************************************************************************
* Content - Breadcrumbs
*******************************************************************************/

#content ul#breadcrumb, 
#content ul#breadcrumb li  
{
	list-style:none; 
	display:block; 
	margin:0; 
	padding:0;
	font-size:11px;
}
#content ul#breadcrumb li  
{
	float:left; 
	padding:0 5px 0 12px; 
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml.ashx) 0 50% no-repeat scroll; 
}
#content ul#breadcrumb li:first-child  
{
	padding-left:0; 
	background:transparent ; 
} 
#content ul#breadcrumb li,
#content ul#breadcrumb a:link,
#content ul#breadcrumb a:visited,
#content ul#breadcrumb a:hover,
#content ul#breadcrumb a:active 
{
	font-style:italic;
	color:#818285;
}
#content ul#breadcrumb li.last,
#content ul#breadcrumb li.last a:link,
#content ul#breadcrumb li.last a:visited,
#content ul#breadcrumb li.last a:hover,
#content ul#breadcrumb li.last a:active 
{
	color:#818285;
	white-space: nowrap;
}

/******************************************************************************
* Content - Utilities
*******************************************************************************/

#content .utilities 
{
	margin:13px 0 0 0;
	/*width:300px;*/
	float:right;
	text-align:right;
}
#content .utilities a:link,
#content .utilities a:visited,
#content .utilities a:hover,
#content .utilities a:active
{
	padding:4px 2px 4px 24px;
	background:transparent none 6px 50% no-repeat scroll;
	color:#333333;
	font-size:10px;
} 
#content .utilities a.print:link,
#content .utilities a.print:visited,
#content .utilities a.print:hover,
#content .utilities a.print:active 
{
	background-image:url(~/media/NZICA/Images/Site%20Structure/Icons/icon_print.ashx);
}
#content .utilities a.email:link,
#content .utilities a.email:visited,
#content .utilities a.email:hover,
#content .utilities a.email:active 
{
	background-image:url(~/media/NZICA/Images/Site%20Structure/Icons/icon_email.ashx);
}
#content .utilities a.share:link,
#content .utilities a.share:visited,
#content .utilities a.share:hover,
#content .utilities a.share:active 
{
	background-image:url(~/media/NZICA/Images/Site%20Structure/Icons/icon_share.ashx);
}

/******************************************************************************
* Content - Tag styles
*******************************************************************************/

#content h1 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:17px;
	margin:13px 0 7px 0;
	color:#004667;
	display:block;
	line-height:21px;
}
#content h2 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:13px;
	margin:20px 0 3px 0;
	color:#ffffff;
	background-color:#004667; 
	margin-left:-5px;
	padding:3px;
}

#content h2 a:link,
#content h2 a:visited,
#content h2 a:hover,
#content h2 a:active 
{
	color:#ffffff;
}
#content h3 { 
	font-family:Tahoma;
	font-weight:bold; 
	font-size:13px;
	margin:20px 0 3px 0;
	color:#004667
}
#content h4 { 
	font-family:Tahoma;
	font-weight:bold; 
	font-size:12px;
	margin:14px 0 3px 0!important;
	color:#004667;	
}
#content h5 { 
	font-family:Tahoma;
	font-weight:bold; 
	font-size:11px;
	margin:14px 0 3px 0!important;
	color:#004667;
}

#content h5 a:link,
#content h5 a:visited,
#content h5 a:hover,
#content h5 a:active 
{
	color:#004667;
}

#content h6 { 
	font-family:Tahoma;
	font-weight:bold; 
	font-size:11px;
	margin:14px 0 3px 0!important;
	color:#030000;
}

#content .PodHeadingLightBlue { 
	font-family:verdana;
	font-weight:bold; 
	font-size:12px;
	margin:6px 0 3px 0!important;
	color:#004667;	
}

#content p { 
	margin: 0px 0px 9px 0px; /* 16pt 0 */ 
}

#content table { border-collapse:collapse; }
#content table p { 
	margin: 0px 0 0px 0; /* 16pt 0 */ 
}

#content ul {
	display:block;
	list-style-type:disc;
	margin: 0px 0 0px 0;
	padding-left:10px;
}
#content ul ul {
	margin-bottom:0;
	margin-top:0;
	list-style-type:disc;
}
#content ul ul ul {
	list-style-type:disc;
}
#content ol {
	padding-left:40px;
	display:block;
	list-style-type:decimal;
	margin:1em 0;
}
#content ol ol {
	margin-bottom:0;
	margin-top:0;
}
#content li {

	margin-bottom:0px;
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml.ashx)  left top no-repeat;
	background-position: 0em 4px; 
	padding: 0px 4px 8px 16px; 
	list-style-type:none;

}

#content blockquote {
	display:block;
	margin:1em 40px;	
}

#content .date
{
    font-family:verdana;
	font-weight:normal; 
	font-size:9px;
	color:#48a2c4;	
}

/******************************************************************************
* Content - classes
*******************************************************************************/

#content table.listing-table {
	border:1px solid #9fcadf;
	margin:0 0 16px 0;
	width:100%;
}
#content table.listing-table tr {
	
}
#content td.TableTitle, #content tr.TableTitle td 
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	color:#48a2c4;
	background-color:#EBF4F9;
}
#content table.listing-table th,
#content td.tableHeading, #content tr.tableHeading td {
	font-weight:bold;
	padding:5px;
	background-color:#EBF4F9;
	color:#303030;
	border:1px solid #9fcadf;
}
#content table.listing-table td,
#content tr.TableRow1 td, #content tr.TableRow2 td {
	padding:5px;
	color:#3a3c3d;
	border:1px solid #9fcadf;
	vertical-align:top;
}
#content table.listing-table tr:nth-child(2n+1) td,
#content table.listing-table tr.odd td, 
#content tr.TableRow2 td {
	/*background-color:#FFFFFF;*/
}
#content table.listing-table tr:nth-child(2n) td,
#content table.listing-table tr.even td,
#content tr.TableRow1 td {
	/*background-color:#e7f2f7;*/
}

#content table.form-table 
{
	font-size: 12px; 
	/*background-color: #ECF8FB; */
	text-align: left; 
	padding:3px;
}
#content table.form-table td 
{
	font-size: 12px; 
	/*background-color: #ECF8FB; */
	text-align: left; 
	padding:3px;
}

#content .mainImage
{
    float:left;
    padding-right:8px;
    padding-bottom:2px;
    margin-top:7px;
}

#content .whiteText 
{
	color:#ffffff;
    margin-top:0px!important;
}
#content .whiteText a:link,
#content .whiteText a:visited,
#content .whiteText a:hover,
#content .whiteText a:active 
{
	color:#ffffff;
}

#content table.form-table .memberDetails
{
	vertical-align: top;
}

#content table.form-table .formLabel
{
	font-weight: bold;
}


#content #form-table .detailsLabel
{
	font-weight: bold;
}

.detailsLabel
{
	font-weight: bold;
}

.optionsMessages
{
	
}

.optionsLabel
{
	width: 50%;
	height: 1px;
}

.optionsOneTwo
{
	width: 30%;
	text-align: center;
}

.optionsThreeFour
{
	width: 20%;
	text-align: center;
}

.rightColumnLabel
{
	padding: 0px 0px 0px 10px;
	text-align: right;
	vertical-align: top;
	width: 50%;
}

.searchFor
{
	background-color: #DFF8FF;
}

.helpMessage
{
	font-style:italic;
}

/******************************************************************************
* Content - Right bar
*******************************************************************************/

#rightContent {
	width:236px;
	float:right;
}

#rightContent .banner {
	overflow:hidden;
	height:212px;
	background-color:#ffffff;
	border:1px solid #cccccc;
	margin:3px 0 7px;
}
#rightContent .banner img 
{
    width:204px;
    height:180px;
    margin:15px;
}

#rightContent .box 
{
	/*border:1px solid #F7F8F8;*/
	position:relative;
	margin:2px 0 9px 0;
}
#rightContent .box h3 {
	font-family:Tahoma;
	font-weight:bold;
	font-size:12px;
	padding:4px 12px;
	margin:0;
	color:#fff;	
	/*background-color:#c7c84e;*/
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/RelatedPageBackground.ashx) no-repeat scroll 0px 0px ;
}
#rightContent .box .items 
{
    margin-top:-8px;
    margin-bottom:-8px;
    border-left:1px solid #F7F8F8;
    border-right:1px solid #F7F8F8;
}
#rightContent .box .relatedItems 
{
    border-left:1px solid #F7F8F8;
    border-right:1px solid #F7F8F8;
    border-bottom:1px solid #F7F8F8;
    margin-bottom:8px;
}
#rightContent .box p {
	margin:8px 5px;
}
#rightContent .box .more 
{
    /*background-color: #ececc0;*/
    background: url(/~/media/NZICA/Images/Site%20Structure/Icons/LatestNewsBackground.ashx) no-repeat scroll 0 -7px;

	text-align:left;
	padding-left:170px;
	display:block;
	/*position:absolute; bottom:0; right:0; */
	font-weight:bold;
	font-style:normal;	
		
}

#rightContent .box .more a 
{
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml.ashx) no-repeat scroll 43px 2px ;
}

#rightContent .box ul.relatedItems li 
{
	background:transparent url(~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml.ashx) 5px 5px no-repeat scroll;
	padding:3px 0 3px 17px; 
}

/******************************************************************************
* Bottom area - ads
*******************************************************************************/

#bottomContent
{
    float:none; 
    width:983px; /*make it wider than main content so the ad can align with others*/
    /*border: 1px solid Lime; */
    padding:8px 0;
    clear:both;
    display:inline-table;

}
#bottomContent .banner
{
	float:left;
	width:491px;
}



/******************************************************************************
* Footer
*******************************************************************************/

#footer { 
	clear:both; 
	background-color:#f6f7f9;
}
#footer { 
	height:60px;
}

/******************************************************************************
* Footer Navigation
*******************************************************************************/

#footerMenu {

}

#footerMenu li {
	display:block;
	float:left;
	border-right:1px solid #666666;
	line-height:12px;
	padding:0 10px;
	margin:10px 0;	
}

#footerMenu li.last {
	border-right:none;
}

#footerMenu a,
#footerMenu a:link,
#footerMenu a:visited,
#footerMenu a:hover,
#footerMenu a:active {
	font-size:10px;
	color:#333333;	
}

/******************************************************************************
* Footer Copyright
*******************************************************************************/

#footerCopyright {
	clear:left;
	font-size:10px;
	margin:10px 0 0 10px;	
	height:12px;
}

/******************************************************************************
* Footer Links (external sites)
*******************************************************************************/

#footerLinks {
	margin:-30px 0 0 10px;	
}
#footerLinks a:link,
#footerLinks a:visited,
#footerLinks a:hover,
#footerLinks a:active {
	display:block;
	float:right;
}
#footerLinks img 
{
	height:30px;
	width:auto;
	margin-right:15px;	
}

/******************************************************************************
* Print styles
*******************************************************************************/

body.print #content .utilities { display:none; }
body.print #footerMenu { display:none; }
body.print #footerLinks { display:none; }

/******************************************************************************
* Generic classes
*******************************************************************************/

.clear { clear:both; }
.clear-hidden { clear:both; font-size:1px; height:1px; }

.error { color:Red; }

a.footerLink:link,
a.footerLink:visited,
a.footerLink:hover,
a.footerLink:active {
	font-family:verdana;
	font-weight:bold;
	font-style:italic;
	font-size:11px; /* 10pt */
	color:#49a2c3;
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml.ashx) no-repeat scroll 47px 2px ;
}

/******************************************************************************
* Controls and box's
*******************************************************************************/

.box 
{
    /*border: 1px solid #e5f0f6;*/
}
.boxTabs
{
    font-family:Verdana;
    font-size:14pt;
    margin-top:2px;
    color:#49a2c3;
}
.boxHeading 
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	color:#48a2c4;
	background-color:#e5f0f6;
}
.boxFooterLink 
{
	text-align:right;
	font-family:verdana;
	font-weight:bold;
	font-style:italic;
	font-size:11px; /* 10pt */
	color:#49a2c3;
}



/******************************************************************************
* icons
*******************************************************************************/

#content h2 .h2RssIcon
{
    float:right; margin-top:-1px; margin-right:5px;
}


/******************************************************************************
* GB
*******************************************************************************/
.linkheading
{
    margin-bottom: 0;
}



/******************************************************************************
* CPD Log
*******************************************************************************/

/*** Can these pls be moved out into a site section css file *****/

#topNAV
{
	margin-top:10px;
	padding-left:0px;
	/*border:1px black solid;*/
	display:inline-block;
}


#topNAV ul
{
	padding-left:0px!important;
}

#topNAV ul.DECsnav li
{
	float:left;
	list-style:none;
	background-image: none!important;		
	padding-left:0;
}



#topNAV ul.DECsnav a
{
	display:block;
	float:left;
	background-color:#004667;
	list-style:none;
	height:auto;
	width:auto;
	padding-left:25px;
	_padding-left:24px;
	/*_padding-left:27px;*/
	
	padding-right:25px;
	_padding-right:24px;
	/*_padding-right:27px;*/
	padding-top:4px;
	padding-bottom:4px;
	border:0px solid #999999;
	border-bottom:0px;
	margin:1px;
	margin-right:2px;
	text-decoration:none;
	color:#FFFFFF;
}
#topNAV ul.DECsnav a:hover, #topNAV ul a.current
{
	background-color:#3F92B8;
	color:#ffffff;
}
.DECsDisplay
{
	background-color:#ECF8FB;
	padding:6px;
}

.CPDLogTable 
{
	font-size: 10pt; background-color: #E5F0F6; text-align: left; padding:3px;
}

.CPDLogTable td 
{
	font-size: 10pt; background-color: #E5F0F6; text-align: left; padding:3px;
}

.CPDButtonBar
{
	background-color: #D3E6F0;
	text-align: left;
	padding:5px;
}

.CPDButtonBar td
{
	background-color: #D3E6F0;
	text-align: left;
	height: 15px;
	padding-right:3px;
}

.CPDButtonBar INPUT IMG
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.CPDQuestions 
{
	background-color:#004667!important;
	padding:4px; 
	border:0px;
	color:#ffffff!important;
}

.CPDInnerTitle
{
	font-style:italic;
	font-weight:bold;
}

.tableheader
{
    background-color:#004667!important;
    color:#ffffff!important;
	/*    text-align:center;*/
    font-weight:bold;

}

.tableheader th
{
    text-align: left;
	background-color:#004667!important;
	color:#ffffff!important;
	    padding:3px;
	    font-size:12px;
}

.CPDRadioButton
{

}

.CPDRadioButton td
{
	border:0!important;
}

/******************************************************************************
* Find a member
*******************************************************************************/

.MenuSelectedItem
{
	text-decoration:underline!important; 
}

.SearchCAAlternatingRow
{
	background-color:#ECF8FB;
}

/******************************************************************************
* Find an ATO
*******************************************************************************/
.SearchATOAlternatingRow
{
	background-color:#ECF8FB;
	padding:3px 3px 3px 3px;
}

.SearchATORow
{
	background-color:#ffffff;
	padding:3px 3px 3px 3px;
}

/******************************************************************************
* Important Declarations
*******************************************************************************/

#content #divDeclarations .divBlock
{
    display:block;
    float:left;
	width:120px;
    height:20px;
	text-align:center;
    background:transparent url(~/media/NZICA/Images/Site%20Structure/Icons/Arrow-declaration.ashx) 120px 50% no-repeat scroll;
    padding-right:15px;
    vertical-align:middle;
}

#content #divDeclarations .blockTitle
{
    display:block;
	background-color:#004667; 
	color:#FFFFFF;
	width:120px;
	height:18px;
	padding-top:2px;
}

#content #divDeclarations .blockTitleActive
{
    display:block;
	background-color:#49A2C3; 
	color:#004667;
	width:120px;
	height:18px;
	padding-top:2px;
}




TABLE .wizardStepTable
{
    margin-bottom:10px;
    margin-top:10px;
    width:100%;
}
#content #divDeclarations TABLE .wizardStepTable TR
{
    /*background-color:#e7f2f7;*/
}
#content #divDeclarations TABLE .wizardStepTable TR.trWhite
{
    background-color:#ffffff;
}
#content #divDeclarations TABLE .wizardStepTable TD.tdMain
{
    padding:10px 0 10px 5px;
    width:80%;
}
        
#content #divDeclarations TABLE .wizardStepTable TD.tdInput
{
    text-align:center;
    padding-top:10px;
}
        
#content #divDeclarations .btnWizardPrevious
{
    float:left;
}


#content #divDeclarations .navMenu 
{
	padding:5px;
}

#content #divDeclarations li {

	margin-bottom:0px;
	background:transparent left top no-repeat;
	background-position: 0em 4px; 
	padding: 7px 4px 4px 16px; 
	list-style-type:none
}

#content #divDeclarations .divFootNote 
{
    padding: 20px 4px 20px 4px;
    font-size:x-small
}

#content #divDeclarations TD .tdRetired
{
    padding: 15px 0px 0px 0px
}

#content #divDeclarations TABLE .RetiredRdo TD
{
    padding: 0px 30px 0px 0px    
}

/******************************************************************************
* Preferences
*******************************************************************************/
.headerCommandButtonsRight,
.footerCommandButtonsRight
{
   /*text-align: left;*/
    float: right;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px; 
}

.headerCommandButtons,
.footerCommandButtons
{
	text-align: left;
	padding-right: 39px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	/* border: 0px solid #ffffff; */
	/* background-color: #ffffff; */
	
}

/******************************************************************************
* Sitemap
*******************************************************************************/

ul.MenuLevel0 {margin-left:10px; list-style-type:disc;}
ul.MenuLevel1 {margin-left:40px; list-style-type:square;}
ul.MenuLevel2 {margin-left:40px; list-style-type:circle;}
ul.MenuLevel3 {margin-left:40px; list-style-type:disc;}


/******************************************************************************
* Buttons
*******************************************************************************/

.GenericButton
{
	background-color:#3F92B8;
	border:0;
	padding: 4px 10px 4px 10px;
	font-family:sans-serif;
	font-size:12px;
	color:#ffffff;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
}



a.GenericButton:link, 
a.GenericButton:visited,
a.GenericButton:hover,
a.GenericButton:active
{
	text-decoration:none!important;
	color:#ffffff!important;
}

/******************************************************************************
* Radiobuttons and checkboxes
*******************************************************************************/

input[type="radio"] 
{ 
	margin-right:4px; 
}

input[type="checkbox"] 
{ 
	margin-right:4px;
	margin-left:3px; 
}


/******************************************************************************
* Panels
*******************************************************************************/

#content .panel {
	float: left;
	width: 248px;
	margin: 0 0 18px 14px;
	font-size: 11px;
	/*border:1px solid #ebf4f9;*/
}
#content .panel.wide {
	width: 520px;
	margin: 0 0 18px 0;
}
#content .panel-inner {
	padding: 10px 0 15px;
	float: left;
}
#content .panel ul, #content .panel p, #content .panel ol {margin: 0;}
#content .panel ul {margin-bottom: -5px;}
#content .panel li {
	margin-bottom: 5px;
	background: url("/images/template/bullet-alt.gif") no-repeat 0 5px;
}
#content .panel h2 {
	font-size: 1.36em; /* 15px */
	padding: 9px 20px 9px 12px;
}
#content .panel h2, #content .panel h4 {
	position: relative;
	/*color: #444343;*/
	margin: 0;
}
#content .panel .icon {
	position: absolute;
	top: 8px;
	right: 12px;
}
/* Footer */
#content .panel-footer {
	margin: 0;
	background: #C41230 ;
	min-height: 20px;
	clear: both;
}
#content .panel-footer a {
	display: block;
	text-align: right;
	padding: 1px 18px 2px;
}
#content .panel-footer a:link,
#content .panel-footer a:visited {
	color: #fff; 
	font-weight: bold;
}
#content .panel-footer a:hover,
#content .panel-footer a:focus {text-decoration: none;}

#content .panel-inner.article,
#content .panel-inner.slideshow {
	min-height: 19em; /* 215px */
	padding: 5px 0 0;
} 
#content .panel.wide .panel-inner.article {
	min-height: 0;
	padding-bottom: 3px;
}
#content .panel-inner.article h3 {
	font-size: 100%; /* 11px */
	margin-bottom: 3px;
}
#content .panel-inner.article .wide-article-display-manual h3 {
	font-size: 1.1em; /* 12px */
	margin-bottom: .8em;
	line-height: 1.4em;
}
/* Main Paragraph Height Rule */
#content .panel-inner.article p {min-height: 48px;}
#content .panel.wide .panel-inner.article p {
	min-height: 0; 
	line-height: 1.3em;
}
#content .panel.wide .panel-inner.article .wide-article-display-manual p {line-height: 1.5em;}
/* Banner */
#content .panel-banner {
	margin-bottom: 10px;
	display: block;
}
/* Panel Items */
#content .panel .panel-items {
	width: 248px;
	overflow: hidden;
}
#content .panel.wide .panel-items {width: 520px;} 
#content .panel .panel-items ul {
	margin: 0;
	list-style:none;
	padding:0;
}
#content .panel .panel-items ul li {
	width: 248px;
	float: left;
	padding: 0;
	background: none;
	margin: 0;
}
#content .panel.wide .panel-items ul li {width: 520px;}

#content .panel.wide .multiple-articles {
	float: left;
	max-width:520px;
	min-height: 128px;
}
#content .panel.wide .multiple-articles div {
	background: none;
	padding: 0;
	width: 165px;
	float: left;
	margin-left: 10px;
}
#content .panel.wide .multiple-articles .first {margin: 0;}
#content .panel .multiple-articles div img {
	display: block;
	margin-bottom: 10px;
}
#content .panel .multiple-articles div h3 {margin: 0;}

#content .panel-inner.article .item-wide {
	margin: -5px 0 -3px;
	float: left;
	width: 520px !important;
}
#content .panel-inner.article .item-wide img {float: left;}
#content .panel-inner.article .item-item-wide h3,
#content .panel-inner.article .item-wide p {margin-left: 187px;}
#content .panel-inner.article .item-wide .no-img h3,
#content .panel-inner.article .item-wide .no-img p {margin-left: 0;}

/* Panel Nav */

#content .panel .panel-nav {

	text-align: center;
	position: relative;
	width: 248px;
	clear: both;
	padding-bottom: 2px;
	min-height: 18px;
	margin: 0;
	border:1px solid #ebf4f9;
}

#content .panel.wide .panel-nav {
	width: 520px;
}


/* Prev / Next */
#content .panel-nav a.prev,
#content .panel-nav a.next {
	text-indent: -9999em;
	position: absolute;
	top: 3px;
	width: 7px;
	height: 14px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 0;
}
#content .panel-nav a.prev {
	left: 12px;
	background-image: url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue-left.ashx);
}

#content .panel-nav a.next {
	right: 12px;
	background-image: url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-light-blue.ashx);
}

/* Panel Rules */

#content .panel p.see-all {
	margin: 0;
	text-align: right;
	padding-top: 2px;
	clear: both;
	width: 248px;
	min-height: 0;
	
}

#content .panel.wide .panel-inner.article p.see-all {
	width: 520px;
	padding: 3px 0 3px 0;
	line-height: 1.5em;
}


/******************************************************************************
* Vertical Tabs
*******************************************************************************/

#content .ui-tabs-vertical { width: 100%;}
#content .ui-tabs-vertical .ui-tabs-nav { padding: 0; float: left; width: 30%; }
#content .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; }
#content .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
#content .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; border:1px solid #004667 !important; border-right:0 !important; }
#content .ui-tabs-vertical .ui-tabs-panel { padding: 0 !important; float: right; width: 70%;  }
#content .ui-tabs-vertical .ui-tabs-panel div.inner { padding: 10px; border: 1px solid #004667; }

/******************************************************************************
* Override jquery-ui styles
*******************************************************************************/

#content .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
#content .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#content .ui-helper-clearfix { display: inline-block; }
* html #content .ui-helper-clearfix { height:1%; }
#content .ui-helper-clearfix { display:block; }
#content .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#content .ui-tabs  
{
	position: relative;  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em; 
	zoom: 1; 
}
#content .ui-tabs .ui-tabs-nav { margin: 0; padding: 0; }
#content .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
#content .ui-tabs .ui-tabs-nav li a { float: left; padding: 1em; text-decoration: none; }
#content .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
#content .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
#content .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#content .ui-tabs .ui-tabs-panel { display: block; border:0; padding: 1em 1.4em; background: #ffffff none; }
#content .ui-tabs .ui-tabs-hide { display: none !important; }

#content .ui-tabs.ui-widget  
{
	font-family:inherit; 
	font-size:inherit; 
	background: transparent none;
}
#content .ui-tabs .ui-widget-content, 
#content .ui-tabs.ui-widget-content  
{
	border: 0; 
	color: #030000; 
}
#content .ui-tabs .ui-widget-content a  
{
	color: #004667; 
}
#content .ui-tabs .ui-widget-header  
{
	border: 0; 
	background: transparent none; 
	color: #004667; 
	font-weight: bold; 
}
#content .ui-tabs .ui-widget-header a  
{
	color: #004667; 
}

#content .ui-tabs .ui-state-default, 
#content .ui-tabs .ui-widget-content .ui-state-default, 
#content .ui-tabs .ui-widget-header .ui-state-default  
{
	border:0; 
	background: #e6e6e6 none; 
	font-weight: normal; 
	color: #555555; 
}
#content .ui-tabs .ui-state-default a, 
#content .ui-tabs .ui-state-default a:link, 
#content .ui-tabs .ui-state-default a:visited  
{
	color: #555555; 
	text-decoration: none; 
}
#content .ui-tabs .ui-state-hover, 
#content .ui-tabs .ui-widget-content .ui-state-hover, 
#content .ui-tabs .ui-widget-header .ui-state-hover, 
#content .ui-tabs .ui-state-focus, 
#content .ui-tabs .ui-widget-content 
#content .ui-tabs .ui-state-focus, 
#content .ui-tabs .ui-widget-header .ui-state-focus  
{
	border: 0; 
	background: #dadada none; 
	font-weight: normal; 
	color: #212121; 
}
#content .ui-tabs .ui-state-hover a, 
#content .ui-tabs .ui-state-hover a:hover  
{
	color: #212121; 
	text-decoration: none; 
}
#content .ui-tabs .ui-state-active, 
#content .ui-tabs .ui-widget-content .ui-state-active, 
#content .ui-tabs .ui-widget-header .ui-state-active  
{
	border: 0; 
	background: #FFFFFF none; 
	font-weight: bold; 
	color: #000000; 
}
#content .ui-tabs .ui-state-active a, 
#content .ui-tabs .ui-state-active a:link, 
#content .ui-tabs .ui-state-active a:visited  
{
	color: #000000; 
	text-decoration: none; 
}
#content .ui-tabs .ui-widget :active  
{
	outline: none; 
}

#content .ui-tabs .ui-state-highlight, 
#content .ui-tabs .ui-widget-content .ui-state-highlight, 
#content .ui-tabs .ui-widget-header .ui-state-highlight  
{
	border:0; 
	background: #fbf9ee none; 
	color: #363636; 
}
#content .ui-tabs .ui-state-highlight a, 
#content .ui-tabs .ui-widget-content .ui-state-highlight a,
#content .ui-tabs .ui-widget-header .ui-state-highlight a  
{
	color: #363636; 
}
#content .ui-tabs .ui-state-error, 
#content .ui-tabs .ui-widget-content .ui-state-error, 
#content .ui-tabs .ui-widget-header .ui-state-error 
{
	border: 1px solid #cd0a0a; 
	background: #fef1ec none; 
	color: #cd0a0a; 
}
#content .ui-tabs .ui-state-error a, 
#content .ui-tabs .ui-widget-content .ui-state-error a, 
#content .ui-tabs .ui-widget-header .ui-state-error a  
{
	color: #cd0a0a; 
}
#content .ui-tabs .ui-state-error-text, 
#content .ui-tabs .ui-widget-content .ui-state-error-text, 
#content .ui-tabs .ui-widget-header .ui-state-error-text  
{
	color: #cd0a0a; 
}
#content .ui-tabs .ui-priority-primary, 
#content .ui-tabs .ui-widget-content .ui-priority-primary, 
#content .ui-tabs .ui-widget-header .ui-priority-primary  
{
	font-weight: bold; 
}
#content .ui-tabs .ui-priority-secondary, 
#content .ui-tabs .ui-widget-content .ui-priority-secondary,  
#content .ui-tabs .ui-widget-header .ui-priority-secondary  
{
	opacity: .7; 
	filter:Alpha(Opacity=70); 
	font-weight: normal; 
}
#content .ui-tabs .ui-state-disabled, 
#content .ui-tabs .ui-widget-content .ui-state-disabled, 
#content .ui-tabs .ui-widget-header .ui-state-disabled  
{
	opacity: .35; 
	filter:Alpha(Opacity=35); 
	background-image: none; 
}

#content .ui-tabs .ui-corner-tl { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-tr { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-bl { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-br { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-top { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-bottom { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-right { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-left { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }
#content .ui-tabs .ui-corner-all, #content .ui-tabs.ui-corner-all { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius:0; }


/******************************************************************************
* Progress Bar styles
*******************************************************************************/

div.progressBar {
	float: left;
	position: relative;
	width: 525px;
	margin: 30px 0px 20px
}
div.progressBar div {
	border: 1px solid #999;
	border-width: 1px 0;
	float: left;
	height: 15px;
	margin-bottom: 3px;
	width: 24.8%
}
		
.progressBar div.first { 
	background-color: #cce3ef; 
	border-left-width: 1px
}
.progressBar div.second { background-color: #cce3ef }
.progressBar div.third { background-color: #cce3ef }
.progressBar div.fourth { 
	background-color: #cce3ef; 
	border-right-width: 1px
}
		
div.progressBar div.percent { 
	border: 0;
	width: 100% 
}
		
div.progressBar div.percent span {
	float: left;
	font-size: 11px;
	width: 130px
}
div.progressBar div.percent span.first { width: 123px }
div.progressBar div.percent span.lastQuat { width: 109px }
div.progressBar div.percent span.last { width: auto }
		
div.progressBar div.completed {
	background-color: #004767;
	left: 0;
	position: absolute;
	top: 0
}
* html div.progressBar div.completed { 
	position: relative;
	margin-top: -42px
}

/******************************************************************************
* Filter form styles
*******************************************************************************/

#leftContent .filter-form { width:175px;}


#leftContent .filter-form .product-search-taxonomy, #leftContent .filter-form .product-search-text  
{
    width:168px;
	margin-bottom:0.5em; 
	margin-left:5px;
}	

#leftContent .filter-form .product-search-taxonomy  a:link,
#leftContent .filter-form .product-search-taxonomy  a:visited,
#leftContent .filter-form .product-search-taxonomy  a:hover,
#leftContent .filter-form .product-search-taxonomy  a:active
{
	color:#00BCEA;
	
}	

#leftContent .filter-form .product-search-taxonomy  a:hover
{
    text-decoration:none;
}

#leftContent .filter-form .product-search-taxonomy  ul
{
    list-style: none outside none;
}


#leftContent .filter-form .product-search-header h1  
{
	color:white;
	background:url(/~/media/NZICA/Images/Site%20Structure/Icons/background.ashx) -1px -1px no-repeat scroll;
	font-weight:bold; 
	padding:5px 0 5px 5px; 
}	

#leftContent .filter-form .product-search-text input.text 
{
    color:#999999; /*set the text color in the Resource Search textbox */
    font:11px;
    font-style:italic;
	width:130px; 
	height:19px;
	padding:2px;
	background:#ffffff url(/~/media/NZICA/Images/Site%20Structure/Controls/Filtered%20Search/background.ashx) 0 50% repeat-x scroll; 
	border:1px solid #d3e9f3; -moz-border-radius:3px; border-radius:3px;
	float:left; 
	margin-top:8px;
}
#leftContent .filter-form .product-search-text input.button  
{
	width:25px; 
	height:25px; 
	padding:0; 
	/*background:#ffffff url(/~/media/NZICA/Images/Site%20Structure/Controls/Filtered%20Search/background.ashx) 0 50% repeat-x scroll; */
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-custom-blue-for-ResourceCentre.ashx) 8px 6px no-repeat scroll;
	border:1px solid #d3e9f3; -moz-border-radius:3px; border-radius:3px;
	float:right; 
	margin-top:8px;
}

#leftContent .filter-form .product-search-taxonomy  h3:link,
#leftContent .filter-form .product-search-taxonomy  h3:hover,
#leftContent .filter-form .product-search-taxonomy  h3:visited,
#leftContent .filter-form .product-search-taxonomy  h3:active
{
    text-decoration:underline;
}

#leftContent .filter-form .product-search-taxonomy .expanded  
{
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-custom-blue-down-for-ResourceCentre.ashx) 147px 9px no-repeat scroll;
}	

#leftContent .filter-form .product-search-taxonomy .collapsed  
{
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-custom-blue-for-ResourceCentre.ashx) 150px 8px no-repeat scroll;
}	

#leftContent .filter-form .product-search-taxonomy ul.selected  
{
	 list-style: none outside none;
}	

#leftContent .filter-form .product-search-taxonomy h2 
{
	color:#00bcea;
	border:1px solid #d3e9f3; -moz-border-radius:3px; border-radius:3px;
	background-color:#f8f8f9; 
	font-weight:bold; 
	padding:5px 0 5px 5px; 
}	

#leftContent .filter-form .product-search-taxonomy h3  
{
	color:#00bcea;
	border:1px solid #d3e9f3; -moz-border-radius:3px; border-radius:3px;
	background-color:#f8f8f9; 
	font-weight:bold; 
	padding:5px 0 5px 5px; 
}	
#leftContent .filter-form .product-search-taxonomy li  
{
	border:1px solid #d3e9f3; -moz-border-radius:3px; border-radius:3px;
	
	padding:5px 0px;
	margin-top:-1px; 
}	
#leftContent .filter-form .product-search-taxonomy li input  
{
	width:10px; 
	float:left; 
}
#leftContent .filter-form .product-search-taxonomy li label  
{
	width:135px; 
	float:left;
	color:#00466a; 
}

#leftContent .banner
{
    overflow:hidden;
	height:408px;
	width:173px;
	background-color:#ffffff;
	border:1px solid #cccccc;
}
#leftContent .banner img
{
    width:141px;
    height:376px;
    margin:15px;
}

/******************************************************************************
* Filter result listing
*******************************************************************************/

/* background:#ffffff url(/~/media/NZICA/Images/Homepage/logoNZICA.ashx) 5px 5px no-repeat scroll; */


#content .filter-summary { float:right; text-align:right; width:40%; color: #00aad0; font-style: italic;}
#content .filter-pagination { float:left; width:60%; }

#content .filter-pagination a:link, .filter-pagination a:visited, .filter-pagination a:hover, .filter-pagination a:active,
#content .filter-pagination span
{
	border:1px solid #CCCCFF;
	background-color:#EEEEFF;
	padding:3px;
	margin-right:3px;
	float:left;
}
#content .filter-items .item p
{
    margin: 0 0 9px 76px;
    padding-left: 0px;
    text-align: left;
    width: 294px;
}

#content .filter-items { clear:both; padding-top:1em; }
#content .filter-items .item { border:1px solid grey; padding:10px 10px 30px 10px; margin-bottom:1em; position:relative; }
#content .filter-items .item h3 { margin-top:0; }
#content .filter-items .item .image-wrapper { width:66px; min-height:100px; float:left; padding-right:10px; }
#content .filter-items .item .icon-wrapper { width:21px; min-height:30px; float:right; padding-right:5px; }


#content .filter-items .item .price-wrapper { border:1px solid #CCCCFF; float:right; width:100px; padding:5px; }
#content .filter-items .item .price-wrapper a:link,
#content .filter-items .item .price-wrapper a:hover,
#content .filter-items .item .price-wrapper a:visited,
#content .filter-items .item .price-wrapper a:active { font-weight:bold; background-color:#000080; color:#FFFFFF; display:block; padding:1px; margin:1em 0 0 0; width:60px; }
#content .filter-items .item .price-wrapper .price-text{ color : #00aad0; font-style : normal; font-family : Tahoma; float: left; font-weight: bold;}
#content .filter-items .item .price-wrapper .login-text { color : #004667; font-style : italic; font-family : Verdana; float: left; font-weight: normal;}
#content .filter-items .item .buttons { position:absolute; bottom:10px; right:10px;}
#content .filter-items .item .buttons a:link,
#content .filter-items .item .buttons a:visited,
#content .filter-items .item .buttons a:hover,
#content .filter-items .item .buttons a:active 
{
	border:1px solid #d3e9f3; -moz-border-radius:3px; border-radius:3px;
	background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-custom-blue-for-ResourceCentre.ashx) 85px 3.5px no-repeat scroll; 
	display:block; 
	padding:1px 20px 1px 5px; 
	margin-left:5px; 
	float:left;
	font-weight:bold; 
	color: #00aad0;
	width:73px;
}


/******************************************************************************
* Resource Centre and Product Details boxs
*******************************************************************************/

#content .productsBoxRelated
{
    height:24px; width:150px;
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/Icons/iconPopular.ashx) 0 0px no-repeat scroll;
}

#content .productsBoxNew
{
    height:24px; width:150px;
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/Icons/iconNew.ashx) 0 0px no-repeat scroll; 
}


#content .productsBoxFeatured
{
    height:24px; width:150px;
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/Icons/iconFeatured.ashx) 0 0px no-repeat scroll; 
}

#content .productsBoxPopular
{
    height:24px; width:150px;
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/Icons/iconPopular.ashx) 0 0px no-repeat scroll; 
}

#content .productsBoxMissing
{
    height:24px; width:150px;
}
#content #divProductsOuter
{
    width:100%;
    padding:10px 0px 10px 0px;
    float:left;
}

#content #divProductsOuter .productBoxInner 
{
    border:1px solid grey; 
    height:auto;/*height:186px; set to auto to show all text*/ 
    width: 100%;
    overflow:hidden;
}

#content #divProductsOuter #divProductsInner .ProductBoxProducts
{
    float:left; 
    padding-top:20px;
    /*padding:20px 20px 0px 20px; */
    padding-left:31px; 
    padding-right:17px;
    width:80px; /*width:131px; narrow it down*/
    height:auto;/*height: 164px; set to auto to show all text*/
    overflow:hidden;
    float:left;
}




/*********************************************
 * Used by nz_Level2Pods.xsl, nz_Level1Pods.xslt and nz_ItemsOfInterest.xslt
 ********************************************/
 
.divLevel12PodActionLeft
{
    float:left;
    background-color: #e6f8fc;
    height: 24px;
    width:14px;
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/LevelPagePods/podbottoml.ashx) 0 0 no-repeat scroll;
}

.divLevel12PodAction
{
    /*border:1px solid Silver;*/
    /*background: url(/~/media/NZICA/Images/Site%20Structure/Controls/LevelPagePods/podFooterStrip.ashx) no-repeat scroll;*/
    background-color:#e6f8fc;
    height: 23px;
    text-align:right;
    /*width:250px;*/
    width: inherit;
    
}

.divItemOfInterestPodAction
{
    background-color:#e6f8fc;
    height: 23px;
    text-align:right;
    width:231px;
    margin-left:4px;
    
}

.divLevel12PodActionLink
{
    float:right;
    padding-top:3px;
    padding-right:10px;
    font-weight:bold;
    white-space:nowrap;
    overflow:hidden;
    /*background:transparent url(/~/media/NZICA/Images/Site%20Structure/Icons/Arrow-lighter-blue-sml.ashx) 93px 6px no-repeat scroll;*/
    width:120px;
}

.divLevel12PodActionRight
{
    float:right;
    background-color: #e6f8fc;
    height: 24px;
    width:18px;
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/LevelPagePods/podbottomr.ashx) 0 0 no-repeat scroll;
}

.divLevel2PodAction
{
        text-align:right;
        color:#336b85;
        padding-right:20px;
        font-weight:bold;
        margin-bottom:10px;
}


#rightContent #divItemsOfInterest
{ 
    width:inherit;
    float:right;
}

#rightContent #divItemsOfInterest h1
{ 
    background:url(/~/media/NZICA/Images/Site%20Structure/Icons/ItemOfInterestBackground.ashx)  no-repeat scroll;
    /*border: 2px solid #004667;
    border-radius: 9px 0 0 0;*/
    color: white;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    margin-bottom: 10px;
    width:auto;
}

#rightContent #divItemsOfInterest img
{ 
    margin-left: 4px;
    position:absolute;
    z-index:-1;
}
#rightContent .ItemsOfInterstImage
{
    height: 86px;
    background:url(/~/media/NZICA/Images/Site%20Structure/Controls/LevelPagePods/Keyline%20ItemOfInterest.ashx) 4px 0 no-repeat;
    }

#rightContent .ItemsOfInterstbox
{
    border-left:1px solid #F3F3F4;
    border-right:1px solid #F3F3F4;
	font-family:Tahoma;
	font-weight:normal;
	font-size:11px;
	color: #030000;
	padding:4px 2px 8px 8px;
	width:219px;
	margin-left:4px;
}

#rightContent .ItemsOfInterstbox h3 {
	font-family:Tahoma;
	font-weight:bold;
	font-size:12px;
	padding:4px 0px 2px 0px;
	margin:0;
	color:#004667;	
}
