/* Colors */
/* Sizing */
/* Colors */
/* Sizing */
.THIS .slds-table thead th .slds-cell-fixed {
  background-color: inherit; }

.THIS .forceCommunityRelatedList .forceListViewManagerGrid thead th,
.THIS .forceCommunityRecordListDesktop .listViewContainer .forceRecordLayout thead tr th a {
  color: white; }

.THIS .forceCommunityRecordListStandard .forceBaseListView thead th:first-of-type,
.THIS .forceCommunityRecordListStandard .forceBaseListView tbody td:first-of-type {
  padding: .5rem; }

.THIS .slds-table thead svg.slds-button__icon,
.THIS .slds-table thead svg.slds-is-sortable__icon,
.THIS .slds-table .slds-has-focus .slds-th__action svg.slds-is-sortable__icon,
.THIS .slds-table .slds-is-sortable .slds-th__action:hover svg,
.THIS .slds-table .slds-is-sortable .slds-th__action:focus svg {
  fill: white; }

.THIS .slds-table .slds-is-resizable .slds-cell-fixed:hover,
.THIS .slds-table .slds-has-focus.slds-is-resizable .slds-cell-fixed,
.THIS .slds-table .slds-has-focus.slds-is-resizable .slds-cell-fixed:hover,
.THIS .slds-table .slds-has-focus.slds-is-resizable .slds-th__action,
.THIS .slds-table .slds-has-focus.slds-is-resizable,
.THIS .slds-table .slds-th__action:hover,
.THIS .slds-table .slds-is-sortable .slds-th__action:hover,
.THIS .slds-table .slds-is-sortable .slds-th__action:focus,
.THIS .forceListViewManagerGrid .slds-no-cell-focus .slds-has-focus.slds-is-resizable .slds-cell-fixed,
.THIS .forceListViewManagerGrid .slds-is-resizable .slds-cell-fixed:hover,
.THIS .forceListViewManagerGrid .slds-no-cell-focus .slds-has-focus.slds-is-resizable .slds-cell-fixed:hover {
  background-color: #80B1CF;
  color: white;
  box-shadow: none; }

.THIS .slds-table_header-fixed_container .slds-scrollable_y {
  overflow: visible; }

/* Colors */
/* Sizing */
/* Change the font color to match the theme. */
.THIS .IdeaZoneIDZN_IdeaBase .slds {
  color: inherit; }

/* Add a background colour to the Search component. */
.THIS .IdeaZoneIDZN_IdeaBase.IdeaZoneIDZN_IdeaSearch {
  background-color: rgba(239, 239, 239, 0.75);
  padding: 1rem; }

/* Make the border colour a bit darker. */
.THIS .IdeaZoneIDZN_IdeaBase.IdeaZoneIDZN_IdeaRow {
  border-color: #cccccc; }

/* Increase the size of the avatar. */
.THIS .IdeaZoneIDZN_IdeaBase .slds-avatar.slds-avatar--large,
.THIS .IdeaZoneIDZN_IdeaBase .slds-avatar.slds-avatar--large img {
  width: 4rem;
  height: 4rem; }

/* Reduce the size of the avatar for small screens. */
@media (max-width: 600px) {
  .THIS .IdeaZoneIDZN_IdeaBase .slds-avatar.slds-avatar--large,
  .THIS .IdeaZoneIDZN_IdeaBase .slds-avatar.slds-avatar--large img {
    width: 3rem;
    height: 3rem; } }

/* Centre the title text of the New Idea button. */
.THIS .IdeaZoneIDZN_IdeaBase.IdeaZoneIDZN_CreateIdea .IdeaCTAHeader {
  text-align: center; }

/**************************/
/* Idea Zone Details Page */
/* Add some padding above the Creator Name in the comments section. */
.THIS .IdeaZoneIDZN_IdeaBase.IdeaZoneIDZN_IdeaComments .idzn-commentRow .idzn-detailCol-1 span.idzn-CreatorName {
  padding-top: 10px; }

/* Reduce the font-size of the date to match the Creator Name in the comments section */
.THIS .IdeaZoneIDZN_IdeaBase.IdeaZoneIDZN_IdeaComments .idzn-commentRow .idzn-detailCol-1 span.uiOutputDate {
  font-size: 0.9em; }

/* Add some padding between the avatar and the Creator Name in the comments section. */
.THIS .IdeaZoneIDZN_IdeaBase.IdeaZoneIDZN_IdeaComments .idzn-commentRow .idzn-detailCol-1 span.slds-avatar {
  margin-left: 10px;
  margin-right: 10px; }

.THIS .slds-button {
  max-width: 480px; }

.THIS a,
.THIS a:active,
.THIS a:hover,
.THIS a:visited {
  text-decoration: none; }

/* Colors */
/* Sizing */
.THIS .outer {
  width: 100vw;
  margin-left: calc(-50vw + 50%); }

.THIS .inner {
  max-width: 1400px;
  margin: 0 auto; }

.THIS .inline {
  display: inline-block; }

/* Colors */
/* Sizing */
/* Override search */
@media only screen and (min-width: 768px) {
  .THIS .searchHere {
    width: 650px; }
  .THIS button span.label.bBody.truncate {
    font-size: 1.2em; }
  .THIS .forceCommunitySearchBox .search-field {
    font-size: 1.2em; } }

@media only screen and (max-width: 767px) {
  .THIS .forceCommunitySearchBox .search-input-group {
    position: relative;
    display: inline-block;
    width: auto; }
  .THIS .search-container {
    border-color: transparent; }
  .THIS button.slds-button.slds-button--neutral.mobile-search-icon.uiButton {
    background: transparent;
    color: #58595B;
    width: 70px;
    height: 70px;
    margin: 0 auto; } }

.THIS .body-search {
  max-width: 740px !important; }

.THIS .search-field-wrapper {
  border: 3px solid #EFEFEF; }

@media only screen and (max-width: 47.9375em) {
  .THIS .forceCommunitySearchBox .search-container {
    border-radius: 0; } }

/* Colors */
/* Sizing */
.THIS .forceCommunityGlobalNavigation .slds-list__item a,
.THIS .forceCommunityGlobalNavigation .slds-list__item button {
  line-height: inherit; }

@media (max-width: 767px) {
  .THIS .forceCommunityGlobalNavigation {
    background: transparent; } }

@media only screen and (min-width: 768px) {
  .THIS nav {
    padding: 16px; }
    .THIS nav ul {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid lightgray; }
    .THIS nav a {
      border: 3px solid transparent; }
    .THIS nav .slds-is-active,
    .THIS nav a:active {
      color: inherit;
      background-color: transparent !important;
      border-bottom: 3px solid #00629E; }
    .THIS nav .slds-icon-utility-home svg {
      fill: #00629E;
      width: 1.5rem;
      height: 1.5rem; }
    .THIS nav ul.slds-list_vertical.slds-is-nested.slds-is-absolute.right-align.slds-hide {
      visibility: hidden; }
    .THIS nav ul.slds-list_vertical.slds-is-nested.slds-is-absolute.right-align {
      margin-top: 4px;
      display: flex;
      flex-direction: column; } }

@media only screen and (max-width: 767px) {
  .THIS .comm-navigation.forceCommunityGlobalNavigation lightning-button-icon {
    margin-top: 18px; } }

@media only screen and (min-width: 768px) {
  .THIS nav svg.slds-icon.slds-icon--x-small {
    width: 1.3em;
    height: 1.3em; }
  .THIS li.slds-is-relative.slds-list__item a {
    font-size: 1.4em; }
  .THIS button.slds-container_fluid.slds-button.slds-button--reset {
    font-size: 1.4em; } }

.THIS .top-header {
  display: flex;
  flex-direction: column-reverse; }

.THIS .navSearch {
  align-items: center; }

.THIS .searchHere {
  order: 3; }

@media (min-width: 768px) {
  .THIS .top-header {
    flex-direction: column; }
  .THIS .navHere {
    order: 4;
    min-width: 750px; }
  .THIS .searchHere {
    margin: 15px 0 45px; } }

.THIS .find-profile,
.THIS .header,
.THIS .navSearch,
.THIS .navSearch-logo {
  display: flex;
  justify-content: space-between; }

.THIS .header,
.THIS .navSearch-logo {
  flex-direction: column; }

.THIS .navSearch {
  flex-direction: row; }

@media (min-width: 768px) {
  .THIS .navSearch {
    flex-direction: column; } }

/* heading font */
.THIS .forceCommunityGlobalNavigation .slds-list__item a,
.THIS .forceCommunityGlobalNavigation .slds-list__item button {
  font-family: 'NexaBold', 'Source Sans Pro', Arial, Helvetica, sans-serif; }

.THIS button.slds-container_fluid.slds-button.slds-button--reset,
.THIS nav a span {
  font-weight: 600; }

.THIS h2 {
  font-size: 1.4em; }

.THIS h3 {
  font-size: 1.2em; }

.THIS p {
  color: #6B6C70; }

.THIS {
  position: relative;
  z-index: 1; }

.THIS .main {
  max-width: 1400px;
  margin: 0 auto; }

.THIS a:hover {
  text-decoration: none; }

.THIS button.uiButton.forceCommunityCustomButton:hover {
  opacity: 0.6; }

/********** Community Theme Brand CSS **********/
/* Load the theme font. */
/*@font-face {*/
/*  font-family: 'Nexa';*/
/*  src: url("/sfsites/c/resource/CAANZ_Public_FontImg/fonts/Nexa.woff") format('woff');*/
/*}*/
/*@font-face {*/
/*  font-family: 'NexaBold';*/
/*  src: url("/sfsites/c/resource/CAANZ_Public_FontImg/fonts/NexaBold.woff") format('woff');*/
/*}*/
/*h1,h2,h3,h4,h5,h6 {*/
/*  font-family: 'NexaBold', 'Source Sans Pro', Arial, Helvetica, sans-serif;*/
/*}*/
/* Colours */
/*.brand-mid-background-colour {*/
/*  background: #00629E; }*/
/*.brand-dark-background-colour {*/
/*  background: #143672; }*/
/* Make the social login text visible on a grey background. */
/*.salesforceIdentitySocialLogin2 p.or,*/
/*.salesforceIdentityLoginBody2 a.inverseTextColor:hover {*/
/*  color: white;*/
/*}*/
/* Make everything square */
/*.slds-input,*/
/*.slds-card,*/
/*.slds-button,*/
/*.uiInput--input.input,*/
/*.uiInput--select.select,*/
/*.uiTabset--task .tabs__content,*/
/*.uiTabset--task .tabs__nav,*/
/*.slds-button-group .slds-button:first-child,*/
/*.slds-button-group .slds-button:last-child,*/
/*.forceCommunityUserProfileStats,*/
/*.forceCommunityUserProfileBody .cProfileViewBody,*/
/*.slds-has-cards--space > .slds-list__item {*/
/*  border-radius: 0 !important;*/
/*}*/
/********** TABLE OVERRIDES **********/
/* Give all table headers a blue background with white text. */
/*.slds-table thead th, */
/*.forceBaseListView thead tr th {*/
/*  background-color: #00629E;*/
/*  color: white;*/
/*  border-bottom: solid 2px white;*/
/*}*/
/*  Light grey  background for even table rows */
/*.slds-table tbody tr:nth-of-type(2n) > td,*/
/*.slds-table tbody tr:nth-of-type(2n) > th,*/
/*.forceBaseListView tbody tr:nth-of-type(2n) > td {*/
/*  background-color: #EFF0F1;*/
/*  border-bottom: none;*/
/*}*/
/* Dark grey background for odd table rows */
/*.slds-table tbody tr:nth-of-type(2n + 1) > td,*/
/*.slds-table tbody tr:nth-of-type(2n + 1) > th,*/
/*.forceBaseListView tbody tr:nth-of-type(2n + 1) > td {*/
/*  background-color: #DDDDDE;*/
/*  border-bottom: none;*/
/*}*/
/********** ACCORDION OVERRIDES **********/
/*.slds-accordion .slds-accordion__list-item {*/
/*  border-top: none; }*/
/*.slds-accordion .slds-accordion__section {*/
/*  margin: 0.75rem;*/
/*  padding: 0;*/
/*  background-color: rgba(239, 239, 239, 0.75);*/
/*  border-radius: 8px; }*/
/*.slds-accordion .slds-accordion__summary {*/
/*  background-color: #00629E;*/
/*  color: white;*/
/*  border-radius: 8px;*/
/*  padding: 8px; }*/
/*.slds-accordion .slds-accordion__summary svg {*/
/*  fill: white; }*/
/*.slds-accordion .slds-truncate {*/
/*  margin: 0 0.25rem; }*/
/*.slds-accordion .slds-button:active,*/
/*.slds-accordion .slds-button:hover,*/
/*.slds-accordion .slds-button:focus {*/
/*  color: white; }*/
/*.slds-accordion .slds-is-open > .slds-accordion__content {*/
/*  padding: 0.75rem; }*/