.THIS .slds-radio--faux:hover {
    cursor: pointer;
}

.THIS .disable-hover:hover {
    cursor: default !important;
}

.THIS .slds-radio {
    margin-bottom: 9px;
}

.THIS .slds-grid .slds-form-element__control {
    margin-right: 1rem;
}

.THIS .slds-grid .slds-form-element__control:last-child {
    margin-right: 0;
}

.THIS .uiOutputRichText ul {
    list-style: initial;
    margin-left: 1.5rem;
}