.THIS .slds-radio--faux:hover {
    cursor: pointer;
}

.THIS .disable-hover:hover {
    cursor: default !important;
}

.THIS .selected-color {
    background-color: rgb(0, 112, 210) !important;
}