<style type="text/css">
	a.mid-section-home-link{
		float: left;
	}
	a.help{
		background-color: transparent !important;
		cursor: pointer;
	}
	a.linkCustom{
		color: #00629e !important;
		text-decoration: none;
		background-color: transparent !important;
	}
	a.linkPageNum{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	a.colLinks{
		color: #FFFFFF;
		text-decoration: none !important;
		background-color: transparent !important;
	}
	a.linkCACompany{
		color: #00629e !important;
		text-decoration: none;
		background-color: transparent !important;
	}
	a.cta{
		width: initial !important;
	}
	img.imgLink{
		display: initial !important;
		margin: 0px !important;
		max-width: none !important;
		width: 28px;
		height: 28px;
	}
	img.imgHelptextIcon{
		display: inherit !important;
		margin: 0px !important;
		padding-left: 5px;
		width: 24px;
	}
	img.imgCALogoWhite{
		width: 300px;
		height: 150px;
	}
	
	tbody td, tbody th{
		border-bottom: transparent !important;
	}
	body .bPageBlock .pbBody .labelCol{
		background-color: transparent;
		width: 150px;
		font-size: 18px;
		font-weight: normal;
	}
	body .bPageBlock .pbBody .data2Col{
		background-color: transparent;
		padding-top: 7px;
		padding-bottom: 7px;
		height: 50px;
	}
	table.detailList{
		margin-bottom: 50px;
	}
	header.global-header{
		padding: 0px !important;
	}
	button.nav-toggle.js-offscreen-toggle{
		padding-top: 21.5px;
		padding-bottom: 21.5px;
		padding-left: 10px;
	}
	.breadcrumbs ul{
		display: block !important;
	}
	select.paramDropdown{
		width: 270px;
		height: 37px;
		font-family: Berling,Georgia,serif;
	}
	.paramInputText{
		width: 270px;
		height: 37px;
	}
	select.paramDropdown.error{
		border-bottom-color: #DB7C2E;
		border-bottom-width: thick;
	}
	label.error{
		color: #DB7C2E;
	}
	.cm-rich-text p{
		margin-bottom: 0px !important;
	}
	.resultsColCALink{
		text-align: center;
	}
	.requiredFields{
		padding-left: 300px;
		white-space: nowrap;
	}
	.placeHolder{
		display: block;
		height: 35px;
		padding-top: 5px;
	}
	.disclaimer{
		font-size: 14px;
	}
	.col1{
		width: 30%;
		text-align: right;
	}
	.col2{
		width: 40%;
		text-align: center;
	}
	.col3{
		width: 30%;
		text-align: left;
	}
	.searchResultsMessage{
		font-size: 20px;
		font-weight: bold;
		display: block;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.pbBody{
		margin-bottom: 45px;
	}
	.nav-footer .nav-footer-social a{
		color: white !important;
	}
</style>