.THIS .error{
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    border-color: rgb(194, 57, 52);
}
/* For Firefox browser */
.THIS input[type='number'] {  
   -moz-appearance:textfield;
}
/* For webkit browsers like Chrome and Safari */
.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}