/* ----------------------------------------------------
Copyright  2005 ASI All rights reserved.

This is the base general stylesheet for CM and eSeries modules.

---------------------------------------------------- */


/* global reset of whitespace */
* {
margin:0;
padding:0;
}

.Secret
  {font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:2px;color:white; display:none;}
body, p, b, font, h1, h2, h3, h4, h5, li, td, th, a, a:link, a:visited, a:hover, strong, i, blockquote,.Heading1,
.Heading2,.Heading3,.Heading4,.Heading5
  {font-family: Tahoma, Arial, Helvetica, sans-serif;}
body, p, font, td, li, b, strong, th, .error
  {font-size: 12px;}
p, td, li, th, blockquote
  {color: black; font-weight: normal;}
  
form
	{margin:0px;padding:0px;} 
	 
body {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #505367;
  background-color: #FFFFFF;
}

/* START - CSS code to change the text size on the browser

We used KEYWORDS so IE users can increase and decrease the text size 

http://diveintoaccessibility.org/day_26_using_relative_font_sizes.html
*/
/*/*/a{}
body,
body td,
body th,
body li,
body b,
body strong,
body p {
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: small;
}
html>body,
html>body td,
html>body th,
html>body li,
html>body b,
html>body strong,
html>body p {
  font-size: small;
}  


/* END - CSS code to change the text size on the browser */

b, strong, .bold, .error,.bigbold,.smallbold
  {font-weight: bold}
.bold
  {font-size: 12px;}
.error
  {color: Red;}
i, em
  {text-decoration: none;}
u
  {text-decoration: none;}
.bigbold
  {font-size: 13px;}
.smallbold
  {font-size: 11px;} 
th
  {font-weight: bold; text-align: left;}
a, a:link, a:visited, a:hover, a:visited:hover
  {color: #005482; font-weight: normal;}
a:visited
  {color: purple;}
a:hover, a:visited:hover
  {color: #008AD5;}
input, textarea, select
  {font-size: 12px; font-family: monospace, sans-serif; font-weight: 100; padding-left:2px;}  
ol
  {margin: 0 0 0 1em;}  
ul 
  {padding-left: 1em; margin-left: 1em;}
li 
  {padding-left: 0.1em;}    
pre
  {font-family: monospace; font-size: 10px;}
.small
  {font-size: 10px;}
.smaller
  {font-size: 9px;}
.large
  {font-size: 12px;}
.larger
  {font-size: 15px;}
a.smaller, a.smaller:link, a.smaller:visited, a.smaller:hover, a.smaller:visited:hover
  {font-size: 9px;}
a.small, a.small:link, a.small:visited, a.small:hover, a.small:visited:hover
  {font-size: 11px;}

/* Headings */
h1, .Heading1
  {font-size: 17px; font-weight: bold;}
h2, .Heading2
  {font-size: 15px; font-weight: bold;}
h3, .Heading3
  {font-size: 13px; font-weight: bold;}
h4, .Heading4
  {font-size: 11px; font-weight: bold;}
h5, .Heading5
  {font-size: 10px; font-weight: bold;}

/* eSeries */
.iMIS
{font-weight: bolder; font-size: 10pt; font-style: italic; font-family: "Times New Roman", Times, serif;}
.lgTitle
{ font-weight: bolder; font-size: 12pt; margin: 0px 0px 10px; color: silver; line-height: 100%;}
.regSymbol
{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 8pt; vertical-align: super; text-decoration: none;}
.important
{font-weight: normal; color: red; }
.IndexHeading 
{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:10pt; color:#EFEFEF; text-decoration:none; font-weight:bold;}
.Heading 
{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:12pt; color:#003366; text-decoration:none; font-weight:bold;}
.Text 
{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:10pt; color:#000000; text-decoration:none; font-weight:normal;}
.SmallText 
{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:8pt; color:#000000; text-decoration:none; font-weight:normal;}
.LeftIndextext 
{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:10pt; color:#FFFFFF; text-decoration:none; font-weight:normal;}
.BodyLink 
{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:10pt; color:#003366; text-decoration:underline; font-weight:normal;}

.ERSNavBar 
{background-color:silver; }
.ERSNavBar TD 
{background-color:silver; padding:2px;}
.ERSHeader
{
	border-right: buttonshadow 1px solid;
	border-top: buttonhighlight 1px solid;
	font-weight: normal;
	font-size: 9pt;
	text-transform: capitalize;
	border-left: buttonhighlight 1px solid;
	color: black;
	padding-top: 0px;
	border-bottom: buttonshadow 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1pt;
	height: 16px;
	background-color: #d6d3ce;
	text-align: center;
	text-decoration: none;
}

.ERSHeader TD A:link 
{ font-weight: normal; font-size: 9pt; color: black; font-family: Arial, Helvetica, sans-serif; text-decoration: underline; }
.ERSHeader TD A:active 
{ font-weight: normal; font-size: 9pt; color: black; font-family: Arial, Helvetica, sans-serif; text-decoration: underline; }
.ERSHeader TD A:visited 
{ font-weight: normal; font-size: 9pt; color: black; font-family: Arial, Helvetica, sans-serif; text-decoration: underline; }
.ERSHeader P
{ font-weight:normal; font-size:9pt; color:black; font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration:none; }

.EFunctionBar TD {padding:3px;}

.ETHRow
{background-color: #EFEFEF; text-align: left; padding:2px;}
.ETHRow TD
{background-color: #EFEFEF; text-align: left; padding:2px;}

/* Table header used throughout site */
.ETH 
{font-size: 10pt; background-color: #FFFFFF; text-align: right; padding:2px;} 
.ETH TD 
{font-size: 10pt; background-color: #FFFFFF; text-align: right; padding:2px;} 

/* Table cell used throughout site */
.ETD 
{font-size: 10pt; background-color: #ECF8FB; text-align: left; padding:3px;}
.ETD TD 
{font-size: 10pt; background-color: #ECF8FB; text-align: left; padding:3px;}

/* Alternating color for results lists used throughout site */
.ETDALT 
{font-size: 10pt; background-color: #FFFFFF; text-align: left; padding:3px;}
.ETDALT TD
{font-size: 10pt; background-color: #FFFFFF; text-align: left; padding:3px;}

/*Bold white 10pt font used throughout site */
.EBW10
{font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; font-weight: 400; color:black; text-align : left;}

/* Normal white 10pt font used throughout site */
.ENW10 
{font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black;}

/* Normal 12pt font used throughout site */
.EN12 
{font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black;}

/* Normal 11pt font used throughout site */
.EN11
{font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black;}

/* Normal 10pt font used throughout site */
.EN10 
{font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:Black;}
.EN10 P
{text-align:left;}

/* Normal 9pt font used throughout site */
.EN9 
{font-size:9pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:Black;}

/* Normal 8pt font used throughout site */
.EN8 
{font-size:8pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:Black;}

/* 14pt font used throughout the site */
.EH2 
{font-weight: bold; font-size: 12pt; color: #003366; font-family: Tahoma, Arial, Helvetica, sans-serif; vertical-align: sub; height: 30px; text-decoration: none;}

.EH2Events 
{font-weight: bold; font-size: 12pt; color: #003366; font-family: Tahoma, Arial, Helvetica, sans-serif; vertical-align: sub; text-decoration: none;}
 
 /*12pt font used throughout site */
.EH3
{
	font-weight: bold;
	font-size: 10pt;
	width: 100%;
	color: #003399;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-align: left;
}

/*8pt font used throughout site*/
.EH4  
{font-size:8pt; font-family:'Trebuchet MS', Tahoma, Arial, Helvetica, sans-serif; color:#730000;}

.ETitleBar
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}

/* Bold 12pt font used throughout site */
.EB12
{
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bolder;
	font-size: 14pt;
	padding-bottom: 0px;
	color: #003366;
	padding-top: 3px;
	font-family: 'Trebuchet MS' , Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

/* Bold 11pt font used throughout site */
.EB11 
{font-weight:bolder; font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black;}

/* Bold 10pt font used throughout site */
.EB10 
{font-weight:bolder; font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black;}

/* Bold 9pt font used throughout site */
.EB9 
{font-weight:bolder; font-size:9pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black;}

.buttonbar1
{
	background-color: #dcdcc2;
	text-align: right;
	padding:3px;
}

.buttonbar1 TD
{
	background-color: #dcdcc2;
	text-align: right;
	height: 15px;
	padding:3px;
}

.buttonbar2
{
	background-color: #dcdcc2;
	text-align: left;
}

.buttonbar2 TD
{
	background-color: #dcdcc2;
	text-align: left;
	padding-right:3px;
}

.buttonbar3
{
	background-color: #EBEBEB;
	text-align: right;
	padding:5px;
}

.buttonbar3 TD
{
	background-color: #EBEBEB;
	text-align: right;
	height: 15px;
	padding-right:3px;
}

.buttonbar3 INPUT IMG
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}


 /* All non-image form buttons */
.Button1
{cursor: pointer; border-top:black 1px solid; border-bottom:black 1px solid; border-left:black 1px solid; border-right:black 1px solid; background-color:silver; 
 color:black; font-size:8pt; font-family: Tahoma, Arial, Helvetica, sans-serif;border-style:outset;} 
 
 /*Background color of search field area in eOrders, will be used throughout site*/
.EToolBar
{background-color:#DCDCC2;}
.EToolBar TD
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #dcdcc2;
	text-align: left;
}
.EToolBar TD TABLE TD
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #dcdcc2;
	text-align: left;
}

 /* Background color of task bar area in eOrders, will be used throughout site */
.ETaskBar
{background-color:silver;text-align:left;}
.ETaskBar TD
{background-color:silver; padding:2px;}
.ETaskBar IMG
{padding-bottom:3px;padding-left:3px;}

 /* Task bar area in eOrders, will be used throughout site*/
.ETaskActive
{font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black; text-decoration: none;	background-color:silver;}

 /* Task bar area in eOrders, will be used throughout site */
.ETaskNext
{background-color:silver; font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif;text-decoration: none}

/* Task bar area in eOrders, will be used throughout site */
.ETask 
{	background-color:silver; font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif;text-decoration: none}
.ETask A:active, .ETask A:link, .ETask A:visited
{font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:red; text-decoration: none}

 /* Table background color in eEvents */
.EETABLE
{background-color:white;}

/* Used in eOrders */
.EOTABLE  
{background-color:#EFEFEF; text-align:left;}
.EOTABLE TD  
{ padding:3px; }

/* Table header rows used in eOrders */

.EOTH 
{background-color: #EFEFEF;text-align:left;}
.EOTH TD 
{background-color: #EFEFEF; padding:3px; text-align:left;}

 /* Table cells used in eOrders */
.EOTD
{background-color: #FFFFFF; padding:3px; text-align:left;}
.EOTD TD
{background-color: #FFFFFF; padding:3px;}

 /* Footer area in eOrders */
.EOBottomBar
{background-color:#006699}

 /* Title area in eOrders */
.EOTitleBar
{background-color:white;}

 /* Above and below main products list in eOrders */
.EOProductNavBar
{background-color:white;}

 /* Below the retuned products list in eOrders */
.EOListNavBar
{background-color:white;}

 /* "In Stock" text in eOrders */
.EOInStock
{font-weight:bolder; background-color:silver; font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:black; text-decoration:none;}

 /*Out of Stock" text in eOrders */
.EOOutofStock
{font-weight:bolder; background-color:silver; font-size:10pt; font-family: Tahoma, Arial, Helvetica, sans-serif; color:red; text-decoration:none;}	

/* Content Manager Login */
.SCLoginBar, .HeaderBar
{
	padding-left: 10px;
	font-weight: bold;
	font-size: 13px;
	background: #efefef;
	padding-bottom: 3px;
	color: #003148;
	padding-top: 2px;	
}
  
/* Site Map */
.SiteMap
{margin-top: 15px;}

a.SiteMap, a.SiteMap:link, a.SiteMap:visited, a.SiteMap:visited:hover, a.SiteMapTitle, a.SiteMapTitle:link, a.SiteMapTitle:visited, a.SiteMapTitle:hover, a.SiteMapTitle:visited:hover
  {font-size: 12px; color: blue; text-decoration: none; font-weight: bold;}

.SiteMapTitle, a.SiteMapTitle, a.SiteMapTitle:link, a.SiteMapTitle:visited, a.SiteMapTitle:visited:hover
  {font-size: 14px; color:#004767; text-decoration: none; font-weight: bold;}
  
a.SiteMapTitle:hover
  {font-size: 14px; color:#0099CC; text-decoration: none; font-weight: bold;}  
 
td.SiteMapTitleSub, td.SiteMapTitleSub a:link, td.SiteMapTitleSub a:visited, td.SiteMapTitleSub a:visited:hover
  {margin-top: 17px; font-size: 13px; color: #004767; text-decoration: none;}
  
td.SiteMapTitleSub a:hover
  {margin-top: 17px; font-size: 13px; color: #0099CC; text-decoration: none;} 


td.SiteMapTitleSubAlt, td.SiteMapTitleSubAlt a:link, td.SiteMapTitleSubAlt a:visited, td.SiteMapTitleSubAlt a:visited:hover
  {margin-top: 15px; font-size: 13px; color: #004767; text-decoration: none;}
  
td.SiteMapTitleSubAlt a:hover  
  {margin-top: 15px; font-size: 13px; color: #0099CC; text-decoration: none;} 
  
.SiteMapTitleEmpty
{height:5px;}  

/* Site Search */
.SEHeaderBar
{
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
	font-size: 15px;
	background: #efefef;
	padding-bottom: 3px;
	color: #000000;
	padding-top: 2px;
}
   
/* Tagged Pages */
.TPHeader
  {font-size: 15px; font-weight: bold; color: #000066;}
 .TPICHeader
 {font-size: 14px; font-weight: bold; color: #000000; }
.TPTitle
  {font-size: 14px; font-weight: bold; color: #000099;}
.TPCMBody
  {font-size: 12px;}
a.TPLink, a.TPLink:link, a.TPLink:visited, a.TPLink:hover, a.TPLink:visited:hover
  {font-size: 12px; text-decoration: none; color: #0000FF;}
a.TPLinkSelected, a.TPLinkSelected:link, a.TPLinkSelected:visited, a.TPLinkSelected:hover, a.TPLinkSelected:visited:hover
  {font-size: 11px; text-decoration: none; color: #0000FF; font-weight: bold;}

/* Institute Styles - START */
/* Table row style for list tables */
.tableheader
{
    background-color:#004767;
    color:#FFFFFF;
	/*    text-align:center;*/
    font-weight:bold;
}
.tr_list_even_row {
  background-color:#CADAE6;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	border-left:4px;
	border-color:#CADAE6;
	border:medium;
}

.tr_list_odd_row {
  background-color:#EFF4F7;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	border-left:4px;
	border-color:#CADAE6;
	border:medium;
}

.tr_white_space {
	height:4px;
    background-color:#FFFFFF;
}
.homepage_right_section_line
{
  color:#FFFFFF;
}

.loginform {
  font-size:small;
  padding-bottom:5px;
  padding-left:22px;
  padding-top:5px;
  border: 1px solid black;
}

.SearchForCA_LeftColumn
{
  background-color: #004767;
  color: #FFFFFF;
  font-weight: bold;
  width: 180px
}
.SearchForCA_Table TD
{
  padding: 5px
}
.eVoteHeading
{
    background-color: #CDE1E0;
    color: #002B42;
}
/*.eVoteList {}*/
.eVoteListul 
{
    padding-left: 1em; 
    margin-left: 1em; 
    padding-top: 1em;
}
.eVoteListul li
{
   padding-left: 0.1em; 
   list-style-image: url("/StaticContent/Images/small-bullet.gif"); 
   margin-top: 10px; 
   margin-bottom: 10px;
}  

.ENNZICATable
{
    background-color: #CDE1E0;
    border-right:none;
    border-left:none;
	border-top:none;
	border-bottom:none;
}


.ENLinks
{
    /*font-size:12pt; 
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    color:Black;
    font-style: italic;*/
}

.ENInfo
{
    border: 1px solid black;
    height: 50px;
}

.ENTitle 
{
    font-weight: bold; 
    font-size: 10pt; 
    color: #003366; 
    font-family: 'Trebuchet MS', Tahoma, Arial, Helvetica, sans-serif; 
    text-decoration: none; 
}

.ENHeader
{
	border-right: buttonshadow 1px solid;
	border-top: buttonhighlight 1px solid;
	font-weight: normal;
	font-size: 9pt;
	text-transform: capitalize;
	border-left: buttonhighlight 1px solid;
	color: black;
	padding-top: 0px;
	border-bottom: buttonshadow 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1pt;
	height: 16px;
	background-color: #efefef;
	text-align: center;
	text-decoration: none;
}

/*Style for Communication Preferences layout*/
.CommPrefs
{
	background-color:white; 
	padding:0px;
	margin:0px;
	margin-top:5px;
}
.CommPrefsDisplay
{
	background-color:#ECF8FB;
	padding:14px;
}
.CommPrefsSubscriptionPrefs
{
	background-color: #ECF8FB;
}
.CommPrefsDisplayUntick
{
	border:4px solid #EBEBEB;
	background-color:#ECF8FB;
	padding:5px;
}
.ProfProfPrefsDisplay
{
    background-color:#ECF8FB;
	padding:5px;
}
.TitleExp
{
	margin-left:5px;
}
.TextIndent
{
	
	padding-left:14px;
}

/*Style for Annual Declarations*/

.Inpage tr.TabsNav li
{
	float:left;
	list-style:none;
}
.Inpage tr.TabsNav a
{
	display:block;
	float:left;
	background-color:#004767;
	list-style:none;
	height:14px;
	width:auto;
	padding:7px;
	padding-top:4px;
	padding-bottom:4px;
	border-right:5px solid #004767;
	margin-right:2px;
	text-decoration:none;
	color:white;
}
.Inpage td.TabsNavtd a
{
    border-right:0px;
	margin-right:0px;
	background:#7ebd72;
	border-right:4px solid #7ebd72;
	
}
.Inpage tr.TabsNav a:hover, .Inpage tr a.current, .Inpage td.TabsNavtd a:hover
{
	background-color:#BAD7F3;
	color:#004767;
	border-right:4px solid #BAD7F3;
}
.DECsDisplay
{
	background-color:#ECF8FB;
	padding:14px;
}

/* Style for CPD online log top banner*/
#topNAV
{
	
	margin-left:-28px;
	/*border:1px black solid;*/
}
.Questions 
{
	background-color:#004667!important;
	padding:4px; 
	border:0px;
	color:#edf8fc;
	
}
#barback
{
	width:572px;
	_width:580px;
	height:6px;
	*height:6px;
	_height:2px;
	background-color:#BAD7F3;
	margin-top:25px;
	#margin-top:41px;
}
#topNAV ul.DECsnav li
{
	float:left;
	list-style:none;
	
}
#topNAV ul.DECsnav a
{
	display:block;
	float:left;
	background-color:#004767;
	list-style:none;
	height:auto;
	width:auto;
	padding-left:25px;
	_padding-left:24px;
	/*_padding-left:27px;*/
	
	padding-right:25px;
	_padding-right:24px;
	/*_padding-right:27px;*/
	padding-top:4px;
	padding-bottom:4px;
	border:0px solid #999999;
	border-bottom:0px;
	margin:1px;
	margin-right:2px;
	text-decoration:none;
	color:#FFFFFF;
}
#topNAV ul.DECsnav a:hover, #topNAV ul a.current
{
	background-color:#BAD7F3;
	color:#004767;
}
.DECsDisplay
{
	background-color:#ECF8FB;
	padding:6px;
}

/*Style for Search for a CA*/
.SearchBy_td
{
	background-color:#006F99;
	font-size:12px;
	font-weight:bold;
	padding:6px;
}
.FormObjs_td
{
	padding-left:12px;
	font-size:11px;
}
.colorYes
{
	background-color:#EBF1F1;
	font-weight:100; margin:6px;
	padding:2px;
 }
.colorNo {
	background-color:white; 
	font-weight:lighter;
	margin:6px;
	padding:2px;
}
.EDcomment { color: #6B9CC1; font-size: 11px; font-weight:bold; text-decoration: none; }

.pagebluefont { color:#004767;}

.pagebluebold { font:18px bold; color:#004767;}

/* Institute Styles - END */

/* CA Talk styles */
#catalk {
	min-height: 444px;
	_height: 444px;
	padding-right: 110px;
	background: #FFF url(/AM/Images/CATalk/bg-catalk.gif) no-repeat top right;
	margin: 10px 0 0 0;
	color: #333;
}

#catalk h1 {
	color: #000;
}

#catalk hr {
  border: none;
  background-color: #999;
  color: #999;
  height: 1px;
}

#catalk table td {
	vertical-align: top;
}

#catalk h3 a:link, #catalk h3 a:visited {
	font-size: 13px;
	font-weight: bold;
	color: #005482;
}

#catalk a:visited {
	color: #005482;
}

#catalk table img { margin-top: 5px; }

#catalk .disclaimer, #catalk .disclaimer b, #catalk .disclaimer strong { font-size: 10px; color: #333333; }

#catalk .author { color: #666666; font-size: 11px; font-weight: bold; }

#catalk .author .name { color: #6B9CC1; }

#catalk .author br { line-height: 2em; }

#catalk .byline { font-size: 10px; color: #666; display: block; line-height: 1.3em; }

/* Alternate format links */
#catalk div.downloadarticle {
	background: #FFF url(/AM/Images/CATalk/pdf-icon.gif) top left no-repeat;
	color: #666;
	font-size: 11px;
	padding-left: 25px;
	float: right;
}

#catalk div.downloadarticle a:link, #catalk div.downloadarticle a:visited {	
	color: #000;
	font-size: 11px;
	font-weight: bold
}

#catalk img.articleimage {
	margin: 5px 15px 0 0;
	float: left;
}

#catalk div.articlequote {
	font-size: 15px;
	color: #878A7D;
	font-weight: bold;
	padding: 10px 0;
	margin: 20px 0;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}

#catalk div.articlequote img {
	float: right;
	position: relative;
	top: -20px;
}

/* New Business Partner - Touchpoint - styles */

table.catalystFrame {
	BORDER-BOTTOM: #e3e2e0 1px solid;
}

table.catalystFrame td {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	VERTICAL-ALIGN: top;
	PADDING-TOP: 0px
}
#catalyst td img {
    MARGIN: 5px 10px 0px 0px;
}

#catalyst td ul {
	PADDING-LEFT: 0px; 
	MARGIN-LEFT: 0px; 
	LIST-STYLE-TYPE: none
}

#catalyst .specialDeals {
	BORDER-RIGHT: #91c2d8 1px solid; 
	PADDING-RIGHT: 250px; 
	BORDER-TOP: medium none; 
	PADDING-LEFT: 10px; 
	BACKGROUND: url(/AM/Images/Catalyst/water_spash.jpg) no-repeat right bottom; 
	PADDING-BOTTOM: 10px; 
	BORDER-LEFT: #91c2d8 1px solid; 
	WIDTH: 335px; 
	PADDING-TOP: 10px; 
	BORDER-BOTTOM: #91c2d8 1px solid; 
	HEIGHT: 115px
}

/*trying to figure out how to apply the damn ie fixes for style sheet */
table a.member img { _behavior: url(/AM/CustomSource/Scripts/iepngfix.htc);}

#MemberBenefits table.members td { 
	vertical-align: top;
	padding-bottom: 10px;
	
}

/* Career Portal - BEGIN */
.CareerPortalJobSearchByTitle
{
    padding: 5px;
}

/* Career Portal - END */
