<!--
    Developer: WDCi (Leo)
    Date: 03/04/2017
    Task#: Pre-Final Adjustment Wizard
-->
<apex:page standardStylesheets="false" applyBodyTag="false" docType="html-5.0" controller="AAS_PreFinalAdjustment">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <apex:slds />
    </head>

    <body>
        <div class="slds-scope">
            
            <div class="slds-page-header" role="banner" style="margin-bottom:20px">
                <div class="slds-media">
                    <div class="slds-media__body">
                        <p class="slds-page-header__title slds-align-middle slds-text-heading--large"><apex:outputText value="{!headerTitle}" escape="false"/></p>
                        <p class="slds-text-body--small">
                            <apex:outputText value="{!headerDescription}" escape="false"/>                            
                        </p>
                    </div>
                </div>
            </div>

            <div class="slds-media__body">                      
                            
            <apex:form id="myForm" >                                
                                
                <apex:pageBlock mode="view" id="mainBlock">
                
                    <apex:outputPanel id="pageMsgPanel">
                        <apex:pageMessages escape="false"/>
                    </apex:outputPanel>                                        

                    <!-- Wizard Navigation buttons -->
                    <apex:pageBlockButtons >                        
                        <apex:commandButton value="Done" action="{!cancel}" styleClass="slds-button slds-button--neutral"/>                                            
                    </apex:pageBlockButtons>

                </apex:pageBlock>
                
            </apex:form>
            
            </div>
        </div>
    </body>
    
    <footer align="center">
        <!-- © Copyright 2017 -->
    </footer>
    
    <script type="text/javascript">        
    </script>
    
    </html>
</apex:page>