<!-- 
    Developer: WDCi (Terry)
    Development Date: 21/4/2016
    Task #: AAS Lock Result
    
    extensions="AAS_LockResultController" 
-->
<apex:page standardStylesheets="false" applyBodyTag="false" docType="html-5.0" standardController="AAS_Course_Assessment__c" extensions="AAS_LockResultController" title="Lock Result Wizard">
    <style>
        #select-table{
            margin-top:30px; 
            margin-left:350px;
        }
        
        #select-table td{
            padding-top: 15px; 
            padding-bottom: 15px;
        }
        
        .slds [hidden], .slds template {
            display: block;
        }
        
        ul li, ol li {
            margin-left: 0em;
        }
        
    </style>
   
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.luana_SFDC_Lighting_Design, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
        </head>
        <body>
            
            <div class="slds">
                
                <div class="slds-page-header" role="banner" style="margin-bottom:20px">
                     <div class="slds-media">
                         <div class="slds-media__body">
                             <p class="slds-page-header__title slds-align-middle slds-text-heading--large">Lock Result Wizard</p>
                             <p class="slds-text-body--small" title="Student Session Allocation Wizard">
                                 This wizard will lock all the results. Once the Result is locked, You cannot make any further ammendment.
                             </p>
                         </div>
                     </div>
                </div>
            </div> 
            <div > 
                <apex:form id="theform">
                
                <apex:pageMessages id="wizardmessage" escape="false" />
                    
                    <apex:pageBlock title="Lock Result Process for {!AAS_Course_Assessment__c.AAS_Course__r.Name}" mode="view" id="wizardblock">

                        <apex:pageBlockButtons >

                            <apex:commandButton id="calBtn" action="{!doCommit}" value="Commit" styleClass="slds-button slds-button--brand"  rendered="{!validToProcess}"/>                            
                            <apex:commandButton value="Cancel" action="{!doCancel}" styleClass="slds-button slds-button--brand"/>
           
                        </apex:pageBlockButtons>

                        <div style="border:0px solid black;">
                        
                            <apex:outputLabel >Please click the Commit button if you would like to lock the result.</apex:outputLabel>
                        </div>
                        
                    </apex:pageBlock> 
                </apex:form>
            </div>
      
        </body>            
    </html>
</apex:page>