<apex:page standardController="Application__c" extensions="ApplicationWizardController" title="Application Wizard">
	<apex:form >
		<apex:pageBlock mode="edit">
		<apex:pageMessages id="pageMessagesId"/>
			<apex:pageBlockSection columns="1" >
				<b>PERSONAL DETAILS</b><br/><br/>

<apex:outputPanel rendered="{!IF(
OR(
ApplicationType='Provisional_Member',
ApplicationType='Certificate_of_Public_Practice'
)

,'true','false')}">
Please provide residential and mailing addresses. If any of these details change, you should update your 
information using the ‘My Profile’ link in the online Member Portal or contact our Customer Service Centre 
immediately to avoid any delay in receiving information and goods. Your name as entered here will appear 
on any certificates awarded by NZICA. 
If you are known by another name or have changed your name, please 
supply a copy of your marriage certificate or evidence of change of name by deed poll.
</apex:outputPanel>



				<apex:outputText value="Your name as entered here will appear on any certificates awarded by NZICA." rendered="{!IF(ApplicationType='Provisional_Member','true','false')}"/>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Name"/>
					<apex:outputText value="{!AccountObj.Salutation} {!AccountObj.FirstName} {!AccountObj.LastName}"/>
				</apex:pageBlockSectionItem>
				<apex:outputField value="{!AccountObj.PersonBirthDate}"/>
				
				<apex:inputField value="{!AccountObj.PersonEmail}"/>
				<apex:inputField value="{!AccountObj.PersonMobilePhone}"/>
				<apex:inputField value="{!AccountObj.PersonHomePhone}"/>
				<apex:inputField value="{!AccountObj.PersonOtherPhone}"/>
				
				<apex:inputField value="{!AccountObj.Preferred_Name__c}"/>
			</apex:pageBlockSection>
			<apex:pageBlockSection id="pageBlockSectionId">
				<apex:inputField value="{!AccountObj.PersonOtherStreet}"/>
				<apex:outputText styleClass="dataCol empty" rendered="{!IF(AccountObj.Mailing_and_Residential_is_the_same__c,'true','false')}"/>
				<apex:inputField value="{!AccountObj.PersonMailingStreet}" rendered="{!IF(NOT(AccountObj.Mailing_and_Residential_is_the_same__c),'true','false')}"/>
				
				<apex:inputField value="{!AccountObj.PersonOtherCity}"/>
				<apex:outputText styleClass="dataCol empty" rendered="{!IF(AccountObj.Mailing_and_Residential_is_the_same__c,'true','false')}"/>
				<apex:inputField value="{!AccountObj.PersonMailingCity}" rendered="{!IF(NOT(AccountObj.Mailing_and_Residential_is_the_same__c),'true','false')}"/>
				
                <apex:inputField value="{!AccountObj.PersonOtherCountryCode}"/>
				<apex:outputText styleClass="dataCol empty" rendered="{!IF(AccountObj.Mailing_and_Residential_is_the_same__c,'true','false')}"/>
				<apex:inputField value="{!AccountObj.PersonMailingCountryCode}" rendered="{!IF(NOT(AccountObj.Mailing_and_Residential_is_the_same__c),'true','false')}"/>
                
				<apex:inputField value="{!AccountObj.PersonOtherStateCode}"/>
				<apex:outputText styleClass="dataCol empty" rendered="{!IF(AccountObj.Mailing_and_Residential_is_the_same__c,'true','false')}"/>
				<apex:inputField value="{!AccountObj.PersonMailingStateCode}" rendered="{!IF(NOT(AccountObj.Mailing_and_Residential_is_the_same__c),'true','false')}"/>
				
				<apex:inputField value="{!AccountObj.PersonOtherPostalCode}"/>
				<apex:outputText styleClass="dataCol empty" rendered="{!IF(AccountObj.Mailing_and_Residential_is_the_same__c,'true','false')}"/>
				<apex:inputField value="{!AccountObj.PersonMailingPostalCode}" rendered="{!IF(NOT(AccountObj.Mailing_and_Residential_is_the_same__c),'true','false')}"/>
				
				<!-- BeginMod RN: 28-10-14 - Commentented out as part of implementation of state and country picklists
				<apex:inputField value="{!AccountObj.PersonOtherCountry}"/>
				<apex:outputText styleClass="dataCol empty" rendered="{!IF(AccountObj.Mailing_and_Residential_is_the_same__c,'true','false')}"/>
				<apex:inputField value="{!AccountObj.PersonMailingCountry}" rendered="{!IF(NOT(AccountObj.Mailing_and_Residential_is_the_same__c),'true','false')}"/>
				-->
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Mailing address is the same as Residential"/>
					<apex:inputCheckbox value="{!AccountObj.Mailing_and_Residential_is_the_same__c}">
						<apex:actionSupport event="onclick" reRender="pageBlockSectionId"/>
					</apex:inputCheckbox>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
				
<!-- 			<apex:pageBlockSection columns="1" title="Employment History"> -->
<!-- 				<apex:inputField value="{!EmploymentHistory.Employer__c}"/> -->
<!-- 				<apex:inputField value="{!EmploymentHistory.Employee_Start_Date__c}"/> -->
<!-- 				<apex:inputField value="{!EmploymentHistory.Employee_End_Date__c}"/> -->
<!-- 				<apex:inputField value="{!EmploymentHistory.Job_Title__c}"/>  -->
<!-- 			</apex:pageBlockSection> -->
			
<!-- 			<apex:pageBlockSection rendered="{!IF(ApplicationType='Certificate_of_Public_Practice', 'true','false')}" columns="1" title="Detail of practice" collapsible="false"> -->
<!-- 				<apex:pageBlockSectionItem > -->
<!-- 					<apex:outputLabel value="Name of practice - could be list of Biz Accounts?"/> -->
<!-- 					<apex:inputText value="{!NameOfPractice}"/> -->
<!-- 				</apex:pageBlockSectionItem> -->
<!-- 			</apex:pageBlockSection> -->
			
			
			
			
			
			
			
			
			
			
			
<!-- 				<apex:inputField value="{!Application.Is_Application_Reciprocal__c}"/> -->
<!-- 				<apex:inputField value="{!Application.College__c}" required="true"/> -->

<!-- 				<apex:outputPanel > -->
<!-- 					<table border="0" cellspacing="10" width="100%"> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								Are you, or have you ever been, adjudged bankrupt or made the subject of an official  -->
<!-- 								assignment for the benefit of your creditors? -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							<apex:outputPanel styleClass="requiredInput" layout="block"> -->
<!-- 								<apex:outputPanel styleClass="requiredBlock" layout="block"/> -->
<!-- 									<apex:selectList value="{!Application.Adjudged_Bankrupt__c}" size="1" multiselect="false"> -->
<!-- 										<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 										<apex:actionSupport event="onchange" rerender="file3"/> -->
<!-- 									</apex:selectList> -->
<!-- 							</apex:outputPanel> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								If yes, attach a copy of the bankruptcy notice from the Official Assignee  -->
<!-- 								and a Discharge of Bankruptcy notice (if applicable) or attach  -->
<!-- 								appropriate documentation with regards to being made an assignment of my creditors -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								Are you, or have you ever been, subject to disciplinary proceedings by a statutory, -->
<!-- 								 professional or other body (including CAANZ in respect of your professional capacity? -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							<apex:outputPanel styleClass="requiredInput" layout="block"> -->
<!-- 								<apex:outputPanel styleClass="requiredBlock" layout="block"/> -->
<!-- 								<apex:selectList value="{!Application.Subject_to_disciplinary_proceedings__c}" size="1" multiselect="false"> -->
<!-- 									<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 								</apex:selectList> -->
<!-- 							</apex:outputPanel> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								Are you, or have you ever been, prohibited by the Registrar of Companies from managing a company? -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							<apex:outputPanel styleClass="requiredInput" layout="block"> -->
<!-- 								<apex:outputPanel styleClass="requiredBlock" layout="block"/> -->
<!-- 								<apex:selectList value="{!Application.Prohibited_from_company_management__c}" size="1" multiselect="false"> -->
<!-- 									<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 								</apex:selectList> -->
<!-- 							</apex:outputPanel> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								Have you failed to satisfy a judgement debt within the last seven years  -->
<!-- 								where payment has been ordered by a court in New Zealand or overseas? -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							<apex:outputPanel styleClass="requiredInput" layout="block"> -->
<!-- 								<apex:outputPanel styleClass="requiredBlock" layout="block"/> -->
<!-- 								<apex:selectList value="{!Application.Failure_to_satisfy_judgement_debt__c}" size="1" multiselect="false"> -->
<!-- 									<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 								</apex:selectList> -->
<!-- 							</apex:outputPanel> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								Have you been subject to disciplinary proceedings by a tertiary education institution? -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							<apex:outputPanel styleClass="requiredInput" layout="block"> -->
<!-- 								<apex:outputPanel styleClass="requiredBlock" layout="block"/> -->
<!-- 								<apex:selectList value="{!Application.Subject_to_disciplinary_by_education__c}" size="1" multiselect="false"> -->
<!-- 									<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 								</apex:selectList> -->
<!-- 							</apex:outputPanel> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								Please provide detailed information if you have ticked “yes” to any of the above questions. -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 								<apex:inputTextarea value="{!Application.Detail_of__c}"/><p/> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								Have you ever been convicted of any crime or offence punishable by fine or  -->
<!-- 								imprisonment (which would be recorded on a criminal or traffic report issued  -->
<!-- 								by the Ministry of Justice) or are there any charges pending? -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							<apex:outputPanel styleClass="requiredInput" layout="block"> -->
<!-- 								<apex:outputPanel styleClass="requiredBlock" layout="block"/> -->
<!-- 								<apex:selectList value="{!Application.Convicted_of_any_crime__c}" size="1" multiselect="false"> -->
<!-- 									<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 								</apex:selectList> -->
<!-- 							</apex:outputPanel> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 								If yes, attach a copy of criminal record -->
<!-- 							</td> -->
<!-- 							<td> -->
<!-- 							</td> -->
<!-- 						</tr> -->
						
<!-- 						<apex:outputPanel rendered="{!IF(ApplicationType='Certificate_of_Public_Practice', 'true','false')}"> -->
<!-- 							<tr> -->
<!-- 								<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 									Are you joining an established multi-partner (or multi-director) practice? -->
<!-- 								</td> -->
<!-- 								<td> -->
<!-- 									<apex:selectList value="{!Application.Established_multi_partner_practice__c}" size="1" multiselect="false"> -->
<!-- 										<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 									</apex:selectList> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 									Has your acceptable practice experience (while a CA) been undertaken  -->
<!-- 									in a public practice environment? -->
<!-- 								</td> -->
<!-- 								<td> -->
<!-- 									<apex:selectList value="{!Application.APE_undertaken_in_public_practice__c}" size="1" multiselect="false"> -->
<!-- 										<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 									</apex:selectList> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 									Please provide a thorough description of the nature of the services you intend to undertake. -->
<!-- 								</td> -->
<!-- 								<td> -->
<!-- 									<apex:inputTextarea value="{!Application.Accounting_Services__c}"/><p/> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 									Have you attended NZICA's course for new practitioners or an NZICA approved in-house course? -->
<!-- 								</td> -->
<!-- 								<td> -->
<!-- 									<apex:selectList value="{!Application.Attended_course_for_new_practitioners__c}" size="1" multiselect="false"> -->
<!-- 										<apex:selectOptions value="{!SelectOptionYesNo}"/> -->
<!-- 									</apex:selectList> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 									Date you attended course for new practitioners -->
<!-- 								</td> -->
<!-- 								<td> -->
<!-- 									<apex:inputField value="{!Application.Date_Attended__c}" /> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td style="color: #4A4A56;font-weight: bold;"> -->
<!-- 									Tick this box please? (Agree to attend the next course at any location in New Zealand) -->
<!-- 								</td> -->
<!-- 								<td> -->
<!-- 									<apex:inputCheckbox value="{!isPrivate}" /> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 						</apex:outputPanel> -->
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						<!-- 
						<tr>
							<td style="color: #4A4A56;font-weight: bold;">
								Label
							</td>
							<td>
								<apex:selectList value="{!AdjudgedBankrupt}" size="1" multiselect="false">
									<apex:selectOptions value="{!SelectOptionYesNo}"/>
								</apex:selectList>
							</td>
						</tr>
						 -->
<!-- 					</table> -->
<!-- 				</apex:outputPanel> -->
<!-- 			</apex:pageBlockSection> -->
			<apex:pageBlockButtons >
				<apex:commandButton action="{!backOnPage2}" value="Back" immediate="true"/>
				<apex:commandButton action="{!savePage2}" value="Save & Continue"/>
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
</apex:page>