<apex:page id="changePassword" showHeader="false" controller="ChangePasswordController" title="{!$Label.site.change_password}" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" applyBodyTag="false">
    
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/needhelp" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/s/sfsites/auraFW/resources/NljTZWukdERk3x9WcrExeQ/ckeditor/ckeditor-4.x/rel/ckeditor.js" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/LinkedinLogo" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/s/sfsites/auraFW/javascript/NljTZWukdERk3x9WcrExeQ/aura_prod.js" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/s/sfsites/auraFW/resources/NljTZWukdERk3x9WcrExeQ/libs_Pacific-Auckland.js" ></script>
    <script async="true" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/jslibrary/1460662420000/ui-sfdc-javascript/SfdcCoreLean.js" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/SLDS/assets/fonts/webfonts/SalesforceSans-Regular.woff2" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/SLDS/assets/styles/salesforce-lightning-design-system-ltng.css" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/fblogo" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698584000/CAANZLogo" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/s/sfsites/auraFW/resources/NljTZWukdERk3x9WcrExeQ/aura/normalize.css" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/youtube" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/slideshare" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/google" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/twitter" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/linkedin" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/resource/1460698585000/facebook" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/sfsites/assets/cb-slds.min.css?r=1.201604141859590852" ></script>
    <script async="true" src="https://charteredaccountantsanz.force.com/customer/s/sfsites/auraFW/resources/aura/s.gif" ></script>

    <style type="text/css">
        .center-div {
            margin: 0 auto;
            max-width: 380px;
        }
        .entry {
            margin: 10px;
            padding: 12px;
            position: relative;
        }
        .footer {
            display: block;    
            margin-left: auto;
            margin-right: auto;
        }
        .wide {
            width: 100%;
        }
        body {
            font-family: Arial, sans-serif;
        }
        ul {
            list-style-type: circle;
        }
        img, #cpwbtn, #submitButton {
            display: block;    
            margin-left: auto;
            margin-right: auto;
        }
        input, .button {
            padding: 12px;
            border-radius: 4px;
            font-size: 14px;
        }
        p {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body onload="asyncLoad()">
        <apex:outputPanel id="body" layout="block" styleClass="center-div">
            <apex:outputPanel id="logo" layout="block">
                <apex:image url="{!URLFOR($Resource.CAANZLogo)}"/>
            </apex:outputPanel>

            <apex:outputPanel id="pageErrors" layout="block" styleClass="entry" >
                <apex:pageMessages id="error"/>
            </apex:outputPanel>

            <apex:outputPanel id="headerText" layout="block">
                <h1>
                    Change Your Password
                </h1>
            </apex:outputPanel>
    
            <apex:outputPanel id="changeText" layout="block">
                <p>Enter a new password. Your password must have at least:</p>
                <ul>
                    <li>8 characters</li>
                    <li>1 letter</li>
                    <li>1 number</li>
                </ul>
            </apex:outputPanel>
            
            <apex:outputPanel id="form">
                <apex:form id="theForm">
                    <apex:outputLabel rendered="{! !$Site.IsPasswordExpired}" value="{!$Label.site.old_password}" for="oldpsw"/>
                    <apex:outputPanel id="oldPassword" layout="block" styleClass="entry wide">
                        <apex:inputSecret required="true" id="oldpsw" styleClass="password-input input wide password" rendered="{! !$Site.IsPasswordExpired}" value="{!oldPassword}"/>
                    </apex:outputPanel>
    
                    <apex:outputLabel value="{!$Label.site.new_password}" for="psw"/>
                    <apex:outputPanel id="newPassword" layout="block" styleClass="entry wide">
                        <apex:inputSecret required="true" id="psw" styleClass="password-input input wide password" value="{!newPassword}"/>
                    </apex:outputPanel>
    
                    <apex:outputLabel value="{!$Label.site.verify_new_password}" for="vpsw"/>
                    <apex:outputPanel id="verifyNewPassword" layout="block" styleClass="entry wide">
                        <apex:inputSecret required="true" id="vpsw" styleClass="password-input input wide password" value="{!verifyNewPassword}"/>
                    </apex:outputPanel>
    
                    <apex:outputPanel id="submitButton" layout="block" styleClass="entry wide">
                        <apex:commandButton id="cpwbtn" action="{!changePassword}" value="Change Password" styleClass="button wide" />
                    </apex:outputPanel>
    
                </apex:form>
            </apex:outputPanel>
            <apex:outputPanel id="footer" layout="block">
                © 2016 Chartered Accountants Australia and New Zealand. All rights reserved.
            </apex:outputPanel>
        </apex:outputPanel>
    </body>
</apex:page>