<apex:page sidebar="false" showHeader="false" title="MemberViewEnrolment"  standardStylesheets="false" applyBodyTag="true" applyHtmlTag="false" >
    <!-- LCA-247 controller="luana_MemberEnrolmentController"
    <head>
        <link rel="icon shortcut" href="{!URLFOR($Resource.luana_CA_Websource_v2, 'images/logo.ico')}" />
    </head>
    <apex:composition template="luana_NonMemberTemplate">
        <apex:define name="body">
            <div style="width: 100%">
                <apex:form id="myform">
                    <!-/-<apex:pageBlock id="block">
                        <div class="table-subheader">Enrolment Details</div>-/->
                        
                        <h2 class="education-title">Course - {!selectedCourseName}</h2>
                        <apex:repeat value="{!spSet}" var="spId">
                            <table class="detail-two-column alt">
                                <tr>
                                    <td>Student Program : {!spNameMap[spId]}</td>
                                </tr>
                                <tr>
                                    <td>Exam Location : {!spExamLocMap[spId]}</td>
                                </tr>
                                <tr>
                                    <td>Paid : 
                                        <apex:image URL="{!if(spPaidMap[spId],"/img/checkbox_checked.gif","/img/checkbox_unchecked.gif")}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-subheader">Student Program Subject Info:</div>
                                        <table class="detail-two-column alt">
                                            <tr>
                                                <th>
                                                    Name: 
                                                </th>
                                                <th>
                                                    Subject Name: 
                                                </th>
                                                <th>
                                                    Completed: 
                                                </th>
                                            </tr>
                                            <apex:repeat value="{!spsMap[spId]}" var="sps">
                                                <tr>
                                                    <td>
                                                        {!sps.Name}
                                                    </td>
                                                    <td>
                                                        {!sps.LuanaSMS__Subject__r.Name}
                                                    </td>
                                                    <td>
                                                        <apex:image URL="{!if(sps.Completed__c,"/img/checkbox_checked.gif","/img/checkbox_unchecked.gif")}"/>
                                                    </td>
                                                </tr>
                                            </apex:repeat>
                                        </table>
                                    </td>
                                </tr>
                            
                        </table>
                        </apex:repeat>
                        <br />
                        <!-/-
                        <table class="detail-two-column alt">
                            <tr>
                                <td>First Name: </td>
                                <td>
                                    <apex:outputField value="{!selectedSPObj.LuanaSMS__Contact_Student__r.Account.FirstName}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Preferred Name: </td>
                                <td><apex:outputField value="{!selectedSPObj.LuanaSMS__Contact_Student__r.Account.Preferred_Name__c}"/></td>
                            </tr>
                            <tr>
                                <td>Last Name: </td>
                                <td><apex:outputField value="{!selectedSPObj.LuanaSMS__Contact_Student__r.Account.LastName}"/></td>
                            </tr>
                        </table>
                        
                        <div class="table-subheader">Employment Details</div>
                        <table class="detail-two-column alt">
                            <apex:repeat value="{!eHistories}" var="eh">
                                <tr>
                                    <td>Account name</td>
                                    <td><apex:outputField value="{!eh.Employer__r.Name}"/></td>
                                </tr>
                            </apex:repeat>
                        </table>
                        
                        <div class="table-subheader">Mentor Details</div>
                        <table class="detail-two-column alt">
                            <apex:repeat value="{!mentorList}" var="mentor">
                                <tr>
                                    <td>Mentor name</td>
                                    <td><apex:outputLabel value="{!mentor}"></apex:outputLabel></td>
                                </tr>
                            </apex:repeat>
                        </table> 
                        
                        <table class="detail-two-column alt">
                            <tr>    
                                <td>Course: </td>
                                <td>
                                    <apex:outputField value="{!selectedSPObj.LuanaSMS__Course__r.Name}"/>
                                </td>
                            </tr>
                            <tr>    
                                <td>Select your exam location preference: </td>
                                <td>
                                    <apex:outputField value="{!selectedSPObj.Select_your_exam_location_preference__r.Name}"/>
                                </td>
                            </tr>
                            <tr>    
                                <td>Please select your country of residence: </td>
                                <td>
                                    <apex:outputField value="{!selectedSPObj.Please_select_your_country_of_residence2__c}"/>
                                </td>
                            </tr>
                        </table>  
                        
                          
                    </apex:pageBlock>-/->
                </apex:form>
            </div>
        </apex:define>
    </apex:composition>-->
</apex:page>