<!-- 
    Developer: WDCi (KH)
    Date: 09/08/2016
    Task #: Luana implementation - Supplementary Exam Broadcast for Allocation Detail
    
    
 -->
<apex:page standardStylesheets="false" applyBodyTag="false" applyHtmlTag="true" docType="html-5.0" standardController="LuanaSMS__Course__c" extensions="luana_SuppExamBroadcastWizardCtrl" title="Supplementary Exam Broadcasting Wizard" readOnly="true">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.luana_SFDC_Lighting_Design, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
        </head>
        <body>
            <div class="slds">
                <div class="slds-page-header" role="banner" style="margin-bottom:20px">
                     <div class="slds-media">
                         <div class="slds-media__body">
                             <p class="slds-page-header__title slds-align-middle slds-text-heading--large">Exam Broadcasting Wizard</p>
                             <p class="slds-text-body--small" title="Student Session Allocation Wizard">
                                 <!--This wizard allows you to mass broadcast all students that have enrolled to this course about supplementary exam request is approved.-->
                                 This wizard allows you to mass broadcast to students who have been Allocated to a Session, and advise of the session details
                             </p>
                         </div>
                     </div>
                </div>
                <apex:form id="theform">
                    <apex:pageMessages id="wizardmessage" escape="false" />
                    
                    <apex:pageBlock title="Broadcast Supplementary Exam Allocation Detail for {!LuanaSMS__Course__c.Name}" mode="edit" id="wizardblock">
                        
                        <apex:pageBlockButtons location="bottom">
                            <apex:commandButton value="Back" action="{!cancel}" styleClass="slds-button slds-button--brand"/>
                            <apex:commandButton value="Broadcast" action="{!doAllocationBroadcast}" disabled="{!OR(hasError, NOT(enabled))}" styleClass="slds-button slds-button--brand"/>
                        </apex:pageBlockButtons>
                        <apex:pageBlockSection collapsible="false" columns="1" title="" rendered="{!AND(NOT(hasError), enabled)}">
                            <!--Are you sure to continue?-->
                            Are you sure you want to continue?<br />
                        </apex:pageBlockSection>
                        
                        <apex:pageBlockSection collapsible="false" columns="1" title="" rendered="{!hasError}" >
                            Bad data is found. Please click on the record below to fix the data and try again:
                            <br />
                            <br />
                            <apex:outputPanel layout="block" style="overflow: auto; height: 500px;">
                                <apex:repeat value="{!warningMessage}" var="noBillingAdd" >
                                    <apex:outputText value="{!noBillingAdd}" escape="false" />
                                    <br />
                                </apex:repeat>
                            </apex:outputPanel>
                            
                        </apex:pageBlockSection>
                    
                    </apex:pageBlock>
                </apex:form>
      
             </div>
         </body>
     </html>
</apex:page>