<!--
    Developer: WDCi (Leo)
    Date: 13/03/2017
    Task#: LCA-1081 Mass Course Delivery Location Creation using Wizard - Page 3 [Optional page for Workshop type availability day selection]
-->
<apex:page standardStylesheets="false" applyBodyTag="false" docType="html-5.0" controller="luana_MassCDLController" id="MassCDL">
	
		
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <apex:slds /> 
    </head>
          
    <body>
        <div class="slds-scope">                        
            
            <div class="slds-page-header" role="banner" style="margin-bottom:20px">
                <div class="slds-media">
                    <div class="slds-media__body">
                        <p class="slds-page-header__title slds-align-middle slds-text-heading--large"><apex:outputText value="{!headerTitle}" escape="false"/></p>
                        <p class="slds-text-body--small" title="Mass CDL Wizard">
                            <apex:outputText value="{!headerDescription}" escape="false"/>
                            <apex:outputText value="{!headerDescriptionPage3}" escape="false"/>
                        </p>
                    </div>
                </div>
            </div>
            			            
            <apex:form id="myForm" >

	            <apex:pageBlock >
	            
	            	<apex:outputPanel id="pageMsgPanel">
		                <apex:pageMessages escape="false"/>
		            </apex:outputPanel>
	            
		            <apex:pageBlockButtons >
	                	<apex:commandButton value="Cancel" action="{!cancel}" immediate="true" styleClass="slds-button slds-button--neutral"/>
	                    <apex:commandButton value="Create" action="{!nextToPage4}" styleClass="slds-button slds-button--brand"/>	            
		            </apex:pageBlockButtons>

					<apex:pageBlockSection columns="1" collapsible="false">
					
	                	<apex:outputPanel id="availabilityDayPanel">
	                    	<p class="slds-text-body--small" title="Search Result" style="margin-bottom:10px">Select Availability Day for each Course Delivery Location</p>
	                        <table class="slds-table slds-table--bordered slds-table--cell-buffer">
	                        	<thead>
	                            	<tr class="slds-text-title--caps">	                                	
	                                    <th scope="col"><div class="slds-truncate" title="">Course Delivery Name</div></th>	                                    
	                                    <th scope="col"><div class="slds-truncate" title="Availability Day">Availability Day</div></th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                            	<apex:repeat value="{!dlWrapperToCreate}" var="tableEntry">
	                            		<tr>	                                    	
	                                        <td data-label="Course Delivery Name"> 
	                                        	<apex:outputText value="{!tableEntry.storedObject.Name}"/>
                                        	 	<apex:outputText value="{!existingAvailabilityDayPresent}" rendered="{!tableEntry.oldValueExist}" style="background-color:#d9ffdf" escape="false"/>
                                        	</td>	                                        
											<td data-label="Availability Day">
												<apex:selectList value="{!tableEntry.availableDay}" label="Please ensure that each record/s have Availability Day selected" multiselect="true" size="5" required="true">
													<apex:selectOptions value="{!Days}"/>
												</apex:selectList>
											</td>
	                                    </tr>
	                            	</apex:repeat>	                            	
	                             </tbody>
	                         </table>
						</apex:outputPanel>
	                </apex:pageBlockSection>
	                
				</apex:pageBlock>
				
            </apex:form>
            
        </div>
    </body>
	
    <footer align="center">    	
        {!VFFooter}
    </footer>
    
    <script type="text/javascript">                
    </script>
    
    </html>    
    
</apex:page>