<!-- 
    Change History:
    LCA-789: 21/07/2016 - fixed list view from record
    
-->
<apex:page recordSetVar="luana_SObjectOverrideController" standardController="LuanaSMS__Program_Offering_Subject__c" extensions="luana_SObjectOverrideController">
    <!-- LCA-789 disabled action="{!gotoListPage}" -->
    
    <!-- LCA-789 start -->
    <apex:includeScript value="{!URLFOR($Resource.luana_CA_Websource_v2, 'js/jquery-1.11.0.min.js')}"/>
    
    <apex:form >
        <apex:actionFunction name="gotolist" action="{!gotoListPage}" rerender="forrender">
            <apex:param name="firstParam" assignTo="{!parentId}" value="" />
        </apex:actionFunction>
        <apex:outputPanel id="forrender"/>
    </apex:form>
    
    <script>
        $(document).ready(function(){
            var originUrl = document.referrer;
            var queryStrStart = originUrl.indexOf('?');
            
            if(queryStrStart > 0){
                originUrl = originUrl.substring(0, queryStrStart);
            }

            var slashChar = originUrl.lastIndexOf('/');

            if(slashChar > 0){
                var possibleId = originUrl.substring(slashChar + 1, originUrl.length);
                if(possibleId.length >= 15){              
                    var newUrl = gotolist(possibleId);
                }else{
                    gotolist('');
                }
            } else {
                gotolist('');
            }
        });
    </script>
    
    <!-- LCA-789 end -->
</apex:page>