<!--
    Developer: WDCi (Leo)
    Date: 22/03/2017
    Task#: General Bulk Enrolment - Page 6 [Result page]
-->
<apex:page standardStylesheets="false" applyBodyTag="false" docType="html-5.0" controller="luana_GeneralBulkEnrolmentController">

    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />        
        <apex:slds />        
    </head>
        
    <body>
        
        <div class="slds-scope">        
            
            <div class="slds-page-header" role="banner" style="margin-bottom:20px">
                <div class="slds-media">
                    <div class="slds-media__body">
                        <p class="slds-page-header__title slds-align-middle slds-text-heading--large"><apex:outputText value="{!headerTitle}" escape="false"/></p>
                        <p class="slds-text-body--small" title="Bulk Enrolment Wizard">
                            <apex:outputText value="{!headerDescription}" escape="false"/>
                            <apex:outputText value="{!headerDescriptionPage6}" escape="false"/>
                        </p>
                    </div>
                </div>
            </div>
            
            <apex:form id="myForm" >

	            <!-- Type and Related Course Selection -->
	            <apex:pageBlock mode="view" id="mainBlock">
					
					<apex:outputPanel id="pageMsgPanel">
		                <apex:pageMessages escape="false"/>
		            </apex:outputPanel>
					
	            	<!-- Wizard Navigation buttons -->
		            <apex:pageBlockButtons >	                                       
	                    <apex:commandButton value="Done" action="{!pageDone}" styleClass="slds-button slds-button--brand"/>
		            </apex:pageBlockButtons>

                </apex:pageBlock>
            </apex:form>
            
        </div>
        
    </body>
    
    <footer align="center">
        <!-- © Copyright 2017 -->
        {!VFFooter}
    </footer>
    
    </html>
</apex:page>