<!--
    Developer: WDCi (Leo)
    Date: 21/02/2017
    Task#: CASM Bulk Enrolment Wizard - Page 4 [Summary of student programs to be generated]
-->
<apex:page standardStylesheets="false" applyBodyTag="false" docType="html-5.0" controller="luana_BulkEnrolmentController">

    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />        
        <apex:slds />        
    </head>
        
    <body>
        
        <div class="slds-scope">        
            
            <div class="slds-page-header" role="banner" style="margin-bottom:20px">
                <div class="slds-media">
                    <div class="slds-media__body">
                        <p class="slds-page-header__title slds-align-middle slds-text-heading--large"><apex:outputText value="{!headerTitle}" escape="false"/></p>
                        <p class="slds-text-body--small" title="Bulk Enrolment Wizard">
                            <apex:outputText value="{!headerDescription}" escape="false"/>
                            <apex:outputText value="{!headerDescriptionPage5}" escape="false"/>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="slds-media__body">
                            
                <apex:form >
                    
                    <apex:outputPanel rendered="{!NOT(ERROR)}">
						
						<!-- Wizard Navigation buttons -->
                        <apex:pageBlock >
                            <div style="margin-left:20%">                                
                                <apex:commandButton value="Done" action="{!pageDone}" styleClass="slds-button slds-button--neutral"/>
                            </div>                            
                        </apex:pageBlock>
						
						<apex:pageMessages escape="false"/>
						
                        <!-- Wizard Navigation buttons -->
                        <apex:pageBlock >
                            <div style="margin-left:20%">                                
                                <apex:commandButton value="Done" action="{!pageDone}" styleClass="slds-button slds-button--neutral"/>
                            </div>                            
                        </apex:pageBlock>
                        
                    </apex:outputPanel>
                    
                </apex:form>
                
            </div>
            
        </div>
        
    </body>
    
    <footer align="center">
        <!-- © Copyright 2017 -->
        {!VFFooter}
    </footer>
    
    </html>
</apex:page>