<apex:page sidebar="false" showHeader="false" title="MemberProfile" standardController="User" extensions="luana_MemberProfileExtension" standardStylesheets="false" applyBodyTag="true" applyHtmlTag="true">
    <style>
        .content-container .main-content table tbody tr td{
            width:80%;
        }
        .data2Col input, textarea {
            width:50%;
        }

        
    </style>
    <head>
        <link rel="icon shortcut" href="{!URLFOR($Resource.luana_CA_Websource_v2, 'images/logo.ico')}" />
    </head>
    <body>
        <apex:composition template="luana_MemberTemplate">
            <apex:define name="body">
                <div style="width:100%">
                    <apex:form >
                        <apex:pageBlock >
                            <apex:pageBlockSection title="Details" columns="1" collapsible="false" id="detailSection">
                                <apex:inputField value="{!currentUser.FirstName}"/>
                                <apex:inputField value="{!currentUser.LastName}"/>
                                <apex:inputField value="{!currentUser.Email}"/>
                                <apex:inputField value="{!currentUser.Phone}"/>
                                <apex:inputField value="{!currentUser.Fax}"/>
                                <apex:inputField value="{!currentUser.MobilePhone}" label="Mobile"/>
                            </apex:pageBlockSection>
                            <apex:pageBlockSection title="Address" columns="1" collapsible="false" id="addressSection" >
                                <apex:inputField value="{!currentUser.Country}"/>
                                <apex:inputField value="{!currentUser.Street}"/>
                                <apex:inputField value="{!currentUser.City}"/>
                                <apex:inputField value="{!currentUser.State}"/>
                                <apex:inputField value="{!currentUser.PostalCode}"/>
                            </apex:pageBlockSection>
            
                            
                            <apex:commandButton value="Save" title="save" action="{!save}"/>&nbsp;
                            <apex:commandButton value="Cancel" title="Cancel" action="{!Cancel}"/>
                            
                        </apex:pageBlock>
                    </apex:form>
                    
                </div>
            </apex:define>
        </apex:composition>
    </body>
</apex:page>