<!-- 
    Developer: WDCi (KH)
    Date: 11/May/2016
    Task #: Luana implementation - Wizard for Late Enrolment
-->
<apex:page standardController="LuanaSMS__Course__c" extensions="luana_EnrolmentWizardManualController" standardStylesheets="false" applyBodyTag="false" docType="html-5.0" title="Late Enrolment Wizard">
    <head>
        <apex:stylesheet value="{!URLFOR($Resource.luana_SFDC_Lighting_Design, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    </head>
    <body>
            <div class="slds">
                <div class="slds-page-header" role="banner" style="margin-bottom:20px">
                     <div class="slds-media">
                         <div class="slds-media__body">
                             <p class="slds-page-header__title slds-align-middle slds-text-heading--large">Manual Enrolment Wizard</p>
                             <p class="slds-text-body--small" title="Allow Late Enrolment Wizard">
								This wizard allows you to enrol a course on behalf of a student.
                             </p>
                         </div>
                     </div>
                </div>
                <apex:form id="theform">
                    <apex:pageMessages id="wizardmessage" />
                    
                    <apex:pageBlock title="{!course.Name}" mode="edit" id="wizardblock">
                        
                        <apex:pageBlockButtons >
                        	<apex:commandButton value="Cancel" action="{!cancel}" styleClass="slds-button slds-button--brand"/>
                            <apex:commandButton value="Next" action="{!nextEnrol}" styleClass="slds-button slds-button--brand"/>
                        </apex:pageBlockButtons>
                        
                        <apex:pageBlockSection columns="1">
                        	<apex:inputField value="{!newSPObj.LuanaSMS__Contact_Student__c}" />
							<apex:inputField value="{!newSPObj.Apply_Late_Enrolment_Fee__c}" />                                
                        </apex:pageBlockSection>
                    </apex:pageBlock>
                </apex:form>
            </div>
     </body>
</apex:page>