<apex:page controller="PortalForgotPassword" showHeader="false" sidebar="false" cache="false">
	<head>
		<title>Forgot Password</title>
		<apex:stylesheet value="{!URLFOR($Resource.jQueryUI, 'jquery-ui-1.10.3.custom/css/black-tie/jquery-ui-1.10.3.custom.min.css')}"></apex:stylesheet> 
	  	<apex:includeScript value="{!URLFOR($Resource.jQueryUI, 'jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"></apex:includeScript>
	  	<apex:includeScript value="{!URLFOR($Resource.jQueryUI, 'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"></apex:includeScript>
	  	<apex:stylesheet value="{!URLFOR($Resource.jQueryUI, 'jquery-ui-1.10.3.custom/development-bundle/themes/black-tie/jquery-ui.css')}"></apex:stylesheet>
		<apex:stylesheet value="{!URLFOR($Resource.Portal_Resources, 'Portal/forms.css')}"></apex:stylesheet> 
		<style type="text/css">
			#login-logout h1 {
				background: white;
				color: #004667;
				font-weight: bold;
				font-size: 17px;				
			}
		</style>
	</head>
	<br /><br /><br />
	<apex:form id="loginForm" forceSSL="true">
		<div id="login-logout">
		    <div class="log-float">
		        <h1>Forgot Password</h1>		        
		        <div class="log-cont">
		            <p align="justify">
		            	Enter your username and we’ll email you a new password. If you continue to have problems, please don’t hesitate to contact us on 0800 4NZICA.</p>
					<apex:pageMessages id="idMessages" escape="false"/>	
		            <fieldset>
		            <legend><span>Reset your password</span></legend>
		            <div class="form-row">
		                <label for="username">Username</label>
		                <a style="text-decoration: none; border:0!important; color: #2D80AC;" href="#" onclick="window.location = '/PortalLogin'">
		                	Already a member?
		                </a>
		                <apex:inputText id="username" value="{!username}" styleClass="txt-input"/>
		            </div>
		            </fieldset>
		            <div class="submit">
		                <apex:commandButton action="{!forgotPassword}" value="{!$Label.site.submit}" id="submitButton"/>
		            </div>
		        </div>
		    </div>
		    <div class="log-float alt">
		        <h1>Not registered?</h1> 
		        <div class="log-cont">
		        	<apex:commandLink action="{!register}" rerender="loginForm">
		        		<apex:param value="StudentAffiliate" assignTo="{!param}" /> 
		            	<h2>Register as a Student Affiliate</h2>
			            <br /><br />      
			            <apex:image value="{!URLFOR($Resource.Portal_Resources, 'Portal/images/student-secondary.png')}" 
			            			alt="Register as a Student Affiliate"/>		            	
		            </apex:commandLink> 

		            <p align="justify">
		            	Gain access to Young Enterprise resources, exciting competitions and career info.
		            	<br />	
			            <apex:commandLink action="{!register}" rerender="loginForm" value="Join us now" id="registerStudentAffiliate">
			            	<apex:param value="StudentAffiliate" assignTo="{!param}" /> 
			            </apex:commandLink>
		            </p>   	            
		            <apex:commandLink action="{!register}" rerender="loginForm">
		            	<apex:param value="NonMember" assignTo="{!param}" />
		            	<h2>Register as a Non-Member</h2>
			            <br /><br /> 
			            <apex:image value="{!URLFOR($Resource.Portal_Resources, 'Portal/images/non-member.png')}" 
						alt="Register as a Non-Member"/>		            	
		            </apex:commandLink>
		            <p align="justify">
		            	Gain access to exclusive events, competitions, resources, discounts and more.
		            	<br />
			            <apex:commandLink action="{!register}" rerender="loginForm" value="Join us now" id="registerNonMember">
			            	<apex:param value="NonMember" assignTo="{!param}" />
			            </apex:commandLink>	
			        </p>     	            
		            <br />      		            		            	            
		        </div>
		    </div>    
		</div>	
	</apex:form>	
</apex:page>