<apex:page sidebar="false" showHeader="{!bShowHeader}" controller="SubmitAssessmentController" action="{!IF(strUserType == 'Guest', null, URLFOR($Action.Application__c.View, application.Id))}">
<link href="https://charteredaccountantsanz.tfaforms.net/form-builder/4.1.0/css/wforms-layout.css" rel="stylesheet" type="text/css" />
<link href="https://charteredaccountantsanz.tfaforms.net/form-builder/4.1.0/css/wforms-jsonly.css" rel="stylesheet" title="" type="text/css" />
<link href="https://charteredaccountantsanz.tfaforms.net/themes/get/3" rel="stylesheet" type="text/css" />
    <div class="wFormContainer" id="wFormThankYouPage">
        <div class="wForm">
            <div class="wFormThankYou">
            <p><img src="{!$Resource.NZICA_logo}" alt="CAANZ Logo" width="309" height="85"/></p>
                <apex:pageMessages />
                <!--saved record -->
                <apex:outputPanel rendered="{!application.Application_Status__c = 'Draft'}">
                    <apex:outputText value="{!$Label.Your_application_has_been_saved}"  /><br/><br/>
                    <apex:outputText value="{!$Label.TY_Page_When_you_are_ready_to_submit_this_application_for_assessment_please_d}" rendered="{!!isPaidApp}"  />

                    <apex:outputText value="{!$Label.TY_Page_ready_to_submit_this_application_for_assessment_and_pay_the_relevant_a}" rendered="{!isPaidApp}" /><br/>
                </apex:outputPanel>
                <!--submitted for assessment -->
                <apex:outputPanel rendered="{!application.Application_Status__c = 'Submitted for Assessment'}">
                    <apex:outputText value="{!$Label.TY_Page_Thank_you_for_submitting_your_application}" /><br/><br/>
                    <apex:outputText value="{!$Label.TY_Page_You_can_check_the_status_of_your_application_by_doing_the_following}"  /><br/>
                </apex:outputPanel>
            <ol>
            <li><apex:outputText value="{!$Label.TY_Page_Log_in_to_myAccount_at}" /> <a href="{!memberURL}" target="_blank">{!memberURL}</a></li> 
            <!--NZICA Member -->
            <apex:outputPanel rendered="{!memberOf = 'NZICA'}">
                <li><apex:outputText value="{!$Label.TY_Page_Go_to_My_Profile}"  /></li>
                <li><apex:outputText value="{!$Label.TY_Page_Select_Profile_update}"  /></li>
                <li><apex:outputText value="{!$Label.TY_Page_Select_update_my_contact_details}"  /></li>
            </apex:outputPanel> 
            <!--ICAA Member -->
            <apex:outputPanel rendered="{!memberOf = 'ICAA'}">
                <li><apex:outputText value="{!$Label.TY_Page_ICAA_Select_Profile_from_the_left_hand_menu}"  /></li>
                <li><apex:outputText value="{!$Label.TY_Page_ICAA_Access_your_personal_details_using_the_prompt_on_the_page}"  /></li>
            </apex:outputPanel> 
            <li><apex:outputText value="{!$Label.TY_Page_Select_the_application_tab_to_see_all_of_your_saved_and_submitted_appl}"  /> 
            <apex:outputText value="{!$Label.TY_Page_review_and_then_submit_this_application_for_assessment}" rendered="{!AND(application.Application_Status__c = 'Draft',!isPaidApp)}"  />         
            <apex:outputText value="{!$Label.TY_Page_You_will_be_able_to_review_submit_and_pay_for_your_application_from_w}" rendered="{!AND(application.Application_Status__c = 'Draft',isPaidApp)}"  />

            </li>
            </ol>
            </div>
        </div>
    </div>
</apex:page>