<p align="center"><strong>Welcome to the new CA ANZ members log in:</strong></p>

<p align="center"><strong>My CA, My Groups, and Ideas</strong></p>
<p>Welcome to My CA, an exciting space where you can connect with us and  other members to engage in discussions regarding your education and career,  share insights and learnings and explore new opportunities.</p>
<p>My CA is made up of 3 spaces where members can choose their level of  participation:</p>
  <p><em><u>My CA Home page</u></em> is the new way for  members to interact with the organisation; access member services, manage CPD,  manage membership, including subscriptions and find articles, resources, events  and education opportunities tailored to each member&rsquo;s own areas of interest. </p>
<p> <em><u>My Groups</u></em> is an optional space  for member to member discussion in a secure, member verified platform. Choose  which discussion topics and groups are relevant to you, and join in on  conversations that are of interest. It&rsquo;s a place to network with your fellow  CAs on any topic and help strengthen and connect our membership. </p> <p>
  <em><u>Ideas</u></em> is a collaboration  space which allows members to share ideas and concepts on My CA, whether a  potential advocacy issue, a governance or operational suggestion for Chartered  Accountants Australia and New Zealand, and have other members vote for or  against the idea, offer comments and discussion, and demonstrate which popular  Ideas could potentially shape the future of the profession. 
</p>


<p><strong>Terms and Conditions&nbsp;</strong></p>
<p>The My CA online hub (<strong>My CA</strong>),  is owned and operated by Chartered Accountants Australia and New Zealand (ABN  50 084 642 571), its subsidiaries and controlled entities (collectively&nbsp;<strong>CA  ANZ</strong>,&nbsp;<strong>we</strong>,&nbsp;<strong>us&nbsp;</strong>or&nbsp;<strong>our</strong>).</p>
<p> My CA is a private platform, which is only available to our current  members and provisional members. </p>
<p>Like all good communities, we have some simple but important rules you  need to follow if you would like to participate in My Groups or Ideas. Please  act in a manner which is safe, respectful, responsible and lawful at all times.  This means that:</p>
<ul type="disc">
  <li>all       your interactions on My CA must be respectful and inclusive. CA ANZ does       not tolerate any form of trolling, online abuse or discriminatory conduct       or behaviour. This is an inclusive and safe space for all users;</li>
  <li>you       must have the rights to post or share any materials on My Groups or Ideas       (this generally means that the content you post is your own original       content, or you have permission to post content which comes from another       party (such as your employer), or the content is publicly available (such       as a published article);  </li>
  <li>you       must ensure that any statements you make are true, accurate and not       misleading; and </li>
  <li>you       must ensure that any statements or content that you post on My CA comply       with CA ANZ&rsquo;s professional regulations and do not contravene your       professional obligations</li>
</ul>

<p>Please note that the content or views posted in My Groups and Ideas are of  a general nature only.  They are not intended  to be advice from CA ANZ and views posted in these forums are that of the relevant  individual and not CA ANZ. CA ANZ does not take responsibility or liability for  any third party content, including content posted by a member or accessed via hyperlinks  which are posted within My CA.</p>
<p>The CA ANZ Website Terms of Use,<a href="https://www.charteredaccountantsanz.com/terms-of-use">&nbsp;which can be  accessed here</a>, together with the above rules for  using My CA, My Groups and Ideas form the&nbsp;<strong>Terms</strong>. If at any time you  feel that our Terms have been breached by a member or other participant of My CA,  you can highlight this conduct for review by contacting the Community Managers,  or flagging the post/comment as inappropriate.</p>
<p>The below Privacy Collection Statement and our&nbsp;<a href="https://www.charteredaccountantsanz.com/privacy-policy">Privacy Policy</a>&nbsp;also apply to  your participation on My CA.</p>

<p><strong>Privacy Collection Statement&nbsp;</strong></p>
<p>This Privacy Collection Statement deals with the personal information  collected about you in relation to your use of and participation in My CA,  including in respect of your designated profile in My CA (<strong><em>My Profile  &amp; Privacy</em></strong>).</p>
When you first log in to My CA, CA ANZ will request you to confirm your  residential and/or mailing address update your&nbsp;<em>My CA Settings, </em>including to confirm your <em>Areas of Interest</em> and <em>My CA Notifications</em>&nbsp;and&nbsp;<em>My Communication  Preferences</em>. Afterwards, you can choose to upload a profile photo to make  it easier for others to recognise you. You can also update your <em>Nickname</em>. Your <em>Nickname</em> will be  visible to other people in My Groups and Ideas – if you choose not to update  your <em>Nickname, </em>your first and last  name will appear by default. </p>
<p>Apart from your <em>Nickname</em>, and  profile photo the information you provide in&nbsp;<em>My Profile &amp; Privacy</em>&nbsp;will  not be visible to other members, however, you may choose to make your email  address visible. All of your activities in My Groups and Ideas will display  your&nbsp;<em>Nickname</em>&nbsp;and profile photo to other users of My Groups  and Ideas.</p>
<p>If you do not provide this personal information or provide incomplete  personal information, we may not be able to communicate with you about your  membership or provide you with a tailored experience based on your interests. </p>
<p>We use the information you provide in<em> My CA Settings,&nbsp;</em>and&nbsp;<em>My  Communication Preferences</em>&nbsp;to: (i) display carefully tailored and  personalised content such as events, courses and promotions (including related  products or services of third party partners) which may be of interest to you  in the My CA Home page; (ii) to provide you with notifications regarding posts  that you have made and/or been mentioned in; and (iii) send you marketing and promotional materials (including by email and SMS) regarding  products, services and events (including related to third parties) that we  think you might be interested in. You can update your <em>My CA Settings </em>or <em>My  Communication Preferences </em>at any time. &nbsp;</p>
<p>If you join any groups, you will automatically receive weekly email  digests (<strong>Weekly Digests</strong>) to help  keep you up-to-date on what has been happening in the groups that you are a  member of.  You can change your Weekly  Digest communications by navigating to the relevant group and selecting  &lsquo;Limited&rsquo; under the &lsquo;Weekly Digests&rsquo; icon. <em> <strong></strong></em></p>
<p>We are permitted to process your information for the above purposes, by  relying on one or more of the following lawful grounds: (a) you have explicitly  agreed to us processing such information for a specific reason; (b) the  processing is necessary to perform the agreement we have with you or to take  steps to enter into an agreement with you; (c) the processing is necessary for  us to comply with our legal obligations; or (d) the processing is necessary for  our legitimate interests, which include to: (i) provide you with a smooth and  efficient customer experience; (ii) to provide the services you have requested;  (iii) to evaluate, develop or improve our services; and (iv) to keep you  informed about relevant services.&nbsp; </p>
  <p>Where you have consented to our processing of such information (including any  sensitive information) you may withdraw such consent at any time, by contacting  us using the contact details in our Privacy Policy. Please note, however, that  in certain circumstances it may be still lawful for us to continue processing  this information even where consent has been withdrawn, if one of the other  legal bases described above is applicable.</p>
 <p> We use, disclose, process and handle your personal information in  accordance with our&nbsp;<a href="https://www.charteredaccountantsanz.com/privacy-policy">Privacy Policy</a>.</p>
 <p> While your personal information is collected in Australia, it is likely  that it will be disclosed to overseas recipients outside your country of  residence in accordance with our&nbsp;<a href="https://www.charteredaccountantsanz.com/privacy-policy">Privacy Policy</a>.</p>
 <p> Our&nbsp;<a href="https://www.charteredaccountantsanz.com/privacy-policy">Privacy Policy</a>&nbsp;also contains  the contact details of our Privacy Officer / Data Protection Officer and  information regarding your rights (including how to withdraw your consent, if  applicable) and how you can seek to access and correct your personal  information or raise a privacy concern with us and how it will be dealt with.</p>
  <p>If you have any questions or concerns about this Privacy Collection  Statement, our Privacy Policy or how we handle your personal information,  please contact our Privacy Officer / Data Protection Officer.</p>
