.THIS article.slds-card {
	cursor: pointer;
    border-width: 0.5px;
    margin-bottom: 4px;
}

.THIS article.slds-card:hover {
	background-color: #eeeeee;
}

.THIS article.slds-card:active {
	background-color: #cccccc;
}

.THIS .product-description.extended {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.THIS .slds-card__header h2 {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.THIS .greyIcon{ background: #58595B; }
.THIS .orangeIcon{ background: #EA7600; }
.THIS .blueIcon{ background: #00A3DD; }

.THIS .slds-card__body{
	padding: 0 .25rem;
	margin-bottom: .25rem;
}
.THIS .slds-card__header {
	margin-bottom: .25rem;
}