.THIS .container-settings  {
    border-top: 2px solid #d22630 !important;
    background-color: #f2f2f2 !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.THIS .faca-checkboxes {
    overflow: hidden;
}
.THIS .faca-align-horizonatlly {
    float: left;
}
.THIS .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}
.THIS .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.THIS .modalspinner .slds-box {
    background-color: #b7bf10;
}
.THIS .modalspinner {
    position:absolute;
    height:100%;
    width:100%;
    z-index: 500;
}

.THIS .modalspinner .slds-box {
    background-color: #b7bf10;
}

.THIS .modalspinner h2.slds-text-heading--small {
    padding-bottom: 100px;
    color: white;
}
.THIS .centered {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
.THIS .bold-separator {
    border-bottom: 2px solid grey;
}
.THIS .slds-text-heading--small.alert-message {
    color: white !important;
}
.THIS .inline-spinner {
    width: 19px;
}