.THIS .slds-p-around_small {
    padding: 5px;
}

.THIS .error-close-icon {
    width: 20px;
}

.THIS .slds-text-body--regular{
    color: white;
    font: Nexa;
}

.THIS .slds-text-align--center .slds-button{
    color: white;
    font: Nexa;
}

.THIS .slds-form-element__label {
    color: white;
    font: Nexa;
}

.THIS .slds-form-element__help {
    color: white;
    font: Nexa;
}


.THIS .slds-required{
    color: white;
}

.THIS .slds-button[disabled]{
    background-color: rgb(180, 180, 180);
    color: rgb(100, 100, 100);
    font: Nexa;
}
.THIS .slds-button[disabled]:hover {
    background-color: rgb(180, 180, 180);
    color: white;
}

.THIS .slds-button_brand ,
.THIS .slds-button_brand:hover {
    background-color: rgb(0, 163, 221);
    color: white;
}

/*
.THIS .slds-button_brand {
    background-color: rgb(0, 163, 221);
    color: yellow;
}
*/