.THIS .texttitle {
    font-family: Nexa;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}
.THIS .chatter-section {
	max-width: 870px;
}
.THIS span.slds-checkbox {
	margin-top: 8px;
	margin-bottom: 10px;
	display: inline-block;
}
.THIS .chatter-checks span.slds-checkbox {
	width: 50%;
}
.THIS .communication-checks span.slds-checkbox {
	width: 150px;
}