﻿/******************************************************************************
* Content - Main Area
*******************************************************************************/

BODY {
	font-family:verdana;
	font-size:12px; /* 12pt */
	color:#030000;
	margin-bottom:8px;
}

/******************************************************************************
* Content - Tag styles
*******************************************************************************/

h1 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:20px;
	margin:6px 0;
	color:#004667;
}
h2 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:16px;
	margin:4px 0 4px 0;
	color:#ffffff;
	background-color:#004667; 
	margin-left:-5px;
	padding-left:5px;
}
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active 
{
	color:#ffffff;
}
h3 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:16px;
	margin:6px 0;
	color:#004667
}
h4 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:14px;
	margin:6px 0;
	color:#004667;	
}
h5 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:12px;
	margin:6px 0;
	color:#004667;
}
h5 a:link,
h5 a:visited,
h5 a:hover,
h5 a:active 
{
	color:#004667;
}
h6 { 
	font-family:verdana;
	font-weight:bold; 
	font-size:11px;
	margin:6px 0;
	color:#4e5e5e;
}

p { 
	margin: 16px 0; /* 16pt 0 */ 
}

table { border-collapse:collapse; }
table p { 
	margin: 0 0; /* 16pt 0 */ 
}

ul {
	display:block;
	list-style-type:disc;
	margin:1em 0;
	padding-left:40px;
}
ul ul {
	margin-bottom:0;
	margin-top:0;
	list-style-type:circle;
}
ul ul ul {
	list-style-type:square;
}
ol {
	padding-left:40px;
	display:block;
	list-style-type:decimal;
	margin:1em 0;
}
ol ol {
	margin-bottom:0;
	margin-top:0;
}
li {
	display:list-item;
}

blockquote {
	display:block;
	margin:1em 40px;	
}

/******************************************************************************
* Content - classes
*******************************************************************************/

.box 
{
    border: 1px solid #e5f0f6;
}
.boxTabs
{
    font-family:Verdana;
    font-size:14pt;
    margin-top:2px;
    color:#49a2c3;
}
.boxHeading 
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	color:#48a2c4;
	background-color:#e5f0f6;
}
.boxFooterLink 
{
	text-align:right;
	font-family:verdana;
	font-weight:bold;
	font-style:italic;
	font-size:11px; /* 10pt */
	color:#49a2c3;
}

.date
{
    font-family:verdana;
	font-weight:normal; 
	font-size:9px;
	color:#48a2c4;	
}

a.footerLink:link,
a.footerLink:visited,
a.footerLink:hover,
a.footerLink:active {
	font-family:verdana;
	font-weight:bold;
	font-style:italic;
	font-size:10px; /* 10pt */
	color:#49a2c3;
}

td.TableTitle, tr.TableTitle td 
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	color:#48a2c4;
	background-color:#e5f0f6;
}
td.TableHeading, tr.TableHeading td {
	font-weight:bold;
	padding:3px 0 3px 5px;
	background-color:#FFFFFF;
	color:#303030;
	border:1px solid #a1bfd3;
}
tr.TableRow1 td {
	padding:3px 0 3px 5px;
	color:#3a3c3d;
	border:1px solid #cde3ee;
	background-color:#e7f2f7;
}
tr.TableRow2 td {
	padding:3px 0 3px 5px;
	color:#3a3c3d;
	border:1px solid #cde3ee;
	background-color:#FFFFFF;
}

.whiteText {color:#ffffff;}
.whiteText a:link,
.whiteText a:visited,
.whiteText a:hover,
.whiteText a:active 
{
	color:#ffffff;
}

#content table.listing-table {
	border:1px solid #9fcadf;
	margin:0 0 16px 0;
	width:100%;
}
#content table.listing-table tr {
	
}
#content td.TableTitle, #content tr.TableTitle td 
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	color:#48a2c4;
	background-color:#EBF4F9;
}
#content table.listing-table th,
#content td.tableHeading, #content tr.tableHeading td {
	font-weight:bold;
	padding:5px;
	background-color:#EBF4F9;
	color:#303030;
	border:1px solid #9fcadf;
}
#content table.listing-table td,
#content tr.TableRow1 td, #content tr.TableRow2 td {
	padding:5px;
	color:#3a3c3d;
	border:1px solid #9fcadf;
	vertical-align:top;
}
#content table.listing-table tr:nth-child(2n+1) td,
#content table.listing-table tr.odd td, 
#content tr.TableRow2 td {
	/*background-color:#FFFFFF;*/
}
#content table.listing-table tr:nth-child(2n) td,
#content table.listing-table tr.even td,
#content tr.TableRow1 td {
	/*background-color:#e7f2f7;*/
}

