﻿
/******************************************************************************
* Home page
*******************************************************************************/

#homeContent
{
    width:100%;
    float:left;
}

#homeContent #content.contentFullWidth
{
    width:100%;
    padding-left: 0px;
    margin-top:3px;
}

#homeContentAd1 { margin-top:8px; }

#homeContentBoxs 
{
    font-size:11px;
      
}
#homeContentBoxs ul{padding-left:2px}
#homeContentBoxs ul li{padding-left:10px}
#homeContentBoxs1 { float:left; background:transparent url(/~/media/NZICA/Images/Homepage/HomePagePodGradient.ashx) 0px 108px no-repeat scroll; }
#homeContentBoxs2 { float:left; margin-left:9px; background:transparent url(/~/media/NZICA/Images/Homepage/HomePagePodGradient.ashx) 0px 108px no-repeat scroll;}
#homeContentBoxs3 { float:left; margin-left:9px; background:transparent url(/~/media/NZICA/Images/Homepage/HomePagePodGradient.ashx) 0px 108px no-repeat scroll;}
#homeContentBoxs4 { float:right; margin-right:0px; background:transparent url(/~/media/NZICA/Images/Homepage/HomePagePodGradientYellow.ashx) 0px 108px repeat-x scroll;}

#homeContentBoxs1Header { background-color: transparent; color:#004667; height:23px; width:236px; font-size:18pt; font-weight:600; text-indent:7px; padding-top:7px; padding-bottom:5px; }
#homeContentBoxs1Header a:link,
#homeContentBoxs1Header a:visited,
#homeContentBoxs1Header a:hover,
#homeContentBoxs1Header a:active { color:#004667; font-size:14pt; line-height:20pt;}

#homeContentBoxs2Header { background-color:transparent; color:#004667; height:23px; width:236px; font-size:18pt; font-weight:600; text-indent:7px; padding-top:7px; padding-bottom:5px; }
#homeContentBoxs2Header a:link,
#homeContentBoxs2Header a:visited,
#homeContentBoxs2Header a:hover,
#homeContentBoxs2Header a:active { color:#004667; font-size:14pt; line-height:20pt;}

#homeContentBoxs3Header { background-color:transparent; color:#004667; height:23px; width:236px; font-size:18pt; font-weight:600; text-indent:7px; padding-top:7px; padding-bottom:5px; }
#homeContentBoxs3Header a:link,
#homeContentBoxs3Header a:visited,
#homeContentBoxs3Header a:hover,
#homeContentBoxs3Header a:active { color:#004667; font-size:14pt; line-height:20pt; }

#homeContentBoxs4Header { background-color:transparent; color:#004667; height:23px; width:236px; font-size:18pt; font-weight:600; text-indent:7px; padding-top:7px; padding-bottom:5px; }
#homeContentBoxs4Header a:link,
#homeContentBoxs4Header a:visited,
#homeContentBoxs4Header a:hover,
#homeContentBoxs4Header a:active { color:#004667; font-size:14pt; line-height:20pt; }

#homeContentBoxs1Content { border:0px solid #49a2c3; padding:0; }
#homeContentBoxs2Content { border:0px solid #c7c84e; padding:0; }
#homeContentBoxs3Content { border:0px solid #004667; padding:0; }
#homeContentBoxs4Content { border:0px solid #004667; padding:0; }

#homeContentBoxs1Content ul { line-height:17px; margin-bottom: 5px; margin-left: 5px  }
#homeContentBoxs1Content ul li {background:transparent url(/~/media/NZICA/Images/Homepage/HomeCampaignArrow.ashx) 0 50% no-repeat scroll; }
#homeContentBoxs1Content ul li a, a.visited { color:#303030; font-size: 11px; font-weight: 600;}
#homeContentBoxs1Content ul li a:hover { color:#004667; }
#homeContentBoxs2Content ul { line-height:17px; margin-bottom: 5px; margin-left: 5px  }
#homeContentBoxs2Content ul li {background:transparent url(/~/media/NZICA/Images/Homepage/HomeCampaignArrow.ashx) 0 50% no-repeat scroll; }
#homeContentBoxs2Content ul li a, a.visited { color:#303030; font-size: 11px; font-weight: 600;}
#homeContentBoxs2Content ul li a:hover { color:#004667; }
#homeContentBoxs3Content ul { line-height:17px; margin-bottom: 5px ; margin-left: 5px }
#homeContentBoxs3Content ul li {background:transparent url(/~/media/NZICA/Images/Homepage/HomeCampaignArrow.ashx) 0 50% no-repeat scroll; }
#homeContentBoxs3Content ul li a, a.visited { color:#303030; font-size: 11px; font-weight: 600;}
#homeContentBoxs3Content ul li a:hover { color:#004667; }
#homeContentBoxs4Content ul { line-height:17px; margin-bottom: 5px; margin-left: 5px  }
#homeContentBoxs4Content ul li {background:transparent url(/~/media/NZICA/Images/Homepage/HomeCampaignArrow_Green.ashx) 0 50% no-repeat scroll; }
#homeContentBoxs4Content ul li a, a.visited { color:#303030; font-size: 11px; font-weight: 600;}
#homeContentBoxs4Content ul li a:hover { color:#004667; }


#divCampaignFooter1
{
    padding-top:4px;
    text-align:right;
    height:22px;
    width:236px;
    background: url(/~/media/NZICA/Images/Homepage/HomeCampaignFooterStrip.ashx) no-repeat scroll;
}

#divCampaignFooter2
{
    padding-top:4px;
     text-align:right;
    height:22px;
    width:236px;
   
    background: url(/~/media/NZICA/Images/Homepage/HomeCampaignFooterStrip.ashx) no-repeat scroll;
}

#divCampaignFooter3
{
    padding-top:4px;
     text-align:right;
    height:22px;
    width:236px;
    
    background: url(/~/media/NZICA/Images/Homepage/HomeCampaignFooterStrip.ashx) no-repeat scroll;
}

#divCampaignFooter4
{
	padding-top:4px;
     text-align:right;
    height:22px;
    width:236px;
  
    background: url(/~/media/NZICA/Images/Homepage/HomeCampaignFooterStrip_lightyellow.ashx) no-repeat scroll;
}

#homeContentBoxs 
a.footerLink:link,
a.footerLink:visited,
a.footerLink:hover,
a.footerLink:active {
	padding-right: 5px;
	font-family:verdana;
	font-weight:bold;
	font-style:normal;
	font-size:12px; /* 10pt */
	color:#004667;
	background:transparent url(/~/media/NZICA/Images/Homepage/HomeCampaignArrow.ashx) no-repeat scroll 48px 4px ;
}


/******************************************************************************
* Home page News Slider - Move this to default.cs if the control will be used else where in the site
*******************************************************************************/

#content #divNewsSlider 
{
    width:970px; 
    height:28px;
    /*overflow:hidden;*/
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/LatestNewsSlider/LatestNewsStripBG.ashx) 0 0 no-repeat;
}

#content #divNewsSlider #divNewsSliderControl
{
    padding-top:4px; 
    color:#ffffff;
    float:left;
    width:130px;
    height:26px;
    background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/LatestNewsSlider/LatestNewsButton.ashx) -3px 0 no-repeat;
}



#content #divNewsSlider #divNewsSliderControl #divNewsSliderLable { float:left; padding-left:10px; font-size:13px;  } /* change "Latest News" font, make arrow clear */
#content #divNewsSlider #divNewsSliderControl #divNewsSliderLable a:link,
#content #divNewsSlider #divNewsSliderControl #divNewsSliderLable a:visited,
#content #divNewsSlider #divNewsSliderControl #divNewsSliderLable a:hover,
#content #divNewsSlider #divNewsSliderControl #divNewsSliderLable a:active { color:#ffffff;}


#content #divNewsSlider #divNewsSliderControl #divNewsSliderNext { float:right; cursor:pointer; padding-right:10px; margin-top:4px; height:10px; width:6px; background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/LatestNewsSlider/LastestNewsArrowPointdLeft.ashx) 0 0 no-repeat; }
#content #divNewsSlider #divNewsSliderControl #divNewsSliderPrev { float:right; cursor:pointer; padding-right:10px; margin-top:4px; height:10px; width:6px; background:transparent url(/~/media/NZICA/Images/Site%20Structure/Controls/LatestNewsSlider/LastestNewsArrowPointdRight.ashx) 0 0 no-repeat;}

#content #divNewsSlider #divNewsSliderContainer {  margin: 0 auto; float:left; width:835px; height: 26px;  overflow: hidden;}
#content #divNewsSlider #divNewsSliderContainer #ulNewsSliderInner {  margin:0; padding:0; list-style:none; width:4550px; padding-top:5px;  }
#content #divNewsSlider #divNewsSliderContainer #ulNewsSliderInner .liNewsItem {  float:left; margin:0px; text-align:left; width:835px; height:24px; background-image:none; color: #336b85; font-family:Tahoma;  }
