﻿/******************************************************************************
* icons
*******************************************************************************/

#content h2 .h2RssIcon
{
    float:right; margin-top:-19px; margin-right:5px;
}
