﻿
/******************************************************************************
* Template Level 1, 2 and 3 Pod Controls
*******************************************************************************/

#content .divLevel1PodLeft, .divLevel1PodRight
{

 
    width: 252px;
    height: 259px;   
    margin-top:20px;
    /*border: 1px solid Silver;*/
}

#content .divLevel1PodLeft
{
    float:left;
}
#content .divLevel1PodRight
{
    float:right;
}
#content .divLevel1PodLeft img 
{
    border:0;
    position: absolute;
    z-index: -1;
}
#content .divLevel1PodRight img 
{
    border:0;
    position: absolute;
    z-index: -1;
}

#content .divLevel1PodImage
{
    height: 124px;
    background:url(/~/media/NZICA/Images/Site%20Structure/Controls/LevelPagePods/Keyline%20Level1Pods.ashx);
}

#content .divLevel1PodText
{
    height: 113px;
    width:240px;
    overflow:hidden;
    border-top: 1px solid white;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 0px solid White;
    padding-left:10px;
    background-color: white;
}


#content .divLevel2PodTop
{
    width: 100%;
    margin-top:20px;
    border: 1px solid #e6e6e6;
}



#content .divLevel2PodImage
{
    float:left;
    margin:10px 0 10px 10px;
    /*border: 1px solid Red;*/
}

#content .divLevel2Pods
{
    float:left;
    width:165px;
    margin:10px 0 10px 0;
}

#content .divLevel2PodTopText
{
    height: 112px;
    overflow:hidden;
    padding-left:10px;
    padding-right:3px;
}

#content .divLevel2PodTopText h3
{
    color: #004667;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 3px;
}

#content .divLevel2PodText
{
    height: 126px;
    width:159px !important;
    overflow:hidden;
    padding-left:5px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 0px solid Blue;
}

#content .divLevel2PodText h3
{
    color: #004667;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 3px;
}
