/******************************************************************************
* WebPart tags
*******************************************************************************/


/******************************************************************************
* my Page tags
*******************************************************************************/

#content #divTitleTxt
{
    float:left; 
    width:513px;
    margin-bottom:5px;

}

#content #divSettings
{
    float:right; 
    width:249px;
    margin-bottom:5px;
    /* border:1px solid Black;*/
}

#content #divZone1
{
    float:left; width:249px; margin-right:10px; /*border:1px solid green;*/
}

#content #divZone2
{
    float:left; width:249px; margin-right:10px; /*border:1px solid orange;*/
}

#content #divZone3
{
    float:right; width:249px /*border:1px solid red; */
}

.PortalToolbutton
{
  cursor:default;
  display:inline;
  font:7pt verdana;
  padding: 4 4 4 4;
  color: Maroon;
}

.CatalogLink
{
  cursor:default;
  display:inline;
  font:9pt verdana;
  padding: 4 4 4 4;
  color: Purple;
}

.CatalogLabel
{
  cursor:default;
  display:inline;
  font:9pt verdana;
  font-weight:bold;
  padding: 4 4 4 4;
  color: Maroon;
}

.CatalogToolbutton
{
  cursor:default;
  display:inline;
  font:7pt verdana;
  padding: 4 4 4 4;
  color: Maroon;
}

.PortalToolbutton_Hover
{
  cursor:default;
  display:inline;
  font:7pt verdana;
  text-decoration: underline;
  padding: 0 4 0 4;
}

.PortletOptions
{
  border-top:px solid #b6b8cb;
  text-align:right;
  padding: 4;
}

.CatalogWindow
{
  margin:0 0 12 0;
  padding: 0 0 0 0;
  width: 100%;
  border:solid 1px #B6B8CB;
  background: #fcfcff;
}

.CatalogCaption
{
  font: bold 8pt tahoma;
  width:100%;
}

.CatalogBody
{
  border-top:none;
  background:white;
}

.PortletWindow
{
  margin:0 0 12 0;
  padding: 0 0 0 0;
  width: 100%;
  /*border:solid 1px #ff0000;
  border-top:none;*/
}

.PortletCaption
{
    background: #f8f8fa;
	font-family:verdana;
	font-weight:bold; 
	font-size:12px; /* 12pt */
	line-height:26px; /* 26pt */
	color:#004667;
	
	}

.EditPartCaption
{
  font: bold 8pt tahoma;
}

.PortletBody
{
  border-top:none;
  background: #fcfcff;

}