﻿/******************************************************************************
* News page
*******************************************************************************/

#content #newsFeature
{
    float:left; 
    width:220px; 
    margin-left:-5px; 
    padding-left:5px;

}

#content #newsFeature .newsFeatureImg
{
    width:221px; 
    height:252px; 
    margin-left:-5px;
    overflow:hidden;
    margin-top:12px;
}

#content #newsFeature .newsFeatureTxt
{
    width:211px; 
    background-color:#004667; 
    color:#ffffff; 
    margin-left:-5px; 
    padding:5px;
}

#content .otherNewsFeatures
{
    float:right; 
    width:298px;
}

