.THIS h3 {
    padding: 5px 1.5rem;
    min-height: 42px;
}

.THIS .title {
    padding: 0.5rem 0 0 0;
}

.THIS .addButton {
    margin-left: 2rem;
}

.THIS .error {
    margin: 0 0 0 2rem;
    color: rgb(194, 57, 52);
    font-size: 1.0rem;
}