<!--
@change-history   #FIX004 -   WDCi-Lkoh   -   05/09/2019  -   Changed the EQual saving behavior
-->
<template>
    <lightning-input label="My eQuals" value={eQualValue} onblur={handleChange}></lightning-input>  <!-- #FIX004 - Changed to onblur for saving -->
</template>