.THIS {
  color: white;
  width: 100%;
}

.THIS .specs {
  background-color: #00629e;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 2px solid white;
}

.THIS .exemps {
  background-color: #848483;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.THIS .slds-list_horizontal .slds-item_label {
  padding-right: 0;
  padding-left: 0.75rem;
}