.THIS {
}

.THIS .cuf-feedElementIterationItem.slds-feed__item {
  display: none;
}

.THIS .cuf-feedElementIterationItem.slds-feed__item:nth-child(-n+3) {
  display: block;
}

.THIS .cuf-showMoreContainer {
	display: none;
}

.THIS .slds-feed__item {
	padding: 0;
}
.THIS .slds-feed__item-comments {
	border: none;
}