.THIS .selfServiceUserProfileMenu .menuList.popupTargetContainer.uiPopupTarget.uiMenuList.uiMenuList--default {
  background: #00629E;
  margin-top: 15px;
  z-index: 5001; /* to get the profile menu expanded on top of the search component */
}

.THIS .selfServiceUserProfileMenu .uiMenuList--default.uiMenuList {
  padding: 0;
}

.THIS .selfServiceUserProfileMenu li.uiMenuItem {
  border-top: 1px solid white;
}

.THIS .profileHere a,
.THIS .profileHere a:hover,
.THIS .profileHere a:focus,
.THIS .profileHere a:active {
  color: white;
}


/* Hide My Account from User Profile Menu */
.THIS .profileHere .uiMenu.selfServiceUserProfileMenu .myAccount.uiMenuItem {
  display: none;
}

/* Set Notification icon colour to white. */
.THIS .slds-global-header__button_icon .slds-icon,
.THIS .slds-global-header__button_icon:hover:not(:disabled) .slds-icon,
.THIS .slds-global-header__button--icon .slds-icon,
.THIS .slds-global-header__button--icon:hover:not(:disabled) .slds-icon {
  color: white;
  fill: white;
}