.THIS .icon {
    margin-top: -15px;
}

.THIS .button-left {
    min-width: 100px;
}

.THIS .button-right {
    margin: 0 0 0 5px;
}

.THIS .uploadedLabel {
    margin: 5px 5px;
}

.THIS .uploadingLabel {
    margin: 5px 5px 5px 35px;
}

.THIS .uploadingSpinner {
    top: 13px;
    left: 13px;
}

.THIS .slds-show {
    display: none;
}

.THIS .slds-file-selector__button {
    cursor: pointer;
}

.THIS .max-size {
    color: rgb(194, 57, 52);
}

.THIS .slds-button {
    white-space: nowrap;
}

.THIS .slds-file-selector__button {
    margin-bottom: 10px;
}