.THIS .chart-box {
  width: 200px;
  text-align: center;
}

.THIS .chart-middle {
  transform: translateY(-130px);
}

.THIS .chart-bottom {
  transform: translateY(-40px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.THIS .fade-in {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration: 1s;
  animation-delay: 1.5s
}


.THIS .inner-donut-container {
  transform: scaleX(-1);
}

.THIS .slds-text-heading_x-large {
  font-size: 2rem;
}