/* Required for truncate to work responsively */
.THIS .home-links {
	min-width: 0;
}

.THIS .reco-card:nth-child(n+6) {
  display: none;
}

@media (max-width: 767px) {
	.THIS .home-chart {
		padding-bottom: 1.5rem;
	}
}