.THIS .circle {
    min-width: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    background: #000000;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.THIS article.slds-card {
	width: 100%;
	min-width: 0;
    border-width: 0 0 1px 0;
    background-color: transparent;
}

.THIS .reco-card {
	cursor: pointer;	
}

.THIS .reco-card:hover {
	background-color: #eeeeee;
}

.THIS .reco-card:active {
	background-color: #cccccc;
}

.THIS .slds-card__header {
	margin-bottom: 0.25rem;
	padding-top: 0.5rem;
    padding-left: 0.75rem;
}

.THIS .slds-card__header h2 {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.THIS .slds-card__body {
    margin-bottom: 0.25rem;
}

.THIS .article-description .extended {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.THIS .kohagreenIcon{ background: #B7BF10; }
.THIS .blueIcon{ background: #00629E; }
.THIS .greenIcon{ background: #78683E; }

.THIS .slds-card__body{
    padding: 0 .25rem;
}