.THIS {
}
.THIS .slds-form-element__control{
    font-size: 0.95rem !important;
    color: #555555;
}
.THIS .slds-text-heading_small{
    FONT-WEIGHT: bold;
}
.THIS .read-account-fields .slds-form-element__control {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.THIS .borderBottom {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.THIS .slds-form-element__label {
    font-size: 0.95rem !important;
    padding: 2px 0 !important;
}
.THIS .header {
    font-size: 32px;
    clear: right;
    color: #333;
    display: inline-block;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    word-wrap: break-word;
}

.THIS .subheader {
    font-size: 0.95rem;
    font-weight: bold;
}
.THIS .slds-card {
    border: 3px solid rgb(223, 224, 226);
}

.THIS .slds-checkbox .slds-checkbox_faux, .THIS .slds-checkbox .slds-checkbox--faux{
    border: 3px solid rgb(30, 5, 5) !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.THIS .slds-form-element__label_Box {
    font-size: 0.95rem !important;
    padding: 2px 0 !important;
}
.THIS .slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .standardMessg{
    height: 200px;
}