.THIS .read-address-fields .slds-form-element__control {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.THIS .slds-modal__container {
    width: 80%;
    max-width: 80%;
}

.THIS .noBorder{
    border-bottom: none;
}
.THIS .slds-form-element__label {
    font-weight: lighter !important;
    font-size: 0.9rem !important;
}
.THIS .alignAddress{
    padding: .75rem 1rem 0;
}
.THIS .uiMessage{
    margin: .75rem 1rem 0;
}